<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M19.9954 3.15308C19.4171 3.15308 18.9482 3.62192 18.9482 4.20027C18.9482 4.77862 19.4171 5.24747 19.9954 5.24747C20.5738 5.24747 21.0426 4.77862 21.0426 4.20027C21.0426 3.62192 20.5738 3.15308 19.9954 3.15308ZM17.1982 4.20027C17.1982 2.65542 18.4506 1.40308 19.9954 1.40308C21.5403 1.40308 22.7926 2.65542 22.7926 4.20027C22.7926 5.74512 21.5403 6.99747 19.9954 6.99747C18.4506 6.99747 17.1982 5.74512 17.1982 4.20027ZM17.0407 9.20014C17.3681 9.45384 17.4279 9.92494 17.1742 10.2524L14.2451 14.0327C14.1227 14.1906 13.9424 14.2932 13.7442 14.3177C13.5459 14.3422 13.346 14.2865 13.1889 14.1631L10.3705 11.9492L7.83933 15.2389C7.58674 15.5672 7.11585 15.6286 6.78756 15.376C6.45927 15.1234 6.39791 14.6525 6.65049 14.3242L9.64363 10.4341C9.76572 10.2754 9.94619 10.1721 10.1449 10.1472C10.3435 10.1223 10.5439 10.1779 10.7013 10.3016L13.5218 12.5171L15.9884 9.33364C16.2421 9.00621 16.7132 8.94644 17.0407 9.20014ZM7.65679 2.24512C5.93388 2.24512 4.47241 2.86136 3.44646 3.96804C2.42745 5.06724 1.90308 6.57904 1.90308 8.26428V16.3467C1.90308 18.0275 2.41575 19.5381 3.43187 20.6374C4.45569 21.745 5.91909 22.3567 7.65679 22.3567H16.2609C17.9827 22.3567 19.4441 21.7435 20.4705 20.6391C21.4902 19.542 22.0146 18.032 22.0146 16.3467V9.30776C22.0146 8.82451 21.6229 8.43276 21.1396 8.43276C20.6564 8.43276 20.2646 8.82451 20.2646 9.30776V16.3467C20.2646 17.6727 19.8555 18.7303 19.1886 19.4478C18.5286 20.158 17.5506 20.6067 16.2609 20.6067H7.65679C6.34644 20.6067 5.37049 20.1565 4.71696 19.4495C4.05573 18.7342 3.65308 17.6773 3.65308 16.3467V8.26428C3.65308 6.93808 4.06234 5.8778 4.72983 5.15778C5.39038 4.44524 6.36827 3.99512 7.65679 3.99512H14.9245C15.4078 3.99512 15.7995 3.60337 15.7995 3.12012C15.7995 2.63687 15.4078 2.24512 14.9245 2.24512H7.65679Z"
      fill="currentColor"
    />
  </g>
</template>


