<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 19C11.5167 19 11.125 18.6083 11.125 18.125L11.125 13.5156L7.13309 15.8203C6.71459 16.062 6.17944 15.9186 5.93782 15.5001C5.6962 15.0816 5.83959 14.5464 6.25809 14.3048L10.25 12L6.25809 9.69529C5.83958 9.45366 5.69619 8.91852 5.93782 8.50001C6.17944 8.08151 6.71458 7.93812 7.13309 8.17974L11.125 10.4845L11.125 5.87501C11.125 5.39177 11.5167 5.00001 12 5.00001C12.4832 5.00001 12.875 5.39177 12.875 5.87501L12.875 10.4845L16.8669 8.17979C17.2854 7.93817 17.8206 8.08156 18.0622 8.50006C18.3038 8.91857 18.1604 9.45371 17.7419 9.69534L13.75 12L17.7419 14.3047C18.1604 14.5464 18.3038 15.0815 18.0622 15.5C17.8205 15.9185 17.2854 16.0619 16.8669 15.8203L12.875 13.5156L12.875 18.125C12.875 18.6083 12.4832 19 12 19Z"
      fill="currentColor"
    />
  </g>
</template>
