<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 3.62509C7.37425 3.62509 3.625 7.37434 3.625 12.0001C3.625 16.6249 7.37431 20.3751 12 20.3751C16.6248 20.3751 20.375 16.6248 20.375 12.0001C20.375 7.3744 16.6248 3.62509 12 3.62509ZM1.875 12.0001C1.875 6.40784 6.40775 1.87509 12 1.87509C17.5912 1.87509 22.125 6.40778 22.125 12.0001C22.125 17.5913 17.5912 22.1251 12 22.1251C6.40769 22.1251 1.875 17.5913 1.875 12.0001ZM11.9951 7.32919C12.4784 7.32919 12.8701 7.72094 12.8701 8.20419V12.6232C12.8701 13.1064 12.4784 13.4982 11.9951 13.4982C11.5119 13.4982 11.1201 13.1064 11.1201 12.6232V8.20419C11.1201 7.72094 11.5119 7.32919 11.9951 7.32919ZM11.9949 14.7961C11.4426 14.7961 10.9949 15.2438 10.9949 15.7961C10.9949 16.3484 11.4426 16.7961 11.9949 16.7961H12.0049C12.5572 16.7961 13.0049 16.3484 13.0049 15.7961C13.0049 15.2438 12.5572 14.7961 12.0049 14.7961H11.9949Z"
      fill="currentColor"
    />
  </g>
</template>

