<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.56647 17.1094L5.41081 16.941C4.33318 15.5192 3.74992 13.7841 3.74992 12C3.74992 10.2159 4.33318 8.48081 5.41081 7.05899L5.56147 6.86021L5.7606 7.01042C6.53287 7.59297 7.15938 8.34684 7.59079 9.21267C8.02221 10.0785 8.24675 11.0326 8.24675 12C8.24675 12.9674 8.02221 13.9215 7.59079 14.7873C7.15938 15.6532 6.53287 16.407 5.7606 16.9896L5.56647 17.1094ZM18.4258 17.1367L18.2395 16.9896C17.4672 16.407 16.8407 15.6532 16.4093 14.7873C15.9779 13.9215 15.7533 12.9674 15.7533 12C15.7533 11.0326 15.9779 10.0785 16.4093 9.21267C16.8407 8.34684 17.4672 7.59297 18.2395 7.01042L18.4386 6.86021L18.5893 7.05899C19.6669 8.48081 20.2502 10.2159 20.2502 12C20.2502 13.7841 19.6669 15.5192 18.5893 16.941L18.4258 17.1367ZM4.83588 18.5928L4.83427 18.591C3.55593 17.1975 2.71041 15.4623 2.4007 13.5968C2.09099 11.7313 2.33046 9.816 3.08994 8.08417C3.84942 6.35235 5.09613 4.87876 6.67822 3.84289C8.26018 2.80711 10.1092 2.25368 12 2.25C13.8909 2.25368 15.7399 2.80711 17.3219 3.84289C18.904 4.87876 20.1507 6.35235 20.9102 8.08417C21.6696 9.816 21.9091 11.7313 21.5994 13.5968C21.2897 15.4623 20.4442 17.1975 19.1658 18.591L19.0764 18.6903C18.1657 19.6511 17.0689 20.4164 15.8529 20.9395C14.6359 21.463 13.3249 21.7331 12 21.7331C10.6752 21.7331 9.36425 21.463 8.14722 20.9395C6.93116 20.4164 5.83437 19.6511 4.92371 18.6904L4.83588 18.5928ZM6.84322 18.0353L6.60253 18.2292L6.84244 18.4241C8.30029 19.6081 10.1219 20.253 12 20.25C13.8781 20.253 15.6998 19.6081 17.1577 18.4241L17.3976 18.2292L17.1569 18.0353C16.2552 17.309 15.5278 16.3898 15.028 15.3454C14.5282 14.301 14.2687 13.1578 14.2687 12C14.2687 10.8422 14.5282 9.69903 15.028 8.65461C15.5278 7.6102 16.2552 6.69104 17.1569 5.96469L17.3981 5.77041L17.1573 5.57563C15.6978 4.39495 13.8773 3.75082 12 3.75082C10.1228 3.75082 8.30233 4.39495 6.84282 5.57563L6.60204 5.77041L6.84322 5.96469C7.74489 6.69104 8.47235 7.6102 8.97215 8.65461C9.47194 9.69903 9.73137 10.8422 9.73137 12C9.73137 13.1578 9.47194 14.301 8.97215 15.3454C8.47235 16.3898 7.74489 17.309 6.84322 18.0353Z"
      fill="currentColor"
    />
  </g>
</template>

