<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.1437 22.7896C10.0754 22.923 9.9586 23 9.83682 23C9.80264 23 9.76774 22.9942 9.73428 22.9817C9.57903 22.9239 9.47222 22.7449 9.47222 22.5417L9.37497 14.2005H5.36453C5.23136 14.2005 5.10818 14.1095 5.04481 13.9627C4.98072 13.8154 4.98571 13.636 5.05763 13.495L13.8563 1.21114C13.9438 1.04017 14.1133 0.960472 14.2657 1.01912C14.421 1.07683 14.5278 1.25587 14.5278 1.45905L14.625 9.80071H18.6355C18.7686 9.80071 18.8918 9.89244 18.9552 10.0393C19.0193 10.1865 19.0143 10.366 18.9424 10.5069L10.1437 22.7896ZM16.2653 11.4674H13.0534L12.9805 5.2107L7.73512 12.5338H10.9466L11.0195 18.7904L16.2653 11.4674Z"
      fill="currentColor"
    />
  </g>
</template>
