<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.033 2C17.6215 2 18.9892 2.52482 19.9589 3.52563C20.9253 4.52305 21.415 5.90896 21.415 7.482V16.678C21.415 18.2437 20.9289 19.6234 19.9704 20.6192C19.0088 21.6183 17.6519 22.1473 16.0754 22.157L16.07 22.157L8.38169 22.16C6.79318 22.16 5.42495 21.6352 4.45549 20.6343C3.48935 19.6368 3 18.2509 3 16.678V7.482C3 5.91646 3.48582 4.53697 4.44406 3.54135C5.40554 2.54236 6.76224 2.01373 8.33861 2.00402L8.344 2.00398L16.033 2ZM16.0332 3.75L8.34939 3.75398L8.34703 3.754C7.16459 3.76179 6.28757 4.14954 5.70494 4.7549C5.11868 5.36403 4.75 6.27754 4.75 7.482V16.678C4.75 17.8891 5.12165 18.8067 5.71251 19.4167C6.30001 20.0233 7.18538 20.4099 8.38075 20.41L16.0646 20.407L16.0671 20.407C17.2494 20.3992 18.1266 20.0113 18.7096 19.4056C19.2961 18.7961 19.665 17.8823 19.665 16.678V7.482C19.665 6.27104 19.2932 5.35345 18.7021 4.74337C18.1143 4.13674 17.2285 3.75008 16.0332 3.75ZM8.12439 6.25024C7.64114 6.25024 7.24939 6.64199 7.24939 7.12524C7.24939 7.60849 7.64114 8.00024 8.12439 8.00024H14.1244C14.7457 8.00024 15.2494 8.50392 15.2494 9.12524V17.1252C15.2494 17.6085 15.6411 18.0002 16.1244 18.0002C16.6076 18.0002 16.9994 17.6085 16.9994 17.1252V9.12524C16.9994 7.53743 15.7122 6.25024 14.1244 6.25024H8.12439Z"
      fill="currentColor"
    />
  </g>
</template>


