<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9H31C31.5523 9 32 8.55228 32 8C32 7.44772 31.5523 7 31 7H1ZM1 15C0.447715 15 0 15.4477 0 16C0 16.5523 0.447715 17 1 17H31C31.5523 17 32 16.5523 32 16C32 15.4477 31.5523 15 31 15H1Z"
      fill="currentColor"
    />
  </g>
</template>

