<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.03687 2.46997C7.03687 1.91769 7.48458 1.46997 8.03687 1.46997C8.58915 1.46997 9.03687 1.91769 9.03687 2.46997V3.41504H14.9614H15.0369V2.46997C15.0369 1.91769 15.4846 1.46997 16.0369 1.46997C16.5892 1.46997 17.0369 1.91769 17.0369 2.46997V3.45424C18.4391 3.60591 19.6323 4.19323 20.5081 5.13796C21.5271 6.23716 22.0515 7.74896 22.0515 9.4342V16.5166C22.0515 18.1974 21.5388 19.708 20.5227 20.8073C19.4989 21.9149 18.0355 22.5266 16.2978 22.5266H7.69368C5.95597 22.5266 4.49255 21.9149 3.46873 20.8073C2.45261 19.708 1.93994 18.1974 1.93994 16.5166V9.4342C1.93994 7.74896 2.46432 6.23716 3.48333 5.13796C4.37621 4.17481 5.59898 3.58314 7.03687 3.44586V2.46997ZM15.0369 5.16504V5.86997C15.0369 6.42226 15.4846 6.86997 16.0369 6.86997C16.5892 6.86997 17.0369 6.42225 17.0369 5.86997V5.21804C17.9665 5.35653 18.6969 5.75834 19.2248 6.3277C19.8473 6.99923 20.2452 7.96675 20.296 9.16992H3.69546C3.74623 7.96675 4.14415 6.99923 4.76669 6.3277C5.30999 5.74165 6.06795 5.33311 7.03687 5.20654V5.86997C7.03687 6.42226 7.48458 6.86997 8.03687 6.86997C8.58915 6.86997 9.03687 6.42225 9.03687 5.86997V5.16504H14.9614H15.0369ZM3.68996 16.5166V11.0699H20.3015V16.5166C20.3015 17.8427 19.8923 18.9002 19.2255 19.6177C18.5654 20.3279 17.5875 20.7766 16.2978 20.7766H7.69368C6.40399 20.7766 5.42604 20.3279 4.76596 19.6177C4.09912 18.9002 3.68996 17.8427 3.68996 16.5166ZM10.0369 14.6699C9.48458 14.6699 9.03687 15.1176 9.03687 15.6699C9.03687 16.2222 9.48458 16.6699 10.0369 16.6699H14.0369C14.5891 16.6699 15.0369 16.2222 15.0369 15.6699C15.0369 15.1176 14.5891 14.6699 14.0369 14.6699H10.0369Z"
      fill="currentColor"
    />
  </g>
</template>



