<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M9.10992 15.4332H16.7249C17.2446 15.4333 17.7525 15.2776 18.1829 14.9863C18.6133 14.6949 18.9464 14.2813 19.1394 13.7987L21.5961 7.65533C21.7032 7.38738 21.743 7.09728 21.712 6.81039C21.6811 6.52351 21.5803 6.24857 21.4186 6.00961C21.2568 5.77066 21.039 5.57496 20.7842 5.43962C20.5293 5.30428 20.2451 5.23342 19.9566 5.23324H6.17532L5.76108 3.78577C5.60599 3.24284 5.27837 2.76516 4.82775 2.42492C4.37712 2.08469 3.8279 1.9004 3.26326 1.8999H2.85326C2.60572 1.8999 2.36832 1.99824 2.19329 2.17327C2.01826 2.3483 1.91992 2.5857 1.91992 2.83324C1.91992 3.08077 2.01826 3.31817 2.19329 3.4932C2.36832 3.66824 2.60572 3.76657 2.85326 3.76657H3.26315C3.42236 3.76686 3.57716 3.81896 3.70415 3.91499C3.83116 4.01104 3.92347 4.1459 3.9671 4.29905L6.61045 13.5491C6.76594 14.092 7.09395 14.5695 7.5449 14.9094C7.99584 15.2494 8.5452 15.4332 9.10992 15.4332ZM9.51992 22.0999C9.86136 22.0999 10.1995 22.0327 10.5149 21.902C10.8303 21.7713 11.117 21.5798 11.3584 21.3384C11.5998 21.0969 11.7913 20.8103 11.922 20.4949C12.0527 20.1794 12.1199 19.8413 12.1199 19.4999C12.1199 19.1585 12.0527 18.8204 11.922 18.5049C11.7913 18.1895 11.5998 17.9029 11.3584 17.6614C11.117 17.42 10.8303 17.2285 10.5149 17.0978C10.1995 16.9672 9.86136 16.8999 9.51992 16.8999C8.83036 16.8999 8.16904 17.1738 7.68144 17.6614C7.19385 18.149 6.91992 18.8103 6.91992 19.4999C6.91992 20.1895 7.19385 20.8508 7.68144 21.3384C8.16904 21.826 8.83036 22.0999 9.51992 22.0999ZM9.51992 20.2332C9.32543 20.2332 9.1389 20.156 9.00138 20.0184C8.86385 19.8809 8.78659 19.6944 8.78659 19.4999C8.78659 19.3054 8.86385 19.1189 9.00138 18.9814C9.1389 18.8438 9.32543 18.7666 9.51992 18.7666C9.71441 18.7666 9.90094 18.8438 10.0385 18.9814C10.176 19.1189 10.2533 19.3054 10.2533 19.4999C10.2533 19.6944 10.176 19.8809 10.0385 20.0184C9.90094 20.156 9.71441 20.2332 9.51992 20.2332ZM16.1865 22.0999C16.528 22.0999 16.8661 22.0327 17.1815 21.902C17.497 21.7713 17.7836 21.5798 18.025 21.3384C18.2665 21.0969 18.458 20.8103 18.5886 20.4949C18.7193 20.1794 18.7865 19.8413 18.7865 19.4999C18.7865 19.1585 18.7193 18.8204 18.5886 18.5049C18.458 18.1895 18.2665 17.9029 18.025 17.6614C17.7836 17.42 17.497 17.2285 17.1815 17.0978C16.8661 16.9672 16.528 16.8999 16.1865 16.8999C15.497 16.8999 14.8357 17.1738 14.3481 17.6614C13.8605 18.149 13.5865 18.8103 13.5865 19.4999C13.5865 20.1895 13.8605 20.8508 14.3481 21.3384C14.8357 21.826 15.497 22.0999 16.1865 22.0999ZM16.1865 20.2332C15.9921 20.2332 15.8055 20.156 15.668 20.0184C15.5305 19.8809 15.4532 19.6944 15.4532 19.4999C15.4532 19.3054 15.5305 19.1189 15.668 18.9814C15.8055 18.8438 15.9921 18.7666 16.1865 18.7666C16.381 18.7666 16.5676 18.8438 16.7051 18.9814C16.8426 19.1189 16.9199 19.3054 16.9199 19.4999C16.9199 19.6944 16.8426 19.8809 16.7051 20.0184C16.5676 20.156 16.381 20.2332 16.1865 20.2332ZM6.57656 7L8.3099 13.0617C8.35948 13.2357 8.46436 13.3889 8.60868 13.498C8.75301 13.6071 8.92895 13.6664 9.1099 13.6667H16.7249C16.8913 13.6666 17.0539 13.6168 17.1917 13.5235C17.3296 13.4302 17.4363 13.2978 17.4982 13.1433L19.9549 7H6.57656Z"
      fill="currentColor"
    />
  </g>
</template>


