<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.87659 4.47018C2.87659 3.582 3.58833 2.875 4.45051 2.875H7.71608C8.57826 2.875 9.29 3.582 9.29 4.47018V7.7641C9.29 8.65149 8.57802 9.35929 7.71608 9.35929H4.45051C3.58857 9.35929 2.87659 8.65149 2.87659 7.7641V4.47018ZM4.45051 1.125C2.6076 1.125 1.12659 2.6298 1.12659 4.47018V7.7641C1.12659 9.60322 2.60736 11.1093 4.45051 11.1093H7.71608C9.55922 11.1093 11.04 9.60322 11.04 7.7641V4.47018C11.04 2.62979 9.55898 1.125 7.71608 1.125H4.45051ZM14.7131 4.47018C14.7131 3.582 15.4249 2.875 16.2871 2.875H19.5536C20.4146 2.875 21.1265 3.58176 21.1265 4.47018V7.7641C21.1265 8.65173 20.4143 9.35929 19.5536 9.35929H16.2871C15.4251 9.35929 14.7131 8.65149 14.7131 7.7641V4.47018ZM16.2871 1.125C14.4441 1.125 12.9631 2.6298 12.9631 4.47018V7.7641C12.9631 9.60322 14.4439 11.1093 16.2871 11.1093H19.5536C21.396 11.1093 22.8765 9.60298 22.8765 7.7641V4.47018C22.8765 2.63003 21.3958 1.125 19.5536 1.125H16.2871ZM4.45051 14.6406C3.58857 14.6406 2.87659 15.3474 2.87659 16.2368V19.5297C2.87659 20.4179 3.58833 21.1249 4.45051 21.1249H7.71608C8.57825 21.1249 9.29 20.4179 9.29 19.5297V16.2368C9.29 15.3474 8.57802 14.6406 7.71608 14.6406H4.45051ZM1.12659 16.2368C1.12659 14.3957 2.60736 12.8906 4.45051 12.8906H7.71608C9.55922 12.8906 11.04 14.3957 11.04 16.2368V19.5297C11.04 21.3701 9.55898 22.8749 7.71608 22.8749H4.45051C2.6076 22.8749 1.12659 21.3701 1.12659 19.5297V16.2368ZM14.7131 16.2368C14.7131 15.3474 15.4251 14.6406 16.2871 14.6406H19.5536C20.4143 14.6406 21.1265 15.3471 21.1265 16.2368V19.5297C21.1265 20.4182 20.4146 21.1249 19.5536 21.1249H16.2871C15.4249 21.1249 14.7131 20.4179 14.7131 19.5297V16.2368ZM16.2871 12.8906C14.4439 12.8906 12.9631 14.3957 12.9631 16.2368V19.5297C12.9631 21.3701 14.4441 22.8749 16.2871 22.8749H19.5536C21.3958 22.8749 22.8765 21.3699 22.8765 19.5297V16.2368C22.8765 14.3959 21.396 12.8906 19.5536 12.8906H16.2871Z"
      fill="currentColor"
    />
  </g>
</template>
