<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.0604 1.12509C8.24446 1.10967 4.69822 3.08954 2.71342 6.34484C0.729125 9.59929 0.595322 13.6533 2.3606 17.0311L2.55937 17.4185L2.56617 17.4315C2.61721 17.527 2.63005 17.6379 2.60268 17.742C2.30938 18.5249 2.06381 19.3247 1.86735 20.1373C1.85107 20.2046 1.84284 20.2736 1.84284 20.3429C1.84284 20.5819 1.86703 20.9942 2.13764 21.3427C2.45501 21.7514 2.91626 21.8448 3.28099 21.8367C3.33794 21.8355 3.39463 21.8287 3.45026 21.8164C4.23357 21.6434 5.0052 21.4214 5.76057 21.1516C5.87471 21.1254 5.99408 21.1327 6.10407 21.1729C6.21058 21.2263 6.37714 21.3203 6.54623 21.4177L6.65192 21.4788L6.65243 21.4791L6.65637 21.4814L6.65786 21.4822C6.70266 21.5081 6.74455 21.5324 6.77768 21.5513C6.80818 21.5688 6.84022 21.587 6.86742 21.6017C6.87975 21.6084 6.90061 21.6196 6.92379 21.6309L6.93969 21.6384C10.9303 23.7205 15.7946 23.1362 19.1772 20.1648C22.5689 17.1854 23.7668 12.4243 22.1872 8.19772C20.6077 3.97132 16.5795 1.15821 12.0632 1.1251L12.0604 1.12509ZM4.20759 7.25586C5.87266 4.52495 8.84838 2.86263 12.0518 2.87507C15.8435 2.90345 19.2231 5.2653 20.548 8.81035C21.8729 12.3556 20.8685 16.3498 18.0223 18.85C15.1758 21.3505 11.0781 21.8374 7.72301 20.0732C7.71138 20.0671 7.69964 20.0613 7.68778 20.0557L7.6473 20.0327C7.61439 20.0139 7.57742 19.9925 7.5349 19.9678L7.41997 19.9014C7.24863 19.8027 7.0099 19.6665 6.83715 19.5833C6.8212 19.5756 6.80502 19.5684 6.78864 19.5617C6.30673 19.3645 5.77299 19.3325 5.271 19.4707C5.24951 19.4767 5.22826 19.4834 5.20728 19.4909C4.71962 19.6663 4.22444 19.8197 3.72324 19.9508C3.87501 19.4021 4.05149 18.8604 4.25217 18.3274C4.25828 18.3112 4.2639 18.2948 4.26904 18.2782C4.44066 17.7247 4.38456 17.1259 4.11349 16.614L3.91609 16.2292L3.91612 16.2292L3.91292 16.2231C2.4306 13.3889 2.54235 9.98703 4.20759 7.25586ZM16.9049 13.25C17.5963 13.25 18.1569 12.6904 18.1569 12C18.1569 11.3096 17.5963 10.75 16.9049 10.75C16.2134 10.75 15.6528 11.3096 15.6528 12C15.6528 12.6904 16.2134 13.25 16.9049 13.25ZM13.2541 12C13.2541 12.6904 12.6935 13.25 12.002 13.25C11.3106 13.25 10.75 12.6904 10.75 12C10.75 11.3096 11.3106 10.75 12.002 10.75C12.6935 10.75 13.2541 11.3096 13.2541 12ZM7.1036 13.25C7.79508 13.25 8.35563 12.6904 8.35563 12C8.35563 11.3096 7.79508 10.75 7.1036 10.75C6.41212 10.75 5.85156 11.3096 5.85156 12C5.85156 12.6904 6.41212 13.25 7.1036 13.25Z"
      fill="currentColor"
    />
  </g>
</template>

