<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21.25 12.0001C21.25 17.1087 17.1086 21.2501 12 21.2501C10.3216 21.2501 8.75258 20.8046 7.39899 20.0267C7.01282 19.8048 6.55657 19.7281 6.11407 19.8166L3.70078 20.2992L4.18344 17.8859C4.27194 17.4434 4.19518 16.9871 3.97326 16.601C3.19541 15.2474 2.75 13.6784 2.75 12.0001C2.75 6.89142 6.89137 2.75005 12 2.75005C17.1086 2.75005 21.25 6.89142 21.25 12.0001ZM23 12.0001C23 18.0752 18.0751 23.0001 12 23.0001C10.0076 23.0001 8.13886 22.4703 6.52703 21.544C6.50592 21.5319 6.48114 21.5278 6.45727 21.5326L3.22275 22.1795C2.38892 22.3462 1.65375 21.6111 1.82052 20.7772L2.46743 17.5427C2.4722 17.5188 2.46809 17.494 2.45596 17.4729C1.5297 15.8611 1 13.9924 1 12.0001C1 5.92492 5.92487 1.00005 12 1.00005C18.0751 1.00005 23 5.92492 23 12.0001ZM7.30554 9.5556C7.30554 9.07235 7.69729 8.6806 8.18054 8.6806H15.8194C16.3027 8.6806 16.6944 9.07235 16.6944 9.5556C16.6944 10.0388 16.3027 10.4306 15.8194 10.4306H8.18054C7.69729 10.4306 7.30554 10.0388 7.30554 9.5556ZM7.45831 14.4445C7.45831 13.9613 7.85006 13.5695 8.33331 13.5695H12C12.4832 13.5695 12.875 13.9613 12.875 14.4445C12.875 14.9278 12.4832 15.3195 12 15.3195H8.33331C7.85006 15.3195 7.45831 14.9278 7.45831 14.4445Z"
      fill="currentColor"
    />
  </g>
</template>

