<template>
  <g>
    <path
      d="M15.1723 7.0001L8.58627 13.5861C8.39524 13.7706 8.24288 13.9913 8.13806 14.2353C8.03324 14.4793 7.97807 14.7417 7.97576 15.0073C7.97346 15.2729 8.02406 15.5362 8.12462 15.782C8.22518 16.0278 8.37369 16.2511 8.56147 16.4389C8.74926 16.6267 8.97256 16.7752 9.21836 16.8757C9.46415 16.9763 9.72751 17.0269 9.99307 17.0246C10.2586 17.0223 10.5211 16.9671 10.7651 16.8623C11.0091 16.7575 11.2298 16.6051 11.4143 16.4141L17.8283 9.8281C18.5569 9.07369 18.9601 8.06328 18.951 7.0145C18.9418 5.96571 18.5212 4.96246 17.7795 4.22083C17.0379 3.4792 16.0347 3.05852 14.9859 3.04941C13.9371 3.04029 12.9267 3.44347 12.1723 4.1721L5.75726 10.7571C4.63195 11.8824 3.99976 13.4087 3.99976 15.0001C3.99976 16.5915 4.63195 18.1178 5.75726 19.2431C6.88258 20.3684 8.40883 21.0006 10.0003 21.0006C11.5917 21.0006 13.118 20.3684 14.2433 19.2431L20.5003 13.0001"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>


