<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M3.875 12C3.875 7.51269 7.51269 3.875 12 3.875C16.4873 3.875 20.125 7.51269 20.125 12C20.125 16.4873 16.4873 20.125 12 20.125C7.51269 20.125 3.875 16.4873 3.875 12ZM12 2.125C6.54619 2.125 2.125 6.54619 2.125 12C2.125 17.4538 6.54619 21.875 12 21.875C17.4538 21.875 21.875 17.4538 21.875 12C21.875 6.54619 17.4538 2.125 12 2.125ZM12.875 7C12.875 6.51675 12.4832 6.125 12 6.125C11.5168 6.125 11.125 6.51675 11.125 7V10.764C11.125 11.2981 11.2738 11.8215 11.5546 12.2757C11.8354 12.7299 12.2373 13.097 12.7149 13.3357L15.6087 14.7826C16.0409 14.9987 16.5665 14.8235 16.7826 14.3913C16.9987 13.9591 16.8235 13.4335 16.3913 13.2174L13.4971 11.7703C13.3102 11.6769 13.153 11.5333 13.0431 11.3555C12.9332 11.1778 12.875 10.9729 12.875 10.764V7Z"
      fill="currentColor"
    />
  </g>
</template>



