<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.70724 4.29296C5.31672 3.90243 4.68355 3.90243 4.29302 4.29295C3.9025 4.68346 3.90249 5.31663 4.29301 5.70716L10.5856 12L4.3002 18.2843C3.90964 18.6748 3.90958 19.3079 4.30007 19.6985C4.69055 20.089 5.32372 20.0891 5.71428 19.6986L11.9998 13.4142L18.2925 19.7071C18.6831 20.0976 19.3162 20.0976 19.7067 19.7071C20.0973 19.3166 20.0973 18.6834 19.7068 18.2929L13.4142 12.0001L19.7021 5.7133C20.0927 5.32281 20.0928 4.68965 19.7023 4.29909C19.3118 3.90853 18.6786 3.90847 18.2881 4.29896L12 10.5859L5.70724 4.29296Z"
      fill="currentColor"
    />
  </g>
</template>

