<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20.1 12C20.1 16.4736 16.4736 20.1 12 20.1C7.52654 20.1 3.90005 16.4736 3.90005 12C3.90005 7.52654 7.52654 3.90005 12 3.90005C16.4736 3.90005 20.1 7.52654 20.1 12ZM12 22.2001C17.6334 22.2001 22.2001 17.6334 22.2001 12C22.2001 6.36674 17.6334 1.80005 12 1.80005C6.36674 1.80005 1.80005 6.36674 1.80005 12C1.80005 17.6334 6.36674 22.2001 12 22.2001ZM8.18166 8.18162C8.65029 7.71299 9.3721 7.675 9.79386 8.09677L12.0849 10.3878L14.2911 8.18165C14.7128 7.75988 15.3966 7.75988 15.8184 8.18165C16.2402 8.60341 16.2402 9.28723 15.8184 9.709L13.6123 11.9152L15.9033 14.2062C16.325 14.6279 16.287 15.3497 15.8184 15.8184C15.3498 16.287 14.628 16.325 14.2062 15.9032L11.9152 13.6122L9.70901 15.8184C9.28724 16.2402 8.60342 16.2402 8.18166 15.8184C7.75989 15.3966 7.75989 14.7128 8.18166 14.291L10.3878 12.0849L8.09681 9.79383C7.67504 9.37206 7.71303 8.65025 8.18166 8.18162Z"
          fill="currentColor"/>
  </g>
</template>
