<template>
  <g>
    <path
      d="M18.444 9.2107C17.8324 7.80537 16.7769 6.63934 15.4392 5.89128C14.1016 5.14322 12.5555 4.85441 11.038 5.06909C9.52044 5.28377 8.11515 5.9901 7.03746 7.07986C5.95977 8.16961 5.26912 9.58267 5.07135 11.1025C4.11703 11.331 3.27987 11.9021 2.71885 12.7072C2.15784 13.5123 1.91204 14.4954 2.02813 15.4698C2.14422 16.4443 2.61411 17.3421 3.34858 17.9929C4.08305 18.6437 5.03094 19.002 6.01224 19C6.27771 19 6.5323 18.8945 6.72001 18.7068C6.90773 18.5191 7.01319 18.2645 7.01319 17.999C7.01319 17.7336 6.90773 17.479 6.72001 17.2912C6.5323 17.1035 6.27771 16.9981 6.01224 16.9981C5.4813 16.9981 4.97211 16.7872 4.59668 16.4117C4.22125 16.0363 4.01034 15.5271 4.01034 14.9962C4.01034 14.4652 4.22125 13.9561 4.59668 13.5806C4.97211 13.2052 5.4813 12.9943 6.01224 12.9943C6.27771 12.9943 6.5323 12.8888 6.72001 12.7011C6.90773 12.5134 7.01319 12.2588 7.01319 11.9933C7.01574 10.8095 7.43787 9.66488 8.20458 8.76286C8.97129 7.86084 10.0329 7.2598 11.2009 7.06654C12.3689 6.87328 13.5675 7.10031 14.5839 7.70728C15.6003 8.31426 16.3687 9.26189 16.7524 10.3818C16.8096 10.5538 16.9125 10.707 17.05 10.8252C17.1875 10.9433 17.3545 11.0218 17.5332 11.0524C18.1999 11.1784 18.8042 11.5265 19.2478 12.0399C19.6914 12.5533 19.948 13.2018 19.9759 13.8798C20.0037 14.5577 19.8012 15.2251 19.4012 15.7731C19.0013 16.3212 18.4275 16.7177 17.7734 16.898C17.5159 16.9643 17.2953 17.1303 17.1601 17.3593C17.025 17.5883 16.9863 17.8616 17.0527 18.1191C17.1191 18.3766 17.285 18.5972 17.514 18.7324C17.743 18.8675 18.0164 18.9062 18.2739 18.8398C19.3272 18.5615 20.261 17.947 20.9334 17.0896C21.6057 16.2323 21.98 15.179 21.9992 14.0896C22.0185 13.0002 21.6817 11.9343 21.04 11.0538C20.3984 10.1732 19.4869 9.5261 18.444 9.2107ZM12.7286 18.7147C12.6334 18.8058 12.5212 18.8772 12.3983 18.9249C12.1546 19.025 11.8813 19.025 11.6376 18.9249C11.5147 18.8772 11.4024 18.8058 11.3073 18.7147L8.30441 15.7118C8.11593 15.5234 8.01004 15.2677 8.01004 15.0012C8.01004 14.7346 8.11593 14.479 8.30441 14.2905C8.49289 14.102 8.74853 13.9961 9.01508 13.9961C9.28164 13.9961 9.53727 14.102 9.72576 14.2905L11.017 15.5917V9.99643C11.017 9.73096 11.1224 9.47637 11.3102 9.28865C11.4979 9.10094 11.7525 8.99548 12.0179 8.99548C12.2834 8.99548 12.538 9.10094 12.7257 9.28865C12.9134 9.47637 13.0189 9.73096 13.0189 9.99643V15.5917L14.3101 14.2905C14.4032 14.1967 14.5139 14.1222 14.6358 14.0714C14.7578 14.0206 14.8886 13.9944 15.0208 13.9944C15.1529 13.9944 15.2837 14.0206 15.4057 14.0714C15.5277 14.1222 15.6384 14.1967 15.7314 14.2905C15.8253 14.3835 15.8997 14.4943 15.9505 14.6162C16.0014 14.7382 16.0275 14.869 16.0275 15.0012C16.0275 15.1333 16.0014 15.2641 15.9505 15.3861C15.8997 15.5081 15.8253 15.6188 15.7314 15.7118L12.7286 18.7147Z"
      fill="currentColor"
    />
  </g>
</template>


