<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.5936 7.01897C15.856 6.23093 14.8193 5.82293 13.6288 5.82293L8.0357 5.82593L8.03178 5.82596C6.8501 5.83349 5.82176 6.2446 5.0904 7.03117C4.36246 7.81407 4 8.89189 4 10.1V17.023C4 18.2366 4.36507 19.3195 5.09904 20.1039C5.83652 20.892 6.87361 21.3 8.06413 21.3L13.6562 21.2977L13.6606 21.2977C14.8424 21.2902 15.8709 20.8788 16.6023 20.0921C17.3304 19.3091 17.6931 18.2312 17.6931 17.023V10.1C17.6931 8.88618 17.3278 7.80331 16.5936 7.01897ZM8.60423 3C8.16508 3 7.81784 3.367 7.81784 3.80873C7.81784 4.25045 8.16508 4.61745 8.60423 4.61745H15.1499C17.1208 4.61745 18.7272 6.27278 18.7272 8.32571V17.3597C18.7272 17.8014 19.0745 18.1684 19.5136 18.1684C19.9528 18.1684 20.3 17.8014 20.3 17.3597V8.32571C20.3 5.38932 17.999 3 15.1499 3H8.60423ZM6.22714 8.14904C6.61893 7.72767 7.21604 7.44901 8.04065 7.44338L13.6291 7.44039C14.463 7.44046 15.0653 7.71854 15.4605 8.14073C15.8592 8.56667 16.1203 9.21801 16.1203 10.1V17.023C16.1203 17.9 15.8613 18.5487 15.4656 18.9743C15.0736 19.3959 14.477 19.6746 13.6526 19.6803L13.651 19.6803L8.06332 19.6825C7.22938 19.6825 6.62732 19.4044 6.23232 18.9823C5.8338 18.5564 5.57276 17.905 5.57276 17.023V10.1C5.57276 9.22283 5.83168 8.57435 6.22714 8.14904Z"
      fill="currentColor"
    />
  </g>
</template>


