<template>
  <g>
    <path
      d="M21.4984 12.8559C21.332 14.6565 20.6563 16.3725 19.5502 17.803C18.4442 19.2336 16.9536 20.3195 15.2529 20.9338C13.5521 21.5482 11.7116 21.6654 9.94671 21.2719C8.18179 20.8783 6.56545 19.9903 5.28682 18.7117C4.00818 17.433 3.12014 15.8167 2.7266 14.0518C2.33307 12.2868 2.45032 10.4463 3.06463 8.74562C3.67894 7.04491 4.7649 5.55432 6.19545 4.44827C7.626 3.34222 9.34196 2.66646 11.1426 2.50006C10.0884 3.92626 9.58108 5.68346 9.71297 7.45206C9.84486 9.22066 10.6072 10.8832 11.8612 12.1372C13.1153 13.3913 14.7778 14.1536 16.5464 14.2855C18.315 14.4174 20.0722 13.9101 21.4984 12.8559Z"
      stroke="currentColor"
      stroke-width="1.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>
