<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21.2629 18.5686L19.8029 17.139L19.698 17.2478C18.3244 18.6723 16.5791 19.386 14.45 19.386C12.7108 19.386 11.1906 18.9177 9.88349 17.9842C8.64826 17.0901 7.79578 15.9339 7.323 14.512H16.186V13.068H6.96464C6.9242 12.7176 6.90395 12.3603 6.90395 11.996C6.90395 11.6176 6.92405 11.2603 6.96403 10.924H16.186V9.47997H7.323C7.79578 8.05808 8.64826 6.90181 9.88348 6.00778C11.1906 5.07422 12.7108 4.60597 14.45 4.60597C16.562 4.60597 18.308 5.31118 19.6992 6.71939L19.8042 6.82562L21.2639 5.39632L21.1632 5.28923C20.3329 4.40588 19.3348 3.73491 18.1709 3.27641C17.0075 2.8181 15.732 2.58997 14.346 2.58997C12.8181 2.58997 11.4015 2.88858 10.0981 3.48731C8.79588 4.06816 7.69444 4.88743 6.79566 5.94482L6.79472 5.94594C5.93756 6.97453 5.33893 8.15315 4.99883 9.47997H1.94995V10.924H4.738C4.69923 11.2628 4.67995 11.6202 4.67995 11.996C4.67995 12.3596 4.69952 12.7169 4.73871 13.068H1.94995V14.512H4.99883C5.33893 15.8388 5.93756 17.0174 6.79471 18.046L6.79566 18.0471C7.69431 19.1044 8.79549 19.9321 10.0973 20.5303L10.0989 20.531C11.4021 21.1122 12.8185 21.402 14.346 21.402C15.732 21.402 17.0075 21.1738 18.1709 20.7155C19.3355 20.2568 20.3339 19.5767 21.1643 18.6756L21.2629 18.5686ZM7.1651 14.512C7.64463 15.9857 8.52158 17.1837 9.79595 18.106C10.2965 18.4635 10.8274 18.7539 11.3889 18.9774C10.8274 18.7539 10.2964 18.4635 9.79591 18.106C8.47858 17.1526 7.58591 15.9046 7.11791 14.362H7.11795C7.13321 14.4123 7.14893 14.4623 7.1651 14.512ZM16.0359 14.362H16.036V13.218H16.0359V14.362ZM6.83195 13.218C6.77995 12.8193 6.75395 12.412 6.75395 11.996C6.75395 11.5626 6.77995 11.1553 6.83195 10.774H6.83191C6.77991 11.1553 6.75391 11.5626 6.75391 11.996C6.75391 12.412 6.77991 12.8193 6.83191 13.218H6.83195ZM16.0359 10.774H16.036V9.62997L16.0359 9.62997V10.774ZM7.11795 9.62997C7.13321 9.57965 7.14893 9.52965 7.1651 9.47997C7.64463 8.00621 8.52158 6.80821 9.79595 5.88597C10.702 5.23876 11.708 4.81125 12.8138 4.60342C11.708 4.81125 10.702 5.23876 9.79591 5.88597C8.47858 6.8393 7.58591 8.0873 7.11791 9.62997L7.11795 9.62997ZM14.121 4.46155C14.2298 4.45783 14.3395 4.45597 14.45 4.45597C14.4499 4.45597 14.4499 4.45597 14.4499 4.45597C14.3394 4.45597 14.2298 4.45783 14.121 4.46155ZM19.806 6.61397L21.0539 5.39197C20.3554 4.64887 19.5359 4.05868 18.5952 3.62142C19.5359 4.05868 20.3554 4.64887 21.054 5.39197L19.806 6.61397ZM14.482 2.74071C14.4367 2.74021 14.3914 2.73997 14.3459 2.73997C14.3459 2.73997 14.3459 2.73997 14.346 2.73997C14.3914 2.73997 14.4367 2.74021 14.482 2.74071ZM21.0539 18.574C20.2392 19.458 19.2599 20.1253 18.1159 20.576C17.9729 20.6323 17.8282 20.6851 17.6817 20.7344C17.8282 20.6851 17.973 20.6323 18.116 20.576C19.26 20.1253 20.2393 19.458 21.054 18.574H21.0539Z"
      fill="currentColor"
    />
  </g>
</template>
