<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.8921 8.99847C11.2036 8.81301 11.6378 8.72294 12.0665 8.72294L12.0755 8.72287L12.0806 8.7227C12.4856 8.70907 12.8886 8.79588 13.2565 8.97683C13.6245 9.15784 13.9477 9.42827 14.1984 9.76727L14.4632 10.1254L15.7959 9.00444L15.5599 8.68811C15.2171 8.22876 14.7897 7.84344 14.3016 7.5551C13.9209 7.33017 13.5093 7.16783 13.0816 7.0735V5.57654H11.3582V7.01479C10.6484 7.12122 10.0306 7.3916 9.56552 7.81124C9.01119 8.31137 8.69846 9.00247 8.69846 9.80215C8.69846 10.4029 8.81544 10.8995 9.0355 11.306C9.25654 11.7144 9.56845 12.0076 9.91996 12.2198C10.5882 12.6234 11.4244 12.7443 12.0811 12.8391L12.1187 12.8446C12.8631 12.9526 13.3357 13.043 13.6338 13.221C13.7666 13.3002 13.8534 13.3917 13.9121 13.5093C13.9737 13.6325 14.018 13.8121 14.018 14.0856C14.018 14.3633 13.9503 14.5567 13.8574 14.6974C13.7629 14.8404 13.6255 14.9537 13.45 15.0422C13.0872 15.2253 12.612 15.2771 12.2199 15.2771C11.4987 15.2771 11.0268 15.1712 10.6775 15.0007C10.3316 14.8319 10.0689 14.582 9.79239 14.2252L9.52563 13.881L8.2041 14.9926L8.43375 15.308C8.82299 15.8425 9.32758 16.2766 9.9085 16.5747C10.3633 16.808 10.8547 16.9526 11.3582 17.0023V18.4235H13.0816V16.9681C13.8104 16.8488 14.4345 16.5701 14.899 16.1335C15.4492 15.6164 15.7413 14.9093 15.7413 14.0856C15.7413 13.4974 15.6254 13.0104 15.4072 12.6114C15.188 12.2107 14.879 11.9234 14.5318 11.7155C13.8721 11.3205 13.0468 11.2011 12.399 11.1074L12.361 11.1019C11.6036 10.9922 11.1228 10.8998 10.8191 10.7154C10.6836 10.6332 10.5933 10.5371 10.5318 10.4114C10.4674 10.2798 10.4218 10.0894 10.4218 9.80215C10.4218 9.42038 10.6007 9.17201 10.8921 8.99847Z"
      fill="currentColor"
    />
    <circle cx="12" cy="12" r="9.625" stroke="currentColor" stroke-width="1.75" />
  </g>
</template>

