<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M9.88339 1.87573C8.90963 1.87573 8.0538 2.52856 7.80109 3.47371C7.79626 3.49176 7.79202 3.50995 7.78836 3.52827L7.54543 4.74392L7.5454 4.74405L7.54536 4.74427C7.473 5.10469 7.15574 5.36473 6.78839 5.36473C6.78675 5.36473 6.7851 5.36474 6.78346 5.36475H3.521C3.03775 5.36475 2.646 5.7565 2.646 6.23975C2.646 6.723 3.03775 7.11475 3.521 7.11475H20.479C20.9622 7.11475 21.354 6.723 21.354 6.23975C21.354 5.7565 20.9622 5.36475 20.479 5.36475H17.2163C17.2147 5.36474 17.213 5.36473 17.2114 5.36473C16.8439 5.36473 16.5266 5.10453 16.4544 4.74392L16.2114 3.52827C16.2078 3.50995 16.2035 3.49176 16.1987 3.47371C15.946 2.52856 15.0901 1.87573 14.1164 1.87573H9.88339ZM14.8104 5.36475C14.7815 5.27464 14.7574 5.18215 14.7384 5.08755L14.7384 5.0872L14.5024 3.90636C14.4489 3.73996 14.2938 3.62573 14.1164 3.62573H9.88339C9.70596 3.62573 9.55086 3.73996 9.4974 3.90635L9.26143 5.0872L9.26136 5.08755C9.24241 5.18215 9.21831 5.27464 9.18937 5.36475H14.8104ZM5.86349 10.3475L6.5956 18.6867C6.67947 19.642 7.47949 20.3749 8.43851 20.3749H15.5662C16.5263 20.3749 17.3269 19.6404 17.4093 18.6838L18.1279 10.3475H5.86349ZM4.71727 8.59747C4.30651 8.59747 3.98403 8.9495 4.01995 9.35869L4.8523 18.8397C5.01551 20.6988 6.5723 22.1249 8.43851 22.1249H15.5662C17.4346 22.1249 18.9924 20.6956 19.1529 18.8341L19.9697 9.35759C20.005 8.94878 19.6826 8.59747 19.2723 8.59747H4.71727Z"
      fill="currentColor"
    />
  </g>
</template>


