<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.40605 10.3538C1.84262 7.15845 3.97623 4.11133 7.17161 3.5479L13.6462 2.40626C16.8415 1.84283 19.8887 3.97645 20.4521 7.17183L21.5937 13.6464C22.1572 16.8418 20.0235 19.8889 16.8282 20.4523L10.3536 21.5939C7.15823 22.1574 4.11112 20.0238 3.54768 16.8284L2.40605 10.3538ZM7.47549 5.27132C5.23193 5.66692 3.73386 7.80638 4.12946 10.0499L5.2711 16.5245C5.6667 18.7681 7.80616 20.2661 10.0497 19.8705L16.5243 18.7289C18.7678 18.3333 20.2659 16.1938 19.8703 13.9503L18.7287 7.47571C18.3331 5.23215 16.1936 3.73408 13.95 4.12968L7.47549 5.27132Z"
      fill="currentColor"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.27457 10.7312C9.11855 10.5824 9.68209 9.77757 9.53327 8.9336C9.38446 8.08962 8.57964 7.52608 7.73566 7.6749C6.89168 7.82371 6.32814 8.62853 6.47696 9.47251C6.62577 10.3165 7.43059 10.88 8.27457 10.7312ZM13.5264 11.7307C13.6753 12.5747 13.1117 13.3795 12.2677 13.5283C11.4238 13.6771 10.6189 13.1136 10.4701 12.2696C10.3213 11.4256 10.8848 10.6208 11.7288 10.472C12.5728 10.3232 13.3776 10.8867 13.5264 11.7307ZM17.5228 14.5276C17.6716 15.3716 17.1081 16.1764 16.2641 16.3252C15.4201 16.474 14.6153 15.9105 14.4665 15.0665C14.3176 14.2225 14.8812 13.4177 15.7252 13.2689C16.5691 13.1201 17.374 13.6836 17.5228 14.5276Z"
      fill="currentColor"
    />
  </g>
</template>

