<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.41152 3.5294C5.35133 2.53836 6.67746 2.01392 8.2183 2.00429L13.0862 2.1078C13.5238 2.11711 13.8737 2.47979 13.8737 2.92398C13.8737 3.37485 13.5136 3.74034 13.0693 3.74034L8.22653 3.74036C7.07074 3.74809 6.21348 4.13275 5.64398 4.73329C5.07093 5.33758 4.71056 6.24383 4.71056 7.43871V16.5616C4.71056 17.7631 5.07383 18.6734 5.65138 19.2785C6.22564 19.8803 7.09106 20.2639 8.25949 20.2639L15.7702 20.261L15.7726 20.2609C16.9282 20.2532 17.7857 19.8683 18.3555 19.2675C18.9289 18.6629 19.2894 17.7563 19.2894 16.5616V9.93693C19.2894 9.45752 19.6724 9.06889 20.1447 9.06889C20.6171 9.06889 21 9.45753 21 9.93693V16.5616C21 18.1148 20.5248 19.4835 19.588 20.4714C18.648 21.4626 17.3217 21.9874 15.7807 21.997L15.7755 21.997L8.26041 22C6.7077 22 5.3703 21.4793 4.42269 20.4864C3.47833 19.4969 3 18.122 3 16.5616V7.43871C3 5.88562 3.47487 4.5171 4.41152 3.5294ZM9.80029 13.1666C9.91522 13.2945 10.0778 13.3675 10.2483 13.3678C10.2659 13.3678 10.2848 13.3671 10.3036 13.3653L11.9412 13.2141L18.8192 6.2328L16.6692 4.05071L9.78935 11.0326L9.64042 12.6951C9.62508 12.8682 9.68324 13.0398 9.80029 13.1666ZM17.0989 3.61442L19.2484 5.7965L20.5376 4.48762C20.6518 4.37187 20.7159 4.21481 20.7159 4.05102C20.7159 3.88724 20.6518 3.73017 20.5376 3.61442L19.2484 2.30554C19.1343 2.18966 18.9796 2.12455 18.8183 2.12455C18.657 2.12455 18.5022 2.18966 18.3882 2.30554L17.0989 3.61442Z"
      fill="currentColor"
    />
  </g>
</template>


