<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M19.8345 3.40039C18.8648 2.39957 17.4971 1.87476 15.9086 1.87476L8.21961 1.87874L8.21422 1.87877C6.63785 1.88848 5.28115 2.41712 4.31967 3.41611C3.36143 4.41173 2.87561 5.79121 2.87561 7.35676V16.5528C2.87561 18.1257 3.36496 19.5116 4.3311 20.509C5.30056 21.5099 6.66879 22.0348 8.2573 22.0348L15.9456 22.0318L15.951 22.0317C17.5275 22.022 18.8844 21.4931 19.846 20.4939C20.8045 19.4981 21.2906 18.1184 21.2906 16.5528V7.35676C21.2906 5.78372 20.8009 4.39781 19.8345 3.40039ZM8.225 3.62874L15.9088 3.62476C17.1042 3.62484 17.9899 4.0115 18.5777 4.61812C19.1688 5.2282 19.5406 6.14579 19.5406 7.35676V16.5528C19.5406 17.7571 19.1718 18.6709 18.5852 19.2804C18.0022 19.886 17.125 20.2739 15.9427 20.2818L15.9402 20.2818L8.25636 20.2848C7.06099 20.2847 6.17562 19.898 5.58812 19.2915C4.99726 18.6815 4.62561 17.7639 4.62561 16.5528V7.35676C4.62561 6.1523 4.99429 5.23878 5.58055 4.62965C6.16318 4.02429 7.0402 3.63655 8.22264 3.62875L8.225 3.62874ZM7.62134 7.86011C7.62134 7.37686 8.01309 6.98511 8.49634 6.98511H11.2513C11.7346 6.98511 12.1263 7.37686 12.1263 7.86011C12.1263 8.34336 11.7346 8.73511 11.2513 8.73511H8.49634C8.01309 8.73511 7.62134 8.34336 7.62134 7.86011ZM8.49622 11.1619C8.01297 11.1619 7.62122 11.5536 7.62122 12.0369C7.62122 12.5201 8.01297 12.9119 8.49622 12.9119H15.7162C16.1995 12.9119 16.5912 12.5201 16.5912 12.0369C16.5912 11.5536 16.1995 11.1619 15.7162 11.1619H8.49622ZM8.49622 15.3484C8.01297 15.3484 7.62122 15.7401 7.62122 16.2234C7.62122 16.7066 8.01297 17.0984 8.49622 17.0984H15.7162C16.1995 17.0984 16.5912 16.7066 16.5912 16.2234C16.5912 15.7401 16.1995 15.3484 15.7162 15.3484H8.49622Z"
      fill="currentColor"
    />
  </g>
</template>




