<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M13.6133 19.668V21.959H11.2383V19.7037L10.8945 19.6736C10.0224 19.5974 9.17205 19.3754 8.38599 19.018C7.38197 18.5614 6.51283 17.8976 5.84409 17.0836L5.67786 16.8812L7.48088 15.5369L7.73574 15.8284C8.26005 16.428 8.78015 16.8728 9.47649 17.174C10.1738 17.4757 11.0862 17.6497 12.4258 17.6497C13.1539 17.6497 14.0807 17.5663 14.8126 17.2389C15.1722 17.0781 15.4801 16.8605 15.7003 16.5653C15.9208 16.2695 16.0665 15.8779 16.0665 15.3559C16.0665 14.8709 15.9779 14.5135 15.8258 14.2435C15.677 13.9796 15.4601 13.7859 15.1686 13.6316C14.5545 13.3066 13.6199 13.1564 12.2899 12.9853L12.2217 12.9766C11.0155 12.8221 9.56972 12.6325 8.42864 12.0216C7.8365 11.7046 7.32606 11.2752 6.96683 10.687C6.60958 10.102 6.41022 9.37367 6.41022 8.46349C6.41022 7.29812 6.92034 6.29186 7.84273 5.55418C8.62213 4.93086 9.67466 4.51623 10.9113 4.35187L11.2383 4.3084V2.04092H13.6133V4.38312L13.9177 4.44263C14.6591 4.58755 15.3716 4.83679 16.0299 5.18154C16.8738 5.6235 17.6107 6.21301 18.2005 6.91354L18.3716 7.11683L16.5588 8.46848L16.3065 8.16609C15.8126 7.57402 15.1778 7.10403 14.458 6.79024C13.7384 6.47654 12.9517 6.32653 12.1617 6.3501L12.1569 6.35025L12.1474 6.35032H12.1462C11.3317 6.35047 10.4774 6.50068 9.83973 6.83723C9.53928 6.99581 9.2725 7.20121 9.08116 7.47607C8.88668 7.75543 8.78515 8.08522 8.78515 8.46349C8.78515 8.9693 8.87559 9.34319 9.03185 9.62603C9.18474 9.90278 9.4073 10.1048 9.70449 10.2647C10.0266 10.438 10.4233 10.5583 10.8963 10.6576C11.3712 10.7572 11.946 10.8401 12.634 10.9284L12.7031 10.9373C13.893 11.0899 15.3196 11.2772 16.4458 11.8749C17.0307 12.1853 17.5355 12.6056 17.8909 13.1815C18.2444 13.7543 18.4414 14.4666 18.4414 15.3559C18.4414 16.5711 17.9594 17.6023 17.0479 18.3616C16.2714 19.0086 15.2094 19.4363 13.9358 19.6212L13.6133 19.668Z"
          fill="currentColor"/>
  </g>
</template>

<script>
export default {
  name: "dollarOutline"
}
</script>

<style scoped>

</style>