<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 3.125C12.4832 3.125 12.875 3.51675 12.875 4V13.8876L15.3813 11.3813C15.723 11.0396 16.277 11.0396 16.6187 11.3813C16.9604 11.723 16.9604 12.277 16.6187 12.6187L12.6187 16.6187C12.4546 16.7828 12.2321 16.875 12 16.875C11.7679 16.875 11.5454 16.7828 11.3813 16.6187L7.38128 12.6187C7.03957 12.277 7.03957 11.723 7.38128 11.3813C7.72299 11.0396 8.27701 11.0396 8.61872 11.3813L11.125 13.8876V4C11.125 3.51675 11.5168 3.125 12 3.125ZM4 15.125C4.48325 15.125 4.875 15.5168 4.875 16V17C4.875 17.5636 5.09888 18.1041 5.4974 18.5026C5.89591 18.9011 6.43641 19.125 7 19.125H17C17.5636 19.125 18.1041 18.9011 18.5026 18.5026C18.9011 18.1041 19.125 17.5636 19.125 17V16C19.125 15.5168 19.5168 15.125 20 15.125C20.4832 15.125 20.875 15.5168 20.875 16V17C20.875 18.0277 20.4667 19.0133 19.74 19.74C19.0133 20.4667 18.0277 20.875 17 20.875H7C5.97229 20.875 4.98666 20.4667 4.25996 19.74C3.53326 19.0133 3.125 18.0277 3.125 17V16C3.125 15.5168 3.51675 15.125 4 15.125Z"
      fill="currentColor"
    />
  </g>
</template>

