<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 16.875C12.4832 16.875 12.875 16.4832 12.875 16V6.11244L15.3813 8.61872C15.723 8.96043 16.277 8.96043 16.6187 8.61872C16.9604 8.27701 16.9604 7.72299 16.6187 7.38128L12.6187 3.38128C12.4546 3.21719 12.2321 3.125 12 3.125C11.7679 3.125 11.5454 3.21719 11.3813 3.38128L7.38128 7.38128C7.03957 7.72299 7.03957 8.27701 7.38128 8.61872C7.72299 8.96043 8.27701 8.96043 8.61872 8.61872L11.125 6.11244V16C11.125 16.4832 11.5168 16.875 12 16.875ZM4 15.125C4.48325 15.125 4.875 15.5168 4.875 16V17C4.875 17.5636 5.09888 18.1041 5.4974 18.5026C5.89591 18.9011 6.43641 19.125 7 19.125H17C17.5636 19.125 18.1041 18.9011 18.5026 18.5026C18.9011 18.1041 19.125 17.5636 19.125 17V16C19.125 15.5168 19.5168 15.125 20 15.125C20.4832 15.125 20.875 15.5168 20.875 16V17C20.875 18.0277 20.4667 19.0133 19.74 19.74C19.0133 20.4667 18.0277 20.875 17 20.875H7C5.97229 20.875 4.98666 20.4667 4.25996 19.74C3.53326 19.0133 3.125 18.0277 3.125 17V16C3.125 15.5168 3.51675 15.125 4 15.125Z"
      fill="currentColor"
    />
  </g>
</template>

