<template>
  <g>
    <ellipse cx="9" cy="6" rx="1" ry="1" fill="currentColor" />
    <ellipse cx="9" cy="12" rx="1" ry="1" fill="currentColor" />
    <ellipse cx="9" cy="18" rx="1" ry="1" fill="currentColor" />
    <ellipse cx="15" cy="6" rx="1" ry="1" fill="currentColor" />
    <ellipse cx="15" cy="12" rx="1" ry="1" fill="currentColor" />
    <ellipse cx="15" cy="18" rx="1" ry="1" fill="currentColor" />
  </g>
</template>

