<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 1C5.92734 1 1 5.92734 1 12C1 18.0727 5.92734 23 12 23C18.0607 23 23 18.0727 23 12C23 5.92734 18.0607 1 12 1ZM19.2657 6.07049C20.5781 7.66919 21.3655 9.70934 21.3894 11.9165C21.0792 11.8568 17.9772 11.2245 14.8514 11.6182C14.7798 11.4631 14.7202 11.2961 14.6486 11.1291C14.4577 10.6757 14.2429 10.2104 14.0282 9.76898C17.4881 8.36118 19.0629 6.33298 19.2657 6.07049ZM12 2.62256C14.3861 2.62256 16.5694 3.51735 18.2278 4.98482C18.0607 5.22343 16.641 7.1204 13.3004 8.3731C11.7614 5.54555 10.0553 3.23102 9.79285 2.8731C10.4967 2.70607 11.2364 2.62256 12 2.62256ZM8.00326 3.50543C8.2538 3.83947 9.92408 6.16595 11.487 8.93384C7.09653 10.103 3.2191 10.0792 2.80152 10.0792C3.40997 7.16812 5.37853 4.7462 8.00326 3.50543ZM2.5987 12.0119C2.5987 11.9165 2.5987 11.8211 2.5987 11.7256C3.00434 11.7375 7.56183 11.7972 12.2505 10.3894C12.5249 10.9143 12.7755 11.4512 13.0141 11.9881C12.8948 12.0239 12.7636 12.0597 12.6442 12.0954C7.80044 13.6584 5.22343 17.9295 5.00869 18.2874C3.51735 16.6291 2.5987 14.4219 2.5987 12.0119ZM12 21.4013C9.82864 21.4013 7.82429 20.6616 6.23752 19.4208C6.40456 19.0748 8.31346 15.4002 13.6106 13.551C13.6345 13.5391 13.6464 13.5391 13.6703 13.5271C14.9946 16.9512 15.5315 19.8265 15.6746 20.6497C14.5412 21.1388 13.3004 21.4013 12 21.4013ZM17.2375 19.7907C17.1421 19.218 16.641 16.474 15.4122 13.0976C18.359 12.6323 20.936 13.3959 21.2581 13.5033C20.8525 16.116 19.3492 18.3709 17.2375 19.7907Z"
      fill="currentColor"
    />
  </g>
</template>
