<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.0879 3.875C18.0727 3.875 18.058 3.88107 18.0471 3.89195L16.6867 5.25272L18.7479 7.31447L20.1076 5.95439C20.1185 5.94351 20.125 5.92836 20.125 5.91287C20.125 5.89738 20.1188 5.88257 20.108 5.87169L18.1291 3.89229C18.1182 3.88141 18.1032 3.875 18.0879 3.875ZM19.3676 9.16978L7.92922 20.6104L5.10573 20.8672C5.1047 20.8673 5.10368 20.8674 5.10265 20.8675C5.03909 20.8735 4.98183 20.875 4.93654 20.875L4.93502 20.875C4.42973 20.8741 3.948 20.6618 3.60645 20.2897C3.25898 19.9163 3.08653 19.4127 3.13223 18.9046L3.38953 16.0745L14.8306 4.63408L16.8088 2.65537C17.1479 2.31583 17.608 2.125 18.0879 2.125C18.5677 2.125 19.0277 2.3157 19.3667 2.65502L21.3449 4.63374C21.6843 4.97289 21.875 5.43306 21.875 5.91287C21.875 6.39267 21.6843 6.85284 21.3449 7.192L19.3676 9.16978ZM15.4493 6.49022L5.07498 16.864L4.8752 19.0613C4.87519 19.0614 4.8752 19.0613 4.8752 19.0613C4.87404 19.0747 4.87861 19.088 4.88769 19.0977L4.89557 19.1061C4.90653 19.1181 4.92191 19.125 4.93805 19.125L4.94215 19.1249L7.13967 18.925L17.5106 8.55205L15.4493 6.49022Z"
      fill="currentColor"
    />
  </g>
</template>


