<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.31429 1.25C5.49524 1.25 3.96018 1.89884 2.88354 3.05377C1.81235 4.20285 1.25 5.79292 1.25 7.58516V16.4148C1.25 18.2062 1.80943 19.7964 2.87964 20.9459C3.9555 22.1015 5.49096 22.75 7.31429 22.75H16.6857C18.509 22.75 20.0445 22.1015 21.1204 20.9459C22.1906 19.7964 22.75 18.2062 22.75 16.4148V7.58516C22.75 5.79384 22.1906 4.20365 21.1204 3.05412C20.0445 1.89853 18.509 1.25 16.6857 1.25H7.31429ZM2.75 7.58516C2.75 6.10432 3.21146 4.90181 3.98074 4.07659C4.74458 3.25721 5.86666 2.75 7.31429 2.75H16.6857C18.1386 2.75 19.2603 3.25751 20.0225 4.07623C20.7904 4.90101 21.25 6.1034 21.25 7.58516V16.4148C21.25 17.8966 20.7904 19.099 20.0225 19.9238C19.2603 20.7425 18.1386 21.25 16.6857 21.25H7.31429C5.86142 21.25 4.73974 20.7425 3.9775 19.9238C3.20962 19.099 2.75 17.8966 2.75 16.4148V7.58516ZM12.7882 6.91919C12.7882 6.50498 12.4524 6.16919 12.0382 6.16919C11.624 6.16919 11.2882 6.50498 11.2882 6.91919V17.0619C11.2882 17.4761 11.624 17.8119 12.0382 17.8119C12.4524 17.8119 12.7882 17.4761 12.7882 17.0619V6.91919ZM8.12145 10.2017C8.12145 9.78745 7.78567 9.45166 7.37145 9.45166C6.95724 9.45166 6.62145 9.78745 6.62145 10.2017V17.0618C6.62145 17.476 6.95724 17.8118 7.37145 17.8118C7.78567 17.8118 8.12145 17.476 8.12145 17.0618V10.2017ZM16.6285 13.0769C17.0427 13.0769 17.3785 13.4127 17.3785 13.8269V17.0619C17.3785 17.4761 17.0427 17.8119 16.6285 17.8119C16.2143 17.8119 15.8785 17.4761 15.8785 17.0619V13.8269C15.8785 13.4127 16.2143 13.0769 16.6285 13.0769Z"
      fill="currentColor"
    />
  </g>
</template>
