<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.1095 2.61167C11.377 1.67344 10.2541 1.11376 9.04548 1.12517H7.46988C5.48444 1.12517 3.84264 1.70509 2.71561 2.99092C1.60743 4.25525 1.12488 6.05873 1.12488 8.24017V15.7502C1.12488 17.8671 1.78222 19.6699 3.05741 20.9451C4.33253 22.2203 6.13284 22.8752 8.23988 22.8752H15.7499C17.8658 22.8752 19.6688 22.2209 20.9445 20.9467C22.2203 19.6725 22.8749 17.8717 22.8749 15.7602L22.8749 10.8923L22.8749 10.8916C22.88 8.76046 22.4104 7.00447 21.2938 5.78045C20.1629 4.54082 18.5151 4.00517 16.5199 4.00517H13.4499C13.279 4.00517 13.1098 3.92698 12.9897 3.7816L12.1192 2.62422L12.1144 2.6179L12.1095 2.61167ZM9.05928 2.87512C9.70834 2.86815 10.3193 3.16601 10.7258 3.683L11.6006 4.84613L11.6085 4.85657L11.6166 4.86678C12.0562 5.41624 12.7239 5.75517 13.4499 5.75517H16.5199C18.2147 5.75517 19.3118 6.20452 20.001 6.95989C20.7042 7.73072 21.1296 8.97945 21.1249 10.888L21.1249 10.8902V15.7602C21.1249 17.5086 20.5895 18.8279 19.7078 19.7086C18.8259 20.5894 17.504 21.1252 15.7499 21.1252H8.23988C6.49691 21.1252 5.17722 20.5901 4.29485 19.7077C3.41254 18.8254 2.87488 17.5032 2.87488 15.7502V8.24017C2.87488 6.28161 3.31233 4.96509 4.03164 4.14442C4.73211 3.34525 5.82531 2.87517 7.46988 2.87517H9.04988V2.87522L9.05928 2.87512ZM7.36987 15.2903H16.6299C17.0399 15.2903 17.3699 14.9503 17.3699 14.5403C17.3699 14.1203 17.0399 13.7903 16.6299 13.7903H7.36987C6.94987 13.7903 6.61987 14.1203 6.61987 14.5403C6.61987 14.9503 6.94987 15.2903 7.36987 15.2903Z"
      fill="currentColor"
    />
  </g>
</template>

