<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.75449 6.77151C4.75449 4.68856 6.44008 3 8.51936 3H18.2351C20.3144 3 22 4.68856 22 6.7715V14.5578C22 16.6408 20.3144 18.3293 18.2351 18.3293H7.64493C6.04859 18.3293 4.75449 17.033 4.75449 15.4338V6.77151ZM8.51936 4.70326C7.37911 4.70326 6.45475 5.62925 6.45475 6.77151V13.414L7.55316 12.3412C8.6315 11.288 10.3547 11.2989 11.4197 12.3657C11.879 12.8259 12.6409 12.7627 13.0185 12.2331L14.309 10.4232C15.7584 8.39056 18.7391 8.30852 20.2997 10.2435V6.7715C20.2997 5.62924 19.3754 4.70326 18.2351 4.70326H8.51936ZM20.2997 13.0027L18.9972 11.339C18.1468 10.2529 16.4934 10.2901 15.6926 11.4132L14.4021 13.2231C13.4138 14.6092 11.4197 14.7745 10.2174 13.5701C9.81051 13.1625 9.15212 13.1583 8.74012 13.5607L6.4974 15.7512C6.63612 16.2556 7.09734 16.6261 7.64493 16.6261H18.2351C19.3754 16.6261 20.2997 15.7001 20.2997 14.5578V13.0027ZM9.97672 7.25815C9.44013 7.25815 9.00514 7.69391 9.00514 8.23144C9.00514 8.76898 9.44013 9.20473 9.97672 9.20473C10.5133 9.20473 10.9483 8.76898 10.9483 8.23144C10.9483 7.69391 10.5133 7.25815 9.97672 7.25815ZM8.03357 8.23144C8.03357 7.15637 8.90355 6.28486 9.97672 6.28486C11.0499 6.28486 11.9199 7.15637 11.9199 8.23144C11.9199 9.30651 11.0499 10.178 9.97672 10.178C8.90355 10.178 8.03357 9.30651 8.03357 8.23144ZM3.67665 8.7485C3.67665 8.28551 3.30132 7.91018 2.83832 7.91018C2.37533 7.91018 2 8.28551 2 8.7485V15.4551C2 18.5638 4.52007 21.0839 7.62874 21.0839H16.2515C16.7145 21.0839 17.0898 20.7086 17.0898 20.2456C17.0898 19.7826 16.7145 19.4072 16.2515 19.4072H7.62874C5.44606 19.4072 3.67665 17.6378 3.67665 15.4551V8.7485Z"
      fill="currentColor"
    />
  </g>
</template>
