<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.82031 2C8.82031 1.58579 8.48453 1.25 8.07031 1.25C7.6561 1.25 7.32031 1.58579 7.32031 2C7.32031 3.16885 8.28288 4.09076 9.43833 4.09076H10.4933C11.2597 4.09412 11.8557 4.69864 11.8599 5.41459V5.49843C10.42 5.49892 8.9883 5.51113 7.56504 5.53542C3.88532 5.53913 1.125 8.20723 1.125 11.8617V16.5113C1.125 20.1659 3.88538 22.834 7.56517 22.8376C10.4704 22.8864 13.4256 22.8885 16.4359 22.8376C20.1159 22.834 22.875 20.1656 22.875 16.5113V11.8617C22.875 8.20849 20.1159 5.53897 16.4357 5.53542C15.4063 5.51862 14.3811 5.50748 13.3599 5.50212L13.3599 5.41266L13.3599 5.40918C13.3526 3.84138 12.0612 2.59634 10.4975 2.59076H10.4948H9.43833C9.08271 2.59076 8.82031 2.31211 8.82031 2ZM7.97326 16.059V15.0617H6.9379C6.45465 15.0617 6.0629 14.67 6.0629 14.1867C6.0629 13.7035 6.45465 13.3117 6.9379 13.3117H7.97326V12.314C7.97326 11.8308 8.36501 11.439 8.84826 11.439C9.33151 11.439 9.72326 11.8308 9.72326 12.314V13.3117H10.759C11.2423 13.3117 11.634 13.7035 11.634 14.1867C11.634 14.67 11.2423 15.0617 10.759 15.0617H9.72326V16.059C9.72326 16.5423 9.33151 16.934 8.84826 16.934C8.36501 16.934 7.97326 16.5423 7.97326 16.059ZM15.2591 11.5531C14.7758 11.5531 14.3841 11.9448 14.3841 12.4281C14.3841 12.9113 14.7758 13.3031 15.2591 13.3031H15.3661C15.8494 13.3031 16.2411 12.9113 16.2411 12.4281C16.2411 11.9448 15.8494 11.5531 15.3661 11.5531H15.2591ZM16.1976 16.0026C16.1976 15.5194 16.5893 15.1276 17.0726 15.1276H17.1796C17.6629 15.1276 18.0546 15.5194 18.0546 16.0026C18.0546 16.4859 17.6629 16.8776 17.1796 16.8776H17.0726C16.5893 16.8776 16.1976 16.4859 16.1976 16.0026ZM7.5877 7.28528C10.4936 7.23561 13.436 7.23663 16.414 7.2853L16.4283 7.28541C19.1829 7.28541 21.125 9.2093 21.125 11.8617V16.5113C21.125 19.1647 19.183 21.0876 16.4283 21.0876L16.4135 21.0878C13.4184 21.1385 10.4782 21.1364 7.58747 21.0878L7.57275 21.0876C4.81783 21.0876 2.875 19.1645 2.875 16.5113V11.8617C2.875 9.20859 4.81783 7.28541 7.57275 7.28541L7.5877 7.28528Z"
      fill="currentColor"
    />
  </g>
</template>
