<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5.56322 4C3.59531 4 2 5.56385 2 7.49296V16.507C2 18.4361 3.59531 20 5.56322 20H18.4368C20.4047 20 22 18.4361 22 16.507V7.49296C22 5.56385 20.4047 4 18.4368 4H5.56322ZM3.6092 7.49296C3.6092 6.43506 4.48404 5.57746 5.56322 5.57746H18.4368C19.516 5.57746 20.3908 6.43506 20.3908 7.49296V16.507C20.3908 17.5649 19.516 18.4225 18.4368 18.4225H5.56322C4.48404 18.4225 3.6092 17.5649 3.6092 16.507V7.49296ZM9.1044 11.7431H10.5527V14.0958C10.2216 14.3283 9.84095 14.5068 9.4106 14.6312C8.98026 14.7556 8.54991 14.8178 8.11957 14.8178C7.51267 14.8178 6.96646 14.6934 6.48095 14.4446C5.99543 14.1904 5.61474 13.8389 5.33888 13.3899C5.06302 12.941 4.92509 12.4327 4.92509 11.8648C4.92509 11.2969 5.06302 10.7885 5.33888 10.3396C5.61474 9.89068 5.99819 9.54184 6.48922 9.29305C6.98026 9.03885 7.53474 8.91175 8.15267 8.91175C8.69336 8.91175 9.17888 9.00099 9.60922 9.17947C10.0396 9.35795 10.3982 9.61485 10.6851 9.95017L9.64233 10.875C9.2506 10.4532 8.78164 10.2422 8.23543 10.2422C7.73888 10.2422 7.33888 10.391 7.03543 10.6884C6.73198 10.9805 6.58026 11.3726 6.58026 11.8648C6.58026 12.1785 6.64922 12.4597 6.78715 12.7085C6.92509 12.9519 7.11819 13.1439 7.36646 13.2845C7.61474 13.4197 7.89888 13.4873 8.21888 13.4873C8.53336 13.4873 8.82853 13.4251 9.1044 13.3007V11.7431ZM11.426 9.02533H13.0647V14.7042H11.426V9.02533ZM15.7036 11.5159V10.2666H18.6084V9.02533H14.0649V14.7042H15.7036V12.7572H18.2608V11.5159H15.7036Z"
      fill="currentColor"
    />
  </g>
</template>


