<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.0103 4.1204C6.75905 4.93882 4.28651 7.71666 3.92157 11.125H7.56818C7.76808 8.61227 8.61277 6.20076 10.0103 4.1204ZM13.9898 4.12042C15.3873 6.20077 16.232 8.61228 16.4319 11.125H20.0784C19.7135 7.71668 17.241 4.93885 13.9898 4.12042ZM14.6756 11.125C14.4524 8.65776 13.523 6.30703 12 4.35501C10.4771 6.30703 9.5476 8.65776 9.32446 11.125H14.6756ZM9.32446 12.875H14.6756C14.4524 15.3422 13.523 17.693 12 19.645C10.4771 17.693 9.5476 15.3422 9.32446 12.875ZM7.56818 12.875H3.92157C4.28651 16.2833 6.75905 19.0612 10.0103 19.8796C8.61277 17.7992 7.76808 15.3877 7.56818 12.875ZM13.9898 19.8796C15.3873 17.7992 16.232 15.3877 16.4319 12.875H20.0784C19.7135 16.2833 17.241 19.0612 13.9898 19.8796ZM12 2.125C6.54619 2.125 2.125 6.54619 2.125 12C2.125 17.4538 6.54619 21.875 12 21.875C17.4538 21.875 21.875 17.4538 21.875 12C21.875 6.54619 17.4538 2.125 12 2.125Z"
      fill="currentColor"
    />
  </g>
</template>
