<template>
  <g>
    <path
      d="M12 1C6.486 1 2 5.33705 2 10.668C2 11.2587 2 15.8289 2 15.9102C2 16.9763 2.8972 17.8438 4 17.8438H4.78133C5.05653 18.5939 5.79756 19.1328 6.66667 19.1328C7.76947 19.1328 8.66667 18.2654 8.66667 17.1992V11.957C8.66667 10.8908 7.76947 10.0234 6.66667 10.0234C5.79756 10.0234 5.05653 10.5624 4.78133 11.3125H4C3.76627 11.3125 3.542 11.3518 3.33333 11.4234V10.668C3.33333 6.04784 7.2212 2.28906 12 2.28906C16.7788 2.28906 20.6667 6.04784 20.6667 10.668V11.4234C20.458 11.3518 20.2337 11.3125 20 11.3125H19.2187C18.9435 10.5624 18.2024 10.0234 17.3333 10.0234C16.2305 10.0234 15.3333 10.8908 15.3333 11.957V17.1992C15.3333 18.2654 16.2305 19.1328 17.3333 19.1328C17.5352 19.1328 17.73 19.1035 17.9138 19.0495C17.6644 19.8428 16.901 20.4219 16 20.4219H13.8853C13.6101 19.6717 12.8691 19.1328 12 19.1328C10.8972 19.1328 10 20.0002 10 21.0664C10 22.1326 10.8972 23 12 23C12.8691 23 13.6101 22.4611 13.8853 21.7109H16C17.838 21.7109 19.3333 20.2653 19.3333 18.4883V17.8438H20C21.1028 17.8438 22 16.9763 22 15.9102C22 15.8301 22 11.2583 22 10.668C22 5.33705 17.514 1 12 1ZM6 11.957C6 11.6016 6.29907 11.3125 6.66667 11.3125C7.03427 11.3125 7.33333 11.6016 7.33333 11.957V17.1992C7.33333 17.5546 7.03427 17.8438 6.66667 17.8438C6.29907 17.8438 6 17.5546 6 17.1992V11.957ZM4 12.6016H4.66667V16.5547H4C3.6324 16.5547 3.33333 16.2656 3.33333 15.9102V13.2461C3.33333 12.8907 3.6324 12.6016 4 12.6016ZM12 21.7109C11.6324 21.7109 11.3333 21.4218 11.3333 21.0664C11.3333 20.711 11.6324 20.4219 12 20.4219C12.3676 20.4219 12.6667 20.711 12.6667 21.0664C12.6667 21.4218 12.3676 21.7109 12 21.7109ZM18 17.1992C18 17.5546 17.7009 17.8438 17.3333 17.8438C16.9657 17.8438 16.6667 17.5546 16.6667 17.1992V11.957C16.6667 11.6016 16.9657 11.3125 17.3333 11.3125C17.7009 11.3125 18 11.6016 18 11.957V17.1992ZM20.6667 15.9102C20.6667 16.2656 20.3676 16.5547 20 16.5547H19.3333V12.6016H20C20.3676 12.6016 20.6667 12.8907 20.6667 13.2461V15.9102Z"
      fill="currentColor"
    />
  </g>
</template>

