<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.65808 1.65943C1.30157 2.01593 1.30185 2.59421 1.65869 2.95104L2.75019 4.04255C2.75007 4.04266 2.74995 4.04277 2.74983 4.04288L3.98903 5.28209C3.98915 5.28198 3.98928 5.28187 3.9894 5.28176L15.4755 16.7679L15.4752 16.7682L16.7126 18.0057L16.713 18.0053L18.4576 19.75C18.8145 20.1068 19.3927 20.1071 19.7492 19.7506C20.1057 19.3941 20.1055 18.8158 19.7486 18.459L2.94969 1.66004C2.59285 1.3032 2.01458 1.30293 1.65808 1.65943ZM0.672729 8.75183C0.672729 7.39375 1.10598 6.08035 1.89594 4.9964L3.15441 6.25488C2.68036 6.99431 2.42273 7.85979 2.42273 8.75183C2.42273 9.97879 2.91014 11.1555 3.77774 12.0231L11.2035 19.4489C11.6429 19.8882 12.3552 19.8882 12.7945 19.4489L14.5715 17.6719L15.8089 18.9094L14.032 20.6863C12.9092 21.8091 11.0888 21.8091 9.96609 20.6863L2.5403 13.2605C1.34452 12.0648 0.672729 10.4429 0.672729 8.75183ZM20.2203 12.0231L17.6699 14.5735L18.9073 15.811L21.4577 13.2605C22.05 12.6686 22.5198 11.9657 22.8403 11.1921C23.1609 10.4185 23.3258 9.58926 23.3258 8.75183C23.3258 7.9144 23.1609 7.08517 22.8403 6.31153C22.5198 5.53801 22.05 4.8352 21.4579 4.24325C20.8659 3.65096 20.163 3.18111 19.3893 2.86055C18.6157 2.53999 17.7864 2.375 16.949 2.375C16.1116 2.375 15.2824 2.53999 14.5087 2.86055C13.7351 3.18111 13.0322 3.65096 12.4402 4.24325L11.999 4.68439L11.5577 4.24311C10.362 3.04732 8.74012 2.37553 7.04902 2.37553C6.56816 2.37553 6.0929 2.42985 5.63145 2.53508L7.22525 4.12889C8.38819 4.17318 9.49433 4.65457 10.3203 5.48054L11.3803 6.54054C11.722 6.88225 12.276 6.88225 12.6177 6.54054L13.6779 5.4804C14.1074 5.0507 14.6173 4.70983 15.1786 4.47726C15.7399 4.2447 16.3415 4.125 16.949 4.125C17.5566 4.125 18.1582 4.2447 18.7194 4.47726C19.2807 4.70983 19.7909 5.05099 20.2204 5.48069C20.6501 5.91019 20.991 6.42014 21.2236 6.98141C21.4561 7.54269 21.5758 8.14428 21.5758 8.75183C21.5758 9.35937 21.4561 9.96096 21.2236 10.5222C20.991 11.0835 20.65 11.5936 20.2203 12.0231Z"
      fill="currentColor"
    />
  </g>
</template>
