<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14.5079 2.86055C15.2815 2.53999 16.1107 2.375 16.9482 2.375C17.7856 2.375 18.6148 2.53999 19.3885 2.86055C20.1621 3.18112 20.865 3.65096 21.457 4.24325C22.0492 4.8352 22.5189 5.53801 22.8394 6.31153C23.16 7.08517 23.325 7.9144 23.325 8.75183C23.325 9.58926 23.16 10.4185 22.8394 11.1921C22.5189 11.9657 22.0491 12.6686 21.4569 13.2605C21.4568 13.2606 21.4569 13.2605 21.4569 13.2605L14.0311 20.6863C12.9083 21.8091 11.088 21.8091 9.96524 20.6863L2.53945 13.2605C1.34366 12.0648 0.671875 10.4429 0.671875 8.75183C0.671875 7.06073 1.34366 5.43889 2.53945 4.24311C3.73523 3.04732 5.35707 2.37553 7.04817 2.37553C8.73926 2.37553 10.3611 3.04732 11.5569 4.24311L11.9982 4.68439L12.4393 4.24325C13.0313 3.65096 13.7342 3.18112 14.5079 2.86055ZM16.9482 4.125C16.3406 4.125 15.739 4.2447 15.1778 4.47726C14.6165 4.70983 14.1065 5.0507 13.677 5.4804L12.6169 6.54054C12.2752 6.88225 11.7212 6.88225 11.3794 6.54054L10.3194 5.48054C9.45185 4.61295 8.27513 4.12553 7.04817 4.12553C5.8212 4.12553 4.64448 4.61295 3.77688 5.48054C2.90929 6.34814 2.42188 7.52486 2.42188 8.75183C2.42188 9.97879 2.90929 11.1555 3.77688 12.0231L11.2027 19.4489C11.642 19.8882 12.3543 19.8882 12.7937 19.4489L20.2194 12.0231C20.6491 11.5936 20.9902 11.0835 21.2227 10.5222C21.4553 9.96096 21.575 9.35937 21.575 8.75183C21.575 8.14428 21.4553 7.54269 21.2227 6.98141C20.9902 6.42014 20.6493 5.91019 20.2196 5.48069C19.7901 5.05099 19.2799 4.70983 18.7186 4.47726C18.1573 4.2447 17.5557 4.125 16.9482 4.125Z"
      fill="currentColor"
    />
  </g>
</template>
