<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M6.92958 4C4.75933 4 3 5.76244 3 7.93651V16.9778C3 18.6469 4.35071 20 6.0169 20H17.0704C19.2407 20 21 18.2376 21 16.0635V7.93651C21 5.76244 19.2407 4 17.0704 4H6.92958ZM4.77465 7.93651C4.77465 6.74428 5.73944 5.77778 6.92958 5.77778H17.0704C18.2606 5.77778 19.2254 6.74427 19.2254 7.93651V11.5604C17.5965 9.54077 14.4853 9.62639 12.9725 11.748L11.6256 13.6371C11.2315 14.1898 10.4362 14.2558 9.95677 13.7755C8.84524 12.662 7.04663 12.6506 5.92112 13.7499L4.77465 14.8696V7.93651ZM17.8658 12.7038L19.2254 14.4403V16.0635C19.2254 17.2557 18.2606 18.2222 17.0704 18.2222H6.0169C5.44535 18.2222 4.96395 17.8356 4.81916 17.3091L7.16 15.0228C7.59002 14.6027 8.27722 14.6071 8.70191 15.0325C9.9568 16.2896 12.0381 16.1171 13.0697 14.6704L14.4166 12.7813C15.2525 11.609 16.9783 11.5703 17.8658 12.7038ZM7.43662 9.46032C7.43662 8.89927 7.89064 8.44444 8.4507 8.44444C9.01077 8.44444 9.46479 8.89927 9.46479 9.46032C9.46479 10.0214 9.01077 10.4762 8.4507 10.4762C7.89064 10.4762 7.43662 10.0214 7.43662 9.46032ZM8.4507 7.42857C7.33058 7.42857 6.42254 8.33822 6.42254 9.46032C6.42254 10.5824 7.33058 11.4921 8.4507 11.4921C9.57083 11.4921 10.4789 10.5824 10.4789 9.46032C10.4789 8.33822 9.57083 7.42857 8.4507 7.42857Z"
      fill="currentColor"
    />
  </g>
</template>
