<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.471 2.00021C15.0087 1.98745 13.5998 2.55186 12.5479 3.57186L10.9064 5.21013C10.5811 5.53487 10.5795 6.06291 10.903 6.38955C11.2265 6.71618 11.7524 6.71772 12.0778 6.39299L13.7062 4.76762C14.4443 4.05396 15.4317 3.65916 16.4566 3.6681C17.4834 3.67706 18.4656 4.09054 19.1917 4.81949C19.9177 5.54844 20.3296 6.53454 20.3385 7.56539C20.3474 8.59395 19.9545 9.58496 19.2441 10.3259L16.4013 13.18C16.0043 13.5787 15.5266 13.8871 15.0004 14.0841C14.4743 14.2811 13.9121 14.3623 13.352 14.322C12.7919 14.2817 12.247 14.121 11.7542 13.8507C11.2614 13.5804 10.8323 13.2068 10.4959 12.7554C10.2211 12.3866 9.70054 12.3112 9.33317 12.5871C8.9658 12.863 8.89076 13.3856 9.16555 13.7545C9.6446 14.3974 10.2558 14.9294 10.9576 15.3144C11.6595 15.6994 12.4356 15.9283 13.2333 15.9857C14.0311 16.0431 14.8317 15.9275 15.5811 15.6469C16.3304 15.3662 17.0109 14.9271 17.5763 14.3592L20.4242 11.5L20.4344 11.4896C21.4503 10.4335 22.0125 9.01908 21.9998 7.5509C21.9871 6.08271 21.4005 4.67828 20.3664 3.64007C19.3323 2.60187 17.9334 2.01297 16.471 2.00021ZM10.7667 8.01431C9.96894 7.95695 9.16825 8.0725 8.41892 8.35314C7.66963 8.63375 6.98911 9.07297 6.4237 9.64079L3.57577 12.5L3.56565 12.5104C2.54968 13.5665 1.9875 14.9809 2.00021 16.4491C2.01292 17.9173 2.59949 19.3217 3.63359 20.3599C4.66769 21.3981 6.06657 21.987 7.52895 21.9998C8.99133 22.0125 10.4002 21.4481 11.4521 20.4281L11.4624 20.418L13.0858 18.7882C13.4102 18.4625 13.4102 17.9344 13.0858 17.6087C12.7614 17.283 12.2354 17.283 11.911 17.6087L10.293 19.2332C9.55497 19.9463 8.56788 20.3408 7.54339 20.3319C6.51661 20.3229 5.53442 19.9095 4.80835 19.1805C4.08228 18.4516 3.67043 17.4655 3.66151 16.4346C3.6526 15.4061 4.04554 14.4151 4.75587 13.6741L7.59867 10.82C7.99567 10.4213 8.47344 10.1129 8.99957 9.9159C9.5257 9.71886 10.0879 9.63772 10.648 9.678C11.2081 9.71827 11.753 9.87901 12.2458 10.1493C12.7386 10.4196 13.1677 10.7932 13.5041 11.2446C13.7789 11.6134 14.2995 11.6888 14.6668 11.4129C15.0342 11.137 15.1092 10.6144 14.8344 10.2455C14.3554 9.60257 13.7442 9.07055 13.0424 8.68557C12.3405 8.3006 11.5644 8.07166 10.7667 8.01431Z"
      fill="currentColor"
    />
  </g>
</template>


