<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.62659 10.3179C2.62659 5.21444 6.88277 1.12509 11.995 1.12509C17.1195 1.12509 21.3766 5.21358 21.3766 10.3179C21.3766 12.8555 20.4525 15.1894 18.9675 17.1414L18.9675 17.1415C17.3763 19.2328 15.4158 21.0547 13.2076 22.4858C12.8733 22.7042 12.4817 22.8692 12.0299 22.8749C11.5759 22.8807 11.1665 22.7242 10.7998 22.4891L10.7981 22.4881C8.57661 21.0568 6.61424 19.2338 5.03466 17.1401C3.54906 15.188 2.62659 12.8546 2.62659 10.3179ZM11.995 2.87509C7.80817 2.87509 4.37659 6.22153 4.37659 10.3179C4.37659 12.4163 5.13757 14.3862 6.4283 16.0817L6.43065 16.0847L6.43065 16.0848C7.88588 18.014 9.69616 19.6963 11.7452 21.0165C11.9113 21.1228 11.9877 21.1253 12.0078 21.1251C12.0295 21.1248 12.0996 21.1194 12.2511 21.0203L12.2543 21.0182C14.2927 19.6975 16.1048 18.0139 17.5747 16.0819L18.2711 16.6117L17.5747 16.0819C18.8648 14.386 19.6266 12.4161 19.6266 10.3179C19.6266 6.22239 16.1959 2.87509 11.995 2.87509ZM11.995 8.65191C10.9394 8.65191 10.0708 9.52823 10.0708 10.5768C10.0708 11.6158 10.9175 12.4548 11.995 12.4548C13.0787 12.4548 13.9323 11.6107 13.9323 10.5768C13.9323 9.53334 13.0568 8.65191 11.995 8.65191ZM8.3208 10.5768C8.3208 8.56752 9.9671 6.90191 11.995 6.90191C14.0188 6.90191 15.6823 8.56241 15.6823 10.5768C15.6823 12.6248 13.9969 14.2048 11.995 14.2048C9.98897 14.2048 8.3208 12.6198 8.3208 10.5768Z"
      fill="currentColor"
    />
  </g>
</template>

