<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M6.42744 7.27697C6.44055 4.28045 8.87889 1.86273 11.8743 1.8748C14.8697 1.87583 17.2984 4.30519 17.2984 7.3008V8.78863C19.0797 9.44567 20.3502 11.1583 20.3502 13.1686V17.4576C20.3502 20.036 18.2603 22.1246 15.6832 22.1246H8.04218C5.46508 22.1246 3.37518 20.036 3.37518 17.4576V13.1686C3.37518 11.1581 4.64588 9.44535 6.42743 8.78844V7.3008V7.2808V7.27697H6.42744ZM15.5484 7.3008V8.50159H8.17743V7.3008V7.28281C8.18729 5.25281 9.83953 3.61591 11.8686 3.62479V3.6248H11.8724C13.9022 3.6248 15.5484 5.27105 15.5484 7.3008ZM8.04218 10.2516C6.43128 10.2516 5.12518 11.557 5.12518 13.1686V17.4576C5.12518 19.0692 6.43128 20.3746 8.04218 20.3746H15.6832C17.2941 20.3746 18.6002 19.0692 18.6002 17.4576V13.1686C18.6002 11.557 17.2941 10.2516 15.6832 10.2516H8.04218ZM12.7379 14.2027C12.7379 13.7194 12.3462 13.3277 11.8629 13.3277C11.3797 13.3277 10.9879 13.7194 10.9879 14.2027V16.4237C10.9879 16.9069 11.3797 17.2987 11.8629 17.2987C12.3462 17.2987 12.7379 16.9069 12.7379 16.4237V14.2027Z"
      fill="currentColor"
    />
  </g>
</template>
