<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.5 6.22889C1.5 3.61753 3.66647 1.5 6.33786 1.5H11.511C14.1833 1.5 16.35 3.61737 16.35 6.22889V7.19644C16.35 7.69759 15.9343 8.10385 15.4215 8.10385C14.9086 8.10385 14.4929 7.69759 14.4929 7.19644V6.22889C14.4929 4.61967 13.1577 3.31481 11.511 3.31481H6.33786C4.69242 3.31481 3.35704 4.61951 3.35704 6.22889V17.7711C3.35704 19.3805 4.69242 20.6852 6.33786 20.6852H11.5217C13.1623 20.6852 14.4929 19.3852 14.4929 17.7825V16.8046C14.4929 16.3034 14.9086 15.8972 15.4215 15.8972C15.9343 15.8972 16.35 16.3034 16.35 16.8046V17.7825C16.35 20.3881 14.1872 22.5 11.5217 22.5H6.33786C3.66647 22.5 1.5 20.3825 1.5 17.7711V6.22889ZM22.5 12C22.5 11.4989 22.0843 11.0926 21.5715 11.0926H11.043L12.5568 9.6198C12.9202 9.26623 12.9215 8.69169 12.5597 8.33654C12.1979 7.98139 11.61 7.98011 11.2466 8.33368L8.1533 11.3432C7.97596 11.5085 7.86545 11.7416 7.86545 12C7.86545 12.2634 7.98029 12.5006 8.1637 12.6663L11.2465 15.6667C11.6098 16.0203 12.1977 16.0191 12.5596 15.664C12.9214 15.3089 12.9202 14.7344 12.5569 14.3808L11.043 12.9074H21.5715C22.0843 12.9074 22.5 12.5011 22.5 12Z"
      fill="currentColor"
    />
  </g>
</template>
