<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.89706 6.45648C1.89706 3.93839 3.93866 1.89648 6.45606 1.89648H11.3311C13.8493 1.89648 15.8911 3.93823 15.8911 6.45648V7.38948C15.8911 7.87273 15.4993 8.26448 15.0161 8.26448C14.5328 8.26448 14.1411 7.87273 14.1411 7.38948V6.45648C14.1411 4.90473 12.8828 3.64648 11.3311 3.64648H6.45606C4.90547 3.64648 3.64706 4.90458 3.64706 6.45648V17.5865C3.64706 19.1384 4.90547 20.3965 6.45606 20.3965H11.3411C12.8871 20.3965 14.1411 19.1429 14.1411 17.5975V16.6545C14.1411 16.1712 14.5328 15.7795 15.0161 15.7795C15.4993 15.7795 15.8911 16.1712 15.8911 16.6545V17.5975C15.8911 20.11 13.853 22.1465 11.3411 22.1465H6.45606C3.93866 22.1465 1.89706 20.1046 1.89706 17.5865V6.45648ZM8.89355 12.0214C8.89355 11.5381 9.28531 11.1464 9.76855 11.1464H19.6902L18.2639 9.72635C17.9214 9.3854 17.9202 8.83138 18.2611 8.48891C18.6021 8.14645 19.1561 8.14521 19.4986 8.48616L22.4152 11.3899C22.5812 11.5491 22.6846 11.7732 22.6846 12.0214C22.6846 12.2721 22.5791 12.4982 22.4101 12.6577L19.4987 15.5572C19.1563 15.8983 18.6022 15.8971 18.2612 15.5547C17.9202 15.2123 17.9214 14.6583 18.2638 14.3173L19.6905 12.8964H9.76855C9.28531 12.8964 8.89355 12.5046 8.89355 12.0214Z"
      fill="currentColor"
    />
  </g>
</template>



