<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.06037 2.125C3.77713 2.125 1.12537 4.77574 1.12537 8.05V15.95C1.12537 19.2254 3.78826 21.875 7.06037 21.875H16.9394C20.2112 21.875 22.8754 19.2256 22.8754 15.95V8.05C22.8754 6.4778 22.2521 4.97564 21.1387 3.86293C20.0241 2.746 18.5107 2.125 16.9394 2.125H7.06037ZM19.9 5.09907L20.5193 4.48102L19.901 5.10004C20.687 5.88524 21.1254 6.94267 21.1254 8.05V15.95C21.1254 18.2544 19.2495 20.125 16.9394 20.125H7.06037C4.75047 20.125 2.87537 18.2546 2.87537 15.95V8.05C2.87537 5.74426 4.7416 3.875 7.06037 3.875H16.9394C18.05 3.875 19.1166 4.314 19.9 5.09907ZM18.6641 9.68938L14.1432 13.3073C13.5491 13.7749 12.8146 14.0301 12.0605 14.0301C11.3038 14.0301 10.5816 13.7745 9.9872 13.3076L5.42806 9.75049L5.27885 9.60241L5.2705 9.59149C4.98032 9.21134 5.01907 8.67015 5.3576 8.33018C5.68999 7.98521 6.23237 7.9531 6.6194 8.23933L6.62551 8.24385L11.127 11.8452C11.6429 12.2666 12.3674 12.2653 12.8728 11.8462L12.8757 11.8438L17.3793 8.24818C17.5704 8.07388 17.8212 7.9868 18.0809 8.00041L18.0905 8.00091C18.3359 8.02557 18.5724 8.13787 18.7457 8.3237L18.7511 8.32944C19.0654 8.69409 19.065 9.22307 18.7648 9.58733L18.6105 9.46013C18.8495 9.17013 18.8495 8.75013 18.5995 8.46013L18.5994 8.46009C18.8494 8.75009 18.8494 9.17009 18.6104 9.46009L18.5304 9.54009L14.0194 13.1501C13.4604 13.5901 12.7694 13.8301 12.0604 13.8301C11.5339 13.8301 11.0249 13.6985 10.5688 13.4515C11.0249 13.6985 11.5339 13.8301 12.0605 13.8301C12.7695 13.8301 13.4605 13.5901 14.0195 13.1501L18.5305 9.54013L18.6105 9.46013L18.7519 9.60155L18.6641 9.68938Z"
      fill="currentColor"
    />
  </g>
</template>
