<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M19.2723 3.27906C19.6532 3.21556 20 3.50934 20 3.89555V12.3593C19.3589 11.9224 18.5843 11.6669 17.75 11.6669C15.5409 11.6669 13.75 13.4578 13.75 15.6669C13.75 17.8761 15.5409 19.6669 17.75 19.6669C19.9591 19.6669 21.75 17.8761 21.75 15.6669C21.75 15.6668 21.75 15.6668 21.75 15.6667C21.75 15.6666 21.75 15.6666 21.75 15.6665V3.89555C21.75 2.42795 20.4322 1.3116 18.9846 1.55287L9.48455 3.1362C8.33936 3.32707 7.5 4.3179 7.5 5.47889V14.4423C6.85895 14.0054 6.0843 13.7499 5.25 13.7499C3.04086 13.7499 1.25 15.5408 1.25 17.7499C1.25 19.9591 3.04086 21.7499 5.25 21.7499C7.45914 21.7499 9.25 19.9591 9.25 17.7499C9.25 17.7499 9.25 17.7499 9.25 17.7499C9.25 17.7499 9.25 17.7499 9.25 17.7499V5.47889C9.25 5.17336 9.47088 4.91262 9.77225 4.86239L19.2723 3.27906ZM17.75 13.4169C16.5074 13.4169 15.5 14.4243 15.5 15.6669C15.5 16.9096 16.5074 17.9169 17.75 17.9169C18.9926 17.9169 20 16.9096 20 15.6669C20 14.4243 18.9926 13.4169 17.75 13.4169ZM5.25 15.4999C4.00736 15.4999 3 16.5073 3 17.7499C3 18.9926 4.00736 19.9999 5.25 19.9999C6.49264 19.9999 7.5 18.9926 7.5 17.7499C7.5 16.5073 6.49264 15.4999 5.25 15.4999Z"
      fill="currentColor"
    />
  </g>
</template>

