<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.9558 1.125C9.66714 1.125 7.35632 2.17672 5.89965 3.95794L5.89962 3.95791L5.89446 3.96435C4.90064 5.20325 4.41892 6.49835 4.41892 8.3703V8.79633C4.41892 9.35114 4.35054 9.73775 4.22749 10.0593C4.10457 10.3806 3.90672 10.6903 3.57462 11.0664L3.57337 11.0678C2.82346 11.9207 2.625 12.9739 2.625 13.956C2.625 15.0277 2.98063 16.0619 3.6983 16.9022L3.71054 16.9165L3.72338 16.9303C4.61984 17.8928 5.87852 18.5069 7.17761 18.6178C8.78511 18.8006 10.3863 18.8687 12.0005 18.8687C13.6322 18.8687 15.2346 18.7532 16.8108 18.6189C18.1135 18.5108 19.3772 17.8958 20.2772 16.9307L20.2903 16.9167L20.3027 16.9022C21.0208 16.0614 21.375 15.027 21.375 13.956C21.375 12.9767 21.1787 11.9249 20.4305 11.0723C20.1062 10.6929 19.9062 10.3802 19.78 10.0552C19.6541 9.73112 19.5821 9.34449 19.5821 8.79633V8.3703C19.5821 6.55645 19.1523 5.31012 18.2045 4.08923C16.7663 2.22417 14.379 1.125 12.0452 1.125H11.9558ZM19.1049 12.2147L19.7695 11.6456L19.1129 12.224C19.4683 12.6274 19.625 13.1868 19.625 13.956C19.625 14.6271 19.4089 15.2471 18.9842 15.7512C18.3787 16.3932 17.5242 16.8039 16.6652 16.875L16.6629 16.8751C15.0967 17.0087 13.5549 17.1187 12.0005 17.1187C10.4308 17.1187 8.89365 17.0523 7.36294 16.8776L7.34938 16.8761L7.33578 16.8749C6.47547 16.8039 5.62126 16.393 5.01697 15.7515C4.59171 15.2467 4.375 14.6265 4.375 13.956C4.375 13.188 4.5322 12.6279 4.88712 12.2239C5.30801 11.7472 5.64161 11.2605 5.86192 10.6847C6.08225 10.1089 6.16892 9.49745 6.16892 8.79633V8.3703C6.16892 6.88009 6.52517 5.97592 7.25693 5.06262C8.36862 3.70538 10.173 2.875 11.9558 2.875H12.0452C13.8712 2.875 15.7331 3.74936 16.8194 5.15882L16.8214 5.16136C17.5108 6.04906 17.8321 6.90948 17.8321 8.3703V8.79633C17.8321 9.5041 17.926 10.1156 18.1487 10.6889C18.3706 11.26 18.7008 11.7429 19.1049 12.2147ZM9.07373 21.0609C9.07373 20.5573 9.53588 20.3267 9.96324 20.228C10.4631 20.1222 13.5093 20.1222 14.0092 20.228C14.4366 20.3267 14.8988 20.5573 14.8988 21.0609C14.8739 21.5403 14.5926 21.9653 14.204 22.2353C13.7002 22.6281 13.1088 22.8768 12.4906 22.9665C12.1487 23.0108 11.8128 23.0118 11.4829 22.9665C10.8637 22.8768 10.2723 22.6281 9.76943 22.2343C9.37984 21.9653 9.09858 21.5403 9.07373 21.0609Z"
      fill="currentColor"
    />
  </g>
</template>
