<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.125 16.4C2.125 15.9167 2.51675 15.525 3 15.525L5.3988 15.525C5.8129 14.2064 7.04477 13.2499 8.50005 13.2499C9.95533 13.2499 11.1872 14.2064 11.6013 15.525L21 15.525C21.4832 15.525 21.875 15.9168 21.875 16.4C21.875 16.8832 21.4832 17.275 21 17.275L11.657 17.275C11.3094 18.6957 10.0279 19.7499 8.50005 19.7499C6.97225 19.7499 5.69068 18.6957 5.34306 17.275L3 17.275C2.51675 17.275 2.125 16.8832 2.125 16.4ZM7.21559 17.275C7.47833 17.7095 7.95528 17.9999 8.50005 17.9999C9.04483 17.9999 9.52178 17.7095 9.78452 17.275C9.92132 17.0488 10.0001 16.7835 10.0001 16.4999C10.0001 16.1277 9.86451 15.7872 9.6401 15.525C9.36498 15.2036 8.95631 14.9999 8.50005 14.9999C8.0438 14.9999 7.63512 15.2036 7.36001 15.525C7.1356 15.7872 7.00005 16.1277 7.00005 16.4999C7.00005 16.5176 7.00036 16.5353 7.00097 16.5528C7.01012 16.8165 7.08733 17.0629 7.21559 17.275Z"
      fill="currentColor"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.125 7.6C2.125 7.11676 2.51675 6.725 3 6.725L12.343 6.725C12.6906 5.30424 13.9722 4.24994 15.5001 4.24994C17.0279 4.24994 18.3095 5.30424 18.6571 6.72501L21 6.72501C21.4832 6.72501 21.875 7.11676 21.875 7.60001C21.875 8.08325 21.4832 8.47501 21 8.47501L18.6012 8.47501C18.1871 9.79353 16.9553 10.7499 15.5001 10.7499C14.0448 10.7499 12.813 9.79353 12.3989 8.475L3 8.475C2.51675 8.475 2.125 8.08325 2.125 7.6ZM14.3602 8.475C14.6353 8.79632 15.0439 8.99994 15.5001 8.99994C15.9562 8.99994 16.3648 8.79632 16.6399 8.475C16.8644 8.21279 17.0001 7.8722 17.0001 7.49994C17.0001 7.21637 16.9214 6.95117 16.7846 6.72501C16.5219 6.29044 16.0449 5.99994 15.5001 5.99994C14.9552 5.99994 14.4782 6.29044 14.2155 6.72501C14.0787 6.95117 14.0001 7.21637 14.0001 7.49994C14.0001 7.5232 14.0006 7.54635 14.0016 7.56935C14.0174 7.91447 14.1497 8.22918 14.3602 8.475Z"
      fill="currentColor"
    />
  </g>
</template>
