<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.59991 2.12488C8.08316 2.12488 8.47491 2.51663 8.47491 2.99988L8.47491 5.39868C9.79353 5.81278 10.75 7.04465 10.75 8.49993C10.75 9.95521 9.79353 11.1871 8.47491 11.6012L8.47491 20.9999C8.47491 21.4831 8.08316 21.8749 7.59991 21.8749C7.11666 21.8749 6.72491 21.4831 6.72491 20.9999L6.72491 11.6569C5.30423 11.3093 4.25003 10.0277 4.25003 8.49993C4.25003 6.97213 5.30424 5.69056 6.72491 5.34294L6.72491 2.99988C6.72491 2.51663 7.11666 2.12488 7.59991 2.12488ZM6.72491 7.21547C6.29045 7.47821 6.00003 7.95515 6.00003 8.49993C6.00003 9.04471 6.29045 9.52166 6.72491 9.7844C6.95112 9.9212 7.21638 9.99993 7.50003 9.99993C7.8722 9.99993 8.21272 9.86439 8.47491 9.63997C8.79633 9.36486 9.00003 8.95618 9.00003 8.49993C9.00003 8.04368 8.79633 7.635 8.47491 7.35989C8.21272 7.13547 7.87221 6.99993 7.50003 6.99993C7.4823 6.99993 7.46465 7.00024 7.44707 7.00085C7.18338 7.01 6.93698 7.08721 6.72491 7.21547Z"
      fill="currentColor"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.3999 2.12488C16.8832 2.12488 17.2749 2.51663 17.2749 2.99988L17.2749 12.3429C18.6957 12.6904 19.75 13.9721 19.75 15.4999C19.75 17.0278 18.6957 18.3094 17.2749 18.657L17.2749 20.9999C17.2749 21.4831 16.8832 21.8749 16.3999 21.8749C15.9167 21.8749 15.5249 21.4831 15.5249 20.9999L15.5249 18.6011C14.2064 18.187 13.25 16.9551 13.25 15.4999C13.25 14.0447 14.2064 12.8129 15.5249 12.3987L15.5249 2.99988C15.5249 2.51663 15.9167 2.12488 16.3999 2.12488ZM15.5249 14.3601C15.2036 14.6352 15 15.0438 15 15.4999C15 15.9561 15.2036 16.3647 15.5249 16.6398C15.7871 16.8643 16.1277 16.9999 16.5 16.9999C16.7835 16.9999 17.0487 16.9212 17.2749 16.7845C17.7095 16.5218 18 16.0448 18 15.4999C18 14.9551 17.7095 14.4781 17.2749 14.2154C17.0487 14.0786 16.7835 13.9999 16.5 13.9999C16.4767 13.9999 16.4536 14.0005 16.4306 14.0015C16.0854 14.0172 15.7707 14.1496 15.5249 14.3601Z"
      fill="currentColor"
    />
  </g>
</template>

