<template>
  <g>
    <path
      d="M8 6C8 5.44772 8.44772 5 9 5C9.55228 5 10 5.44772 10 6V18C10 18.5523 9.55228 19 9 19C8.44772 19 8 18.5523 8 18V6Z"
      fill="currentColor"
    />
    <path
      d="M14 6C14 5.44772 14.4477 5 15 5C15.5523 5 16 5.44772 16 6V18C16 18.5523 15.5523 19 15 19C14.4477 19 14 18.5523 14 18V6Z"
      fill="currentColor"
    />
  </g>
</template>

