<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M15.6944 4.8H18.1387L8.3056 19.2H5.86123L15.6944 4.8ZM8.49758 10.3833C8.77073 10.0033 8.91999 9.45028 8.91999 8.7C8.91999 7.94973 8.77073 7.39676 8.49758 7.01673L8.49514 7.01333C8.24152 6.64444 7.88515 6.46 7.39999 6.46C6.94755 6.46 6.58643 6.64642 6.30206 7.03718C6.02877 7.41769 5.87999 7.96425 5.87999 8.7C5.87999 9.43377 6.02797 9.98786 6.30208 10.3828C6.58513 10.7587 6.94593 10.94 7.39999 10.94C7.88515 10.94 8.24156 10.7556 8.49518 10.3867L8.49758 10.3833ZM17.6776 13.6367L17.6759 13.6344C17.4064 13.2477 17.0475 13.06 16.58 13.06C16.1099 13.06 15.7508 13.2433 15.4824 13.6167C15.2092 13.9968 15.06 14.5497 15.06 15.3C15.06 16.0503 15.2092 16.6033 15.4824 16.9833C15.7508 17.3567 16.1099 17.54 16.58 17.54C17.0496 17.54 17.4084 17.3571 17.6767 16.9845C17.9516 16.5894 18.1 16.0348 18.1 15.3C18.1 14.564 17.9511 14.0173 17.6776 13.6367ZM7.39999 12.74C6.34655 12.74 5.48312 12.3648 4.82894 11.6111C4.17734 10.8603 3.85999 9.88353 3.85999 8.7C3.85999 7.51647 4.17734 6.53967 4.82894 5.78891C5.48312 5.03518 6.34655 4.66 7.39999 4.66C8.45272 4.66 9.31569 5.03468 9.96972 5.7874C10.6362 6.52562 10.96 7.50372 10.96 8.7C10.96 9.89724 10.6357 10.8815 9.96966 11.6327C9.31507 12.3725 8.45203 12.74 7.39999 12.74ZM16.58 19.34C15.5265 19.34 14.6631 18.9648 14.0089 18.2111C13.3573 17.4603 13.04 16.4835 13.04 15.3C13.04 14.1165 13.3573 13.1397 14.0089 12.3889C14.6631 11.6352 15.5265 11.26 16.58 11.26C17.633 11.26 18.4962 11.6349 19.1503 12.3881C19.8156 13.1387 20.14 14.1158 20.14 15.3C20.14 16.4842 19.8156 17.4613 19.1504 18.2118C18.4963 18.9651 17.6331 19.34 16.58 19.34Z"
          fill="currentColor"/>
  </g>
</template>

