<template>
  <g>
    <path
      d="M18.117 11.9903L18.117 11.9904L18.1229 11.9937C18.123 11.9938 18.1233 11.9941 18.1237 11.9949C18.1244 11.996 18.125 11.9978 18.125 12C18.125 12.0022 18.1244 12.004 18.1237 12.0051C18.1234 12.0057 18.1231 12.006 18.1229 12.0062L18.117 12.0097L5.87578 19.1235C5.87533 19.1224 5.875 19.1209 5.87501 19.1193V19.1158V4.88417H5.87501L5.875 4.88072C5.87499 4.87908 5.87533 4.87765 5.87578 4.87654L18.117 11.9903Z"
      stroke="currentColor"
      stroke-width="1.75"
    />
  </g>
</template>

