<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11 18.6001C11 19.1524 11.4477 19.6001 12 19.6001C12.5523 19.6001 13 19.1524 13 18.6001V13H18.5984C19.1507 13 19.5984 12.5523 19.5984 12C19.5984 11.4477 19.1507 11 18.5984 11H13V5.40009C13 4.8478 12.5523 4.40009 12 4.40009C11.4477 4.40009 11 4.8478 11 5.40009L11 11H5.39844C4.84615 11 4.39844 11.4477 4.39844 12C4.39844 12.5523 4.84615 13 5.39844 13H11L11 18.6001Z"
      fill="currentColor"
    />
  </g>
</template>


