<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21.2678 4.72779C21.7366 5.19378 22 5.8258 22 6.48481V21.5C22 21.6229 21.9633 21.7431 21.8945 21.8452C21.8257 21.9474 21.728 22.027 21.6138 22.074C21.4995 22.1209 21.3737 22.1331 21.2525 22.109V22.109C21.0123 22.0613 20.8341 21.865 20.6379 21.7184L17.3662 19.2729C17.1319 19.0399 16.814 18.909 16.4825 18.9089H4.5C3.83696 18.9089 3.20107 18.6471 2.73223 18.1811C2.26339 17.7151 2 17.0831 2 16.4241V6.48481C2 5.8258 2.26339 5.19378 2.73223 4.72779C3.20107 4.26179 3.83696 4 4.5 4H19.5C20.163 4 20.7989 4.26179 21.2678 4.72779Z"
      stroke="currentColor"
      stroke-width="1.5"
    />
    <path
      d="M11.2762 10.4195C11.1962 10.2443 11.1012 10.0753 10.9925 9.92129C10.91 9.79953 10.815 9.68647 10.7087 9.58335C10.5312 9.40693 10.3338 9.26778 10.1225 9.18081L10.1125 9.17584C9.8275 9.04415 9.50625 8.9696 9.1675 8.9696C7.97 8.9696 7 9.89768 7 11.0407C7 12.1837 7.96875 13.1105 9.16875 13.1105C9.59625 13.1105 9.995 12.9925 10.3313 12.7875C10.16 13.2708 9.84375 13.7864 9.32 14.3033C9.27055 14.3512 9.2315 14.4088 9.20527 14.4723C9.17903 14.5358 9.16616 14.6041 9.16745 14.6727C9.16873 14.7414 9.18415 14.8091 9.21275 14.8716C9.24136 14.9341 9.28253 14.9902 9.33375 15.0363C9.43879 15.1316 9.57652 15.1834 9.71873 15.1811C9.86095 15.1788 9.99689 15.1225 10.0988 15.0239C11.7675 13.3727 11.8112 11.5973 11.2762 10.4195Z"
      fill="currentColor"
    />
    <path
      d="M14.5875 13.1105C15.015 13.1105 15.4137 12.9925 15.75 12.7875H15.7513C15.5788 13.2708 15.2638 13.7864 14.7388 14.3033C14.6893 14.3512 14.6503 14.4088 14.624 14.4723C14.5978 14.5358 14.5849 14.6041 14.5862 14.6727C14.5875 14.7414 14.6029 14.8091 14.6315 14.8716C14.6601 14.9341 14.7013 14.9902 14.7525 15.0363C14.8576 15.132 14.9956 15.184 15.1381 15.1817C15.2806 15.1794 15.4168 15.1229 15.5187 15.0239C17.1862 13.3727 17.2313 11.5973 16.6963 10.4195C16.6162 10.2443 16.52 10.0753 16.4113 9.92129C16.3288 9.79953 16.2338 9.68647 16.1275 9.58335C15.95 9.40693 15.7537 9.26778 15.5413 9.18081L15.5312 9.17584C15.2463 9.04415 14.925 8.9696 14.5863 8.9696C13.39 8.9696 12.4187 9.89768 12.4187 11.0407C12.4187 12.1837 13.39 13.1105 14.5875 13.1105Z"
      fill="currentColor"
    />
  </g>
</template>

