<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.64 2C6.31627 2 2 6.31627 2 11.64C2 14.211 3.01211 16.5412 4.6495 18.2656C4.70314 18.3221 4.71391 18.376 4.71217 18.405L4.56676 20.8261C4.47414 22.3684 6.18204 23.3546 7.47146 22.5033L9.59728 21.0998C9.62072 21.0843 9.6687 21.0679 9.7382 21.0821C10.3486 21.2072 10.9836 21.2793 11.64 21.2793C16.9644 21.2793 21.28 16.9637 21.28 11.6393C21.2808 6.3161 16.9643 2 11.64 2ZM3.75 11.6399C3.75004 7.28273 7.28279 3.75 11.64 3.75C15.9981 3.75 19.5307 7.28299 19.53 11.6393C19.53 11.6393 19.53 11.6393 19.53 11.6394C19.53 15.9973 15.998 19.5293 11.64 19.5293C11.1124 19.5293 10.5954 19.4714 10.0895 19.3677C9.60805 19.2691 9.07902 19.3449 8.63309 19.6393L6.50726 21.0428C6.47826 21.062 6.45743 21.0654 6.44209 21.0655C6.42321 21.0657 6.3996 21.0605 6.37589 21.0468C6.35218 21.0331 6.33582 21.0153 6.32654 20.9988C6.31899 20.9855 6.31153 20.9657 6.31362 20.931L6.45902 18.5099C6.49269 17.9492 6.27163 17.4325 5.91856 17.0606C4.57541 15.6461 3.75 13.7419 3.75 11.64C3.75 11.64 3.75 11.64 3.75 11.6399ZM8.0218 8.72266C7.15299 8.72266 6.44894 9.4267 6.44894 10.2955C6.44894 10.8652 6.75084 11.3639 7.20359 11.6398C7.44188 11.7851 7.72196 11.8686 8.0218 11.8684C8.32109 11.8684 8.60084 11.7848 8.83898 11.6398C9.29213 11.3637 9.59465 10.865 9.59465 10.2955C9.59465 9.4267 8.89061 8.72266 8.0218 8.72266ZM7.25678 14.5314C7.25678 15.6376 9.2194 17.5581 11.64 17.5581C14.0606 17.5581 16.0225 15.6376 16.0225 14.5314C16.0225 13.8706 15.3223 14.0159 14.2425 14.24C13.5147 14.391 12.6145 14.5779 11.64 14.5779C10.6651 14.5779 9.7647 14.3914 9.03682 14.2406C7.95689 14.0169 7.25678 13.8719 7.25678 14.5314ZM13.6861 10.2962C13.6861 9.42743 14.3909 8.72338 15.2597 8.72338C16.1285 8.72338 16.8318 9.42743 16.8318 10.2962C16.8318 10.8651 16.5303 11.3633 16.0783 11.6395C15.8399 11.7852 15.5597 11.8691 15.2597 11.8691C14.9592 11.8693 14.6784 11.7854 14.4396 11.6395C13.9876 11.3634 13.6861 10.8652 13.6861 10.2962Z"
      fill="currentColor"
    />
  </g>
</template>

