<template>
  <g>
    <path
      d="M21 21L18 18"
      stroke="currentColor"
      stroke-width="1.75"
      stroke-linecap="round"
    />
    <ellipse
      cx="11.5"
      cy="11.5"
      rx="8.5"
      ry="8.5"
      stroke="currentColor"
      stroke-width="1.75"
    />
  </g>
</template>

