<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20.9869 7.56282L20.3393 6.43908C19.7915 5.48823 18.5774 5.16021 17.6252 5.70579C17.172 5.97279 16.6311 6.04854 16.122 5.91634C15.6128 5.78414 15.1772 5.45485 14.9111 5.00108C14.7399 4.71265 14.6479 4.38414 14.6444 4.04876C14.6599 3.51105 14.457 2.99 14.0821 2.60428C13.7071 2.21857 13.192 2.00104 12.6541 2.00127H11.3494C10.8224 2.00126 10.3171 2.21126 9.94538 2.5848C9.57363 2.95834 9.36605 3.46462 9.36859 3.99162C9.35297 5.07968 8.46642 5.95351 7.37824 5.9534C7.04286 5.94991 6.71434 5.85793 6.42592 5.68675C5.47376 5.14116 4.25965 5.46918 3.7118 6.42003L3.01661 7.56282C2.46942 8.51249 2.79297 9.72582 3.74037 10.2769C4.35619 10.6325 4.73556 11.2895 4.73556 12.0006C4.73556 12.7117 4.35619 13.3688 3.74037 13.7243C2.79418 14.2717 2.47027 15.4821 3.01661 16.4289L3.67371 17.5622C3.9304 18.0254 4.36108 18.3671 4.87046 18.5119C5.37983 18.6567 5.9259 18.5925 6.38782 18.3336C6.84192 18.0686 7.38305 17.996 7.89092 18.1319C8.3988 18.2678 8.83135 18.601 9.09241 19.0573C9.2636 19.3458 9.35558 19.6743 9.35906 20.0097C9.35906 21.1089 10.2502 22 11.3494 22H12.6541C13.7496 22 14.6392 21.1147 14.6444 20.0192C14.6419 19.4905 14.8508 18.9828 15.2246 18.609C15.5984 18.2352 16.1061 18.0263 16.6348 18.0288C16.9694 18.0378 17.2965 18.1294 17.5871 18.2955C18.5368 18.8427 19.7501 18.5191 20.3012 17.5717L20.9869 16.4289C21.2523 15.9734 21.3252 15.4308 21.1893 14.9214C21.0535 14.412 20.7201 13.9777 20.2631 13.7148C19.8061 13.4519 19.4728 13.0177 19.337 12.5082C19.2011 11.9988 19.274 11.4562 19.5394 11.0007C19.712 10.6994 19.9618 10.4495 20.2631 10.2769C21.2049 9.72612 21.5277 8.51987 20.9869 7.57234V7.56282Z"
      stroke="currentColor"
      stroke-width="1.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <circle
      cx="11.9988"
      cy="12"
      r="2.08082"
      stroke="currentColor"
      stroke-width="1.75"
    />
  </g>
</template>

