<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 2.125C10.3585 2.125 8.95034 2.50302 8.01847 3.44295C6.99751 4.47311 7.02416 5.70465 7.05539 6.06001V7.3055C6.84199 7.62283 6.71626 7.99907 6.71626 8.4V9.6C6.71626 10.1626 6.95718 10.6678 7.33983 11.0369C7.6382 11.9201 8.10566 12.6172 8.41191 13.0144V13.6178L5.41429 15.0642C4.16677 15.6664 3.32495 16.8606 3.32495 18.2286V19.2C3.32495 19.6668 3.54184 20.0378 3.802 20.3011C4.05144 20.5536 4.36772 20.7384 4.67864 20.8791C5.30213 21.1612 6.11199 21.3566 6.94275 21.4967C8.62087 21.7798 10.6236 21.875 12 21.875C13.3763 21.875 15.379 21.7798 17.0571 21.4967C17.8879 21.3566 18.6978 21.1612 19.3213 20.8791C19.6322 20.7384 19.9485 20.5536 20.1979 20.3011C20.4581 20.0378 20.6749 19.6668 20.6749 19.2V18.2871C20.6749 16.865 19.78 15.6492 18.4631 15.0665L15.2489 13.645V13.0358C15.2662 13.0146 15.2835 12.9932 15.3008 12.9716C15.7069 12.4641 16.0442 11.9077 16.3065 11.3124C16.8802 10.9509 17.2836 10.3363 17.2836 9.6V8.4C17.2836 7.99907 17.1579 7.62283 16.9445 7.3055V6.06001C16.9757 5.70464 17.0025 4.47351 15.9815 3.44336C15.0496 2.50301 13.6414 2.125 12 2.125ZM8.79965 5.91675C8.791 5.84166 8.74103 5.19993 9.26133 4.67494C9.72263 4.20973 10.5751 3.875 12 3.875C13.4249 3.875 14.2773 4.20979 14.7385 4.67522C15.2589 5.20023 15.2089 5.84173 15.2003 5.91675L15.1945 5.96661V6.0168V7.6125V7.97299L15.4484 8.22886C15.5183 8.29926 15.5336 8.3631 15.5336 8.4V9.6C15.5336 9.66327 15.491 9.79298 15.2906 9.87427L14.9406 10.0162L14.8039 10.3683C14.5911 10.9158 14.299 11.4227 13.9346 11.878C13.8607 11.9704 13.7924 12.0501 13.7314 12.1161L13.4989 12.3676V12.7101V13.7244C13.4989 14.4174 13.9356 14.9774 14.5151 15.234L17.755 16.6669C18.5237 17.007 18.9249 17.6464 18.9249 18.2871V19.0966C18.8722 19.1404 18.7718 19.2069 18.5999 19.2847C18.1824 19.4736 17.5481 19.6392 16.7661 19.7711C15.2187 20.0321 13.3214 20.125 12 20.125C10.6785 20.125 8.78125 20.0321 7.23381 19.7711C6.4518 19.6392 5.81749 19.4736 5.40001 19.2847C5.22814 19.2069 5.12767 19.1404 5.07495 19.0966V18.2286C5.07495 17.6142 5.45476 16.988 6.17479 16.6404L9.20018 15.1806C9.75094 14.9143 10.1619 14.3641 10.1619 13.6965V12.7038V12.3783L9.94913 12.1319C9.75595 11.9082 9.20007 11.2023 8.94032 10.2925L8.85593 9.99689L8.6052 9.81903C8.49129 9.73823 8.46626 9.65211 8.46626 9.6V8.4C8.46626 8.3631 8.48158 8.29926 8.55145 8.22886L8.80539 7.97299V7.6125V6.0168V5.96661L8.79965 5.91675Z"
      fill="currentColor"
    />
  </g>
</template>
