<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5 6.875C5 6.39175 5.39175 6 5.875 6H17.875C18.3582 6 18.75 6.39175 18.75 6.875C18.75 7.35825 18.3582 7.75 17.875 7.75H5.875C5.39175 7.75 5 7.35825 5 6.875ZM5 11.875C5 11.3918 5.39175 11 5.875 11H13.875C14.3582 11 14.75 11.3918 14.75 11.875C14.75 12.3582 14.3582 12.75 13.875 12.75H5.875C5.39175 12.75 5 12.3582 5 11.875ZM5.875 16C5.39175 16 5 16.3918 5 16.875C5 17.3582 5.39175 17.75 5.875 17.75H9.875C10.3582 17.75 10.75 17.3582 10.75 16.875C10.75 16.3918 10.3582 16 9.875 16H5.875Z"
      fill="currentColor"
    />
  </g>
</template>

