<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7 4C7.55228 4 8 4.44772 8 5V19C8 19.5523 7.55228 20 7 20C6.44772 20 6 19.5523 6 19V5C6 4.44772 6.44772 4 7 4ZM17 4C17.5523 4 18 4.44772 18 5V19C18 19.5523 17.5523 20 17 20C16.4477 20 16 19.5523 16 19V5C16 4.44772 16.4477 4 17 4ZM13 8C13 7.44771 12.5523 7 12 7C11.4477 7 11 7.44771 11 8V16C11 16.5523 11.4477 17 12 17C12.5523 17 13 16.5523 13 16V8ZM2 9C2.55228 9 3 9.44771 3 10V14C3 14.5523 2.55228 15 2 15C1.44772 15 1 14.5523 1 14V10C1 9.44771 1.44772 9 2 9ZM23 10C23 9.44771 22.5523 9 22 9C21.4477 9 21 9.44771 21 10V14C21 14.5523 21.4477 15 22 15C22.5523 15 23 14.5523 23 14V10Z"
      fill="currentColor"
    />
  </g>
</template>

