<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.7526 2.99289L15.1898 7.89572C15.3119 8.14302 15.5476 8.3156 15.8212 8.35559L21.2776 9.14379C21.4985 9.17326 21.6974 9.28901 21.8332 9.4658C22.0879 9.79729 22.0489 10.2666 21.7437 10.5518L17.7891 14.376C17.5881 14.5654 17.4986 14.8432 17.5512 15.1137L18.4983 20.5101C18.5646 20.9573 18.2595 21.3761 17.8122 21.4487C17.627 21.4772 17.4376 21.4477 17.2692 21.3646L12.4095 18.8169C12.1654 18.6843 11.8728 18.6843 11.6287 18.8169L6.73323 21.3782C6.32388 21.5866 5.82297 21.4319 5.59987 21.031C5.51463 20.8689 5.48517 20.6847 5.51463 20.5048L6.46173 15.1084C6.50909 14.839 6.41964 14.5623 6.2239 14.3718L2.24818 10.5487C1.92406 10.2266 1.92196 9.70258 2.24503 9.37846C2.24608 9.37741 2.24713 9.3753 2.24818 9.37425C2.38183 9.25323 2.54599 9.1722 2.72384 9.14063L8.18125 8.35243C8.4538 8.30929 8.68847 8.13881 8.81265 7.89151L11.2478 2.99289C11.3456 2.794 11.5193 2.64141 11.7297 2.57196C11.9412 2.50145 12.1728 2.51829 12.3716 2.61826C12.5348 2.69929 12.6684 2.83083 12.7526 2.99289Z"
      stroke="currentColor"
      stroke-width="1.75"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </g>
</template>


