<template>
  <g>
    <path fill-rule="evenodd"
          clip-rule="evenodd"
          d="M5.79143 0.424988C4.38709 0.424988 3.03013 0.69628 2.00195 1.43276C0.926024 2.20344 0.324951 3.40126 0.324951 4.97016V19.694C0.324951 21.0885 1.82568 21.9673 3.0416 21.2852L8.99394 17.9462L14.8919 21.2779L14.8928 21.2784C16.1088 21.9634 17.6138 21.0862 17.6138 19.689V5.15362C17.6138 3.55869 17.0556 2.31543 15.9921 1.50065C14.9695 0.717125 13.6016 0.424988 12.1503 0.424988H5.79143ZM2.07495 4.97016C2.07495 3.89646 2.45734 3.25919 3.02101 2.85544C3.63243 2.41748 4.57121 2.17499 5.79143 2.17499H12.1503C13.4068 2.17499 14.3332 2.43423 14.9278 2.8898C15.4817 3.31412 15.8638 3.99767 15.8638 5.15362V19.689C15.8638 19.7099 15.8591 19.7201 15.8553 19.7264C15.8503 19.7349 15.841 19.745 15.8269 19.7533C15.8129 19.7615 15.7993 19.7646 15.7892 19.7648C15.7817 19.765 15.7702 19.7641 15.7518 19.7537L15.7517 19.7537L9.4258 16.1802C9.15954 16.0298 8.83407 16.0293 8.56736 16.179L2.18541 19.7589L2.18537 19.7589C2.16729 19.7691 2.15618 19.7699 2.1489 19.7697C2.13902 19.7695 2.12567 19.7664 2.11169 19.7582C2.09773 19.75 2.0885 19.7399 2.08342 19.7314C2.07968 19.7251 2.07495 19.7149 2.07495 19.694V4.97016ZM5.27112 7.15305C4.78787 7.15305 4.39612 7.5448 4.39612 8.02805C4.39612 8.5113 4.78787 8.90305 5.27112 8.90305H12.5894C13.0727 8.90305 13.4644 8.5113 13.4644 8.02805C13.4644 7.5448 13.0727 7.15305 12.5894 7.15305H5.27112Z"
          fill="currentColor"/>
  </g>
</template>
