<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15.933 8.25144H9.07108C9.06572 8.23305 9.05972 8.21471 9.05307 8.19645L9.04692 8.17954C8.36229 6.26972 9.3548 4.16611 11.2647 3.47956L11.2647 3.47957L11.268 3.47837C12.7786 2.92855 14.418 3.43078 15.3795 4.61393C15.6842 4.98896 16.2353 5.04593 16.6103 4.74117C16.9854 4.43641 17.0423 3.88533 16.7376 3.5103C15.3208 1.76686 12.9037 1.02149 10.6711 1.83332C7.98862 2.79853 6.53242 5.65867 7.2713 8.36342C5.18477 8.82905 3.625 10.692 3.625 12.9194V17.2074C3.625 19.7855 5.7146 21.8754 8.292 21.8754H15.933C18.5104 21.8754 20.6 19.7855 20.6 17.2074V12.9194C20.6 10.3413 18.5104 8.25144 15.933 8.25144ZM8.292 10.0014C6.6814 10.0014 5.375 11.3075 5.375 12.9194V17.2074C5.375 18.8193 6.6814 20.1254 8.292 20.1254H15.933C17.5436 20.1254 18.85 18.8193 18.85 17.2074V12.9194C18.85 11.3075 17.5436 10.0014 15.933 10.0014H8.292ZM12.9877 13.9526C12.9877 13.4694 12.5959 13.0776 12.1127 13.0776C11.6294 13.0776 11.2377 13.4694 11.2377 13.9526V16.1746C11.2377 16.6579 11.6294 17.0496 12.1127 17.0496C12.5959 17.0496 12.9877 16.6579 12.9877 16.1746V13.9526Z"
      fill="currentColor"
    />
  </g>
</template>
