<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.0082 1.88208C10.3424 1.88208 9.16199 2.42909 8.46422 3.4988C7.8227 4.4823 7.7045 5.75124 7.7045 6.92162V6.92164C7.70456 9.53799 9.47998 11.9611 12.0082 11.9611C14.5364 11.9611 16.3119 9.53801 16.3119 6.92162C16.3119 5.75122 16.1937 4.48228 15.5522 3.4988C14.8544 2.42909 13.6739 1.88208 12.0082 1.88208ZM12.0082 10.2111C10.7494 10.2111 9.45455 8.90516 9.4545 6.92162V6.9216C9.4545 5.79198 9.58831 4.97867 9.92996 4.45489C10.2154 4.01734 10.7493 3.63208 12.0082 3.63208C13.2671 3.63208 13.801 4.01734 14.0864 4.4549C14.4281 4.97868 14.5619 5.79201 14.5619 6.92162C14.5619 8.90513 13.2671 10.2111 12.0082 10.2111ZM11.0378 12.4744C10.6787 12.2687 10.055 11.9738 9.35996 12.1208C7.59702 12.4936 6.31573 13.037 5.55418 14.1931C4.83335 15.2874 4.70434 16.7659 4.6703 18.5857L4.66409 19.0689C4.66045 19.3523 4.72154 19.7453 5.00815 20.0827C5.64405 20.8315 7.42063 22.1182 12.0114 22.1182C16.6031 22.1182 18.3795 20.831 19.0151 20.0823C19.3013 19.7453 19.3624 19.3529 19.359 19.07L19.3548 18.7217L19.3548 18.7184C19.3252 16.8531 19.207 15.3449 18.4941 14.2323C17.7364 13.05 16.4469 12.4981 14.6629 12.1208C13.968 11.9738 13.3443 12.2686 12.985 12.4744C12.8019 12.5792 12.4884 12.7044 12.0114 12.7044C11.5344 12.7044 11.2209 12.5793 11.0378 12.4744ZM9.72203 13.8329C9.72809 13.8316 9.76497 13.8257 9.84983 13.8496C9.93647 13.8741 10.0427 13.9212 10.168 13.9929C10.596 14.2381 11.2071 14.4544 12.0114 14.4544C12.8157 14.4544 13.4268 14.238 13.8548 13.9929C13.98 13.9212 14.0863 13.8741 14.173 13.8496C14.2578 13.8257 14.2947 13.8317 14.3008 13.8329C15.9809 14.1883 16.6603 14.6142 17.0206 15.1765C17.4256 15.8084 17.5743 16.8112 17.605 18.7445L17.605 18.7461L17.6084 19.0276C17.2605 19.372 15.9224 20.3682 12.0114 20.3682C8.1012 20.3682 6.76294 19.3724 6.41476 19.0278L6.42005 18.6159C6.45527 16.7398 6.61207 15.7684 7.0156 15.1558C7.37859 14.6047 8.06065 14.1843 9.72203 13.8329ZM17.7233 11.1969C19.4121 11.1969 20.7812 9.53398 20.7812 7.48273C20.7812 5.43144 20.3317 3.76855 17.7233 3.76855C17.2846 3.76855 16.907 3.81576 16.5822 3.90388C17.1847 5.01451 17.2673 6.36349 17.2673 7.44029C17.2673 8.6595 16.9368 9.82351 16.3281 10.7873C16.7465 11.0486 17.2205 11.1969 17.7233 11.1969ZM19.3942 11.4834C22.9655 12.128 23.4321 13.1462 23.4888 16.7195C23.4924 16.9497 23.4944 16.9879 23.4953 16.9665C23.4951 17.0271 23.4951 17.1158 23.4951 17.245C23.4951 17.245 23.0027 18.2364 20.6 18.7112C20.5591 16.3779 20.3609 14.7897 19.4986 13.6073C18.9999 12.9235 18.3226 12.4561 17.5781 12.1204C17.6244 12.1225 17.6713 12.124 17.7198 12.124C18.8915 12.124 19.3942 11.4834 19.3942 11.4834ZM6.27652 11.2007C6.77935 11.2007 7.25329 11.0524 7.6718 10.7912C7.06316 9.82741 6.73266 8.6634 6.73266 7.4442C6.73266 6.36734 6.81523 5.01836 7.41758 3.90779C7.09285 3.81967 6.71537 3.77246 6.27652 3.77246C3.66815 3.77246 3.21875 5.43534 3.21875 7.48664C3.21875 9.53783 4.58779 11.2007 6.27652 11.2007ZM6.2754 12.124C6.32396 12.124 6.37094 12.1225 6.41707 12.1204C5.67259 12.4561 4.99544 12.9235 4.49674 13.6073C3.63439 14.7897 3.43627 16.3779 3.39518 18.7111C0.992693 18.2364 0.500227 17.2449 0.500227 17.2449C0.500227 17.1157 0.500113 17.0271 0.5 16.9665C0.500963 16.9879 0.502834 16.9497 0.506517 16.7195C0.563074 13.1461 1.02981 12.128 4.60096 11.4834C4.60096 11.4834 5.10368 12.124 6.2754 12.124Z"
      fill="currentColor"
    />
  </g>
</template>

