<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2.42921 5.03393C3.27864 4.13106 4.4694 3.625 5.82018 3.625H11.1998C12.5506 3.625 13.7414 4.13106 14.5908 5.03393C15.4365 5.93288 15.895 7.17183 15.895 8.56091V15.4391C15.895 16.8282 15.4365 18.0671 14.5908 18.9661C13.7414 19.8689 12.5506 20.375 11.1998 20.375H5.82018C4.4694 20.375 3.27864 19.8689 2.42921 18.9661C1.58347 18.0671 1.125 16.8282 1.125 15.4391V8.56091C1.125 7.17183 1.58347 5.93288 2.42921 5.03393ZM3.70379 6.23307C3.20183 6.76661 2.875 7.55812 2.875 8.56091V15.4391C2.875 16.4419 3.20183 17.2334 3.70379 17.7669C4.20206 18.2965 4.92139 18.625 5.82018 18.625H11.1998C12.0986 18.625 12.8179 18.2965 13.3162 17.7669C13.8182 17.2334 14.145 16.4419 14.145 15.4391V8.56091C14.145 7.55812 13.8182 6.76661 13.3162 6.23307C12.8179 5.70345 12.0986 5.375 11.1998 5.375H5.82018C4.92139 5.375 4.20206 5.70345 3.70379 6.23307ZM18.5606 6.0985C19.2741 5.7361 20.1159 5.77509 20.7944 6.20214C21.4724 6.62776 21.873 7.36676 21.873 8.16234V15.8385C21.873 16.6356 21.472 17.3735 20.7941 17.7989L20.7928 17.7997C20.4274 18.0282 20.0111 18.149 19.586 18.149C19.2324 18.149 18.8819 18.0654 18.5591 17.9011L18.5573 17.9002L17.0798 17.1547L17.0779 17.1537C16.2321 16.7244 15.895 15.862 15.895 14.9167V9.08316C15.895 8.13763 16.2316 7.27358 17.0801 6.84595L18.5592 6.09922L18.5606 6.0985ZM19.8626 7.68339C19.7038 7.58334 19.5166 7.5756 19.3527 7.65897L19.3503 7.66019L17.8683 8.40841C17.6209 8.53308 17.4609 8.78607 17.4609 9.08316V14.9167C17.4609 15.2116 17.6195 15.4658 17.8693 15.5929L19.3491 16.3395L19.3526 16.3413C19.4313 16.3815 19.5102 16.399 19.586 16.399C19.6766 16.399 19.772 16.3738 19.8643 16.3163C20.0242 16.2158 20.123 16.0422 20.123 15.8385V8.16234C20.123 7.95908 20.0237 7.7845 19.8639 7.6842L19.8626 7.68339Z"
      fill="currentColor"
    />
  </g>
</template>
