<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.9788 2.875C10.2278 2.875 8.79974 4.30495 8.79974 6.08095V10.7682C8.79974 12.5439 10.2275 13.9731 11.9788 13.9731C13.6625 13.9731 15.0481 12.6502 15.1506 10.9684H13.0469C12.5637 10.9684 12.1719 10.5767 12.1719 10.0934C12.1719 9.61019 12.5637 9.21844 13.0469 9.21844H15.1567V7.63079H14.0435C13.5603 7.63079 13.1685 7.23904 13.1685 6.75579C13.1685 6.27254 13.5603 5.88079 14.0435 5.88079H15.1507C15.0481 4.19861 13.6623 2.875 11.9788 2.875ZM7.04974 6.08095C7.04974 3.34969 9.25011 1.125 11.9788 1.125C14.7065 1.125 16.9067 3.34984 16.9067 6.08095V10.7682C16.9067 13.4996 14.7062 15.7231 11.9788 15.7231C9.2504 15.7231 7.04974 13.4997 7.04974 10.7682V6.08095ZM12.8538 19.6704C17.3401 19.228 20.8382 15.4207 20.8382 10.8006C20.8382 10.3173 20.4465 9.9256 19.9632 9.9256C19.48 9.9256 19.0882 10.3173 19.0882 10.8006C19.0882 14.7617 15.8994 17.9633 11.9786 17.9633C8.05675 17.9633 4.86891 14.7617 4.86891 10.8006C4.86891 10.3173 4.47716 9.9256 3.99391 9.9256C3.51066 9.9256 3.11891 10.3173 3.11891 10.8006C3.11891 15.4209 6.6163 19.2283 11.1038 19.6704V22C11.1038 22.4833 11.4955 22.875 11.9788 22.875C12.462 22.875 12.8538 22.4833 12.8538 22V19.6704Z"
      fill="currentColor"
    />
  </g>
</template>


