<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.4891 2.4206C11.863 2.25769 12.3174 2.12335 12.7723 2.12503C14.2571 2.12656 15.5347 3.18747 15.9795 4.71089L15.9835 4.72476L15.9871 4.73876C16.1328 5.30666 16.1908 5.86679 16.2398 6.34011L16.2416 6.35765L16.2419 6.36039L16.2882 6.79367C16.2879 6.79132 16.2876 6.78898 16.2873 6.78666L16.2889 6.79997L16.2882 6.79367C16.3858 7.60246 16.4292 9.83849 16.4292 11.9965C16.4292 14.1538 16.3858 16.3907 16.2884 17.2054L16.2874 17.2137C16.2878 17.2109 16.2881 17.2082 16.2884 17.2054L16.2424 17.6516L16.242 17.6563L16.2396 17.6802C16.1958 18.1299 16.1437 18.6647 15.9936 19.2401L15.9903 19.2526L15.9867 19.265C15.5491 20.7598 14.3233 21.875 12.7932 21.875H12.7902C12.7604 21.875 12.7207 21.875 12.6754 21.8739C12.6796 21.8739 12.6839 21.8739 12.6882 21.8739L12.6634 21.8736C12.6674 21.8737 12.6714 21.8738 12.6754 21.8739C11.7998 21.8691 10.9731 21.371 10.5324 20.9907L10.5388 20.996L10.525 20.9843C10.5275 20.9864 10.5299 20.9885 10.5324 20.9907L7.25155 18.258H5.75517C3.83475 18.258 2.50806 16.8333 2.27734 14.9153C2.27768 14.9178 2.27802 14.9203 2.27837 14.9228L2.27639 14.9073C2.27671 14.91 2.27702 14.9126 2.27734 14.9153C2.05226 13.2597 2.09764 10.502 2.27663 9.022L2.27825 9.00857C2.52981 7.16779 3.91143 5.74198 5.75517 5.74198H7.25045L10.4645 3.05297C10.4622 3.05488 10.46 3.05679 10.4578 3.0587L10.4701 3.04824L10.4645 3.05297C10.7478 2.8083 11.1118 2.58493 11.4891 2.4206ZM12.188 4.02499C11.9495 4.12885 11.7389 4.264 11.6053 4.37997L11.5992 4.38526L7.88598 7.49198H5.75517C4.93181 7.49198 4.16881 8.11865 4.01312 9.23914C3.84876 10.606 3.81049 13.2102 4.01223 14.6857L4.01329 14.6934L4.01421 14.7012C4.15783 15.9119 4.8794 16.508 5.75517 16.508H7.88488L11.6657 19.6571L11.6725 19.663C11.7931 19.7677 11.9747 19.8914 12.1777 19.9858C12.3854 20.0823 12.5631 20.1239 12.6882 20.1239H12.7006L12.7131 20.1243C12.7368 20.125 12.7587 20.125 12.7932 20.125C13.3895 20.125 14.0356 19.6853 14.3036 18.7854C14.4144 18.3558 14.4553 17.9469 14.5007 17.4817L14.5012 17.4769L14.5492 17.0106L14.5502 17.0027C14.6327 16.3234 14.6792 14.1987 14.6792 11.9965C14.6792 9.79396 14.6327 7.67253 14.5503 6.99914L14.5487 6.98583L14.5015 6.5435L14.5012 6.54075C14.4505 6.05117 14.4036 5.61437 14.2957 5.18796C14.0346 4.31225 13.369 3.87502 12.7691 3.87502L12.7658 3.87502C12.638 3.87454 12.4326 3.91842 12.188 4.02499Z"
      fill="currentColor"
    />
    <path
      d="M19.4224 6.49458C19.1358 6.0705 18.5626 5.96529 18.1437 6.25838C17.728 6.5547 17.6251 7.14088 17.9138 7.56603C18.7169 8.74914 19.1589 10.323 19.1589 12C19.1589 13.6759 18.7169 15.2509 17.9138 16.434C17.6251 16.8591 17.728 17.4453 18.1437 17.7416C18.2981 17.8511 18.4797 17.9091 18.6676 17.9091C18.9689 17.9091 19.2502 17.7577 19.4224 17.5054C20.4365 16.012 20.9961 14.057 20.9961 12C20.9961 9.94298 20.4365 7.98795 19.4224 6.49458Z"
      fill="currentColor"
    />
  </g>
</template>

