<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.5162 4.47307H7.48381C5.24717 4.47307 3.5 6.22008 3.5 8.295V15.5613C3.5 17.6362 5.24717 19.3832 7.48381 19.3832H16.5162C18.7528 19.3832 20.5 17.6362 20.5 15.5613V15.2682H17.6421C15.7422 15.267 14.2011 13.7121 14.2 11.7919L14.2 11.7891L14.2 11.7863C14.2011 9.8661 15.7422 8.31124 17.6421 8.31006H20.5V8.295C20.5 6.22008 18.7528 4.47307 16.5162 4.47307ZM17.6424 9.82551H20.5V13.7527H17.6424C16.5696 13.752 15.7006 12.8742 15.7 11.791L15.6999 11.7891L15.7 11.7872C15.7006 10.704 16.5696 9.82627 17.6424 9.82551ZM16.5162 2.98206H7.48381C4.45524 2.98206 2 5.36079 2 8.295V15.5613C2 18.4955 4.45524 20.8743 7.48381 20.8743H16.5162C19.5448 20.8743 22 18.4955 22 15.5613V8.295C22 5.36079 19.5448 2.98206 16.5162 2.98206ZM17.9226 10.9871C17.5084 10.9871 17.1726 11.3208 17.1726 11.7326C17.1726 12.1443 17.5084 12.4781 17.9226 12.4781H18.2483C18.6625 12.4781 18.9983 12.1443 18.9983 11.7326C18.9983 11.3208 18.6625 10.9871 18.2483 10.9871H17.9226ZM6.73975 6.83118C6.32553 6.83118 5.98975 7.16496 5.98975 7.57669C5.98975 7.98842 6.32553 8.3222 6.73975 8.3222H12.3817C12.7959 8.3222 13.1317 7.98842 13.1317 7.57669C13.1317 7.16496 12.7959 6.83118 12.3817 6.83118H6.73975Z"
      fill="currentColor"
    />
  </g>
</template>


