<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.98 13.86L10.98 13.8579L10.98 13.8551C10.9811 12.0556 12.4347 10.5977 14.2279 10.5966H16.647C16.5721 8.88883 15.0997 7.46536 13.2146 7.46536H5.08543C3.15029 7.46536 1.65 8.96537 1.65 10.7331V17.231C1.65 18.9987 3.15029 20.4987 5.08543 20.4987H13.2146C15.1497 20.4987 16.65 18.9987 16.65 17.231V17.1188H14.2278C12.4346 17.1177 10.9811 15.6595 10.98 13.86ZM12.63 13.8561C12.6305 12.9697 13.346 12.2524 14.2283 12.2517H16.65V15.4636H14.2283C13.346 15.463 12.6305 14.7455 12.63 13.8591L12.63 13.8574L12.63 13.8561ZM13.2146 5.83203H5.08543C2.28231 5.83203 0 8.02103 0 10.7331V17.231C0 19.943 2.28231 22.132 5.08543 22.132H13.2146C16.0177 22.132 18.3 19.943 18.3 17.231V10.7331C18.3 8.02103 16.0177 5.83203 13.2146 5.83203ZM14.4803 12.9905C14.0265 12.9905 13.6553 13.3543 13.6553 13.8071C13.6553 14.2599 14.0265 14.6238 14.4803 14.6238H14.7735C15.2274 14.6238 15.5985 14.2599 15.5985 13.8071C15.5985 13.3543 15.2274 12.9905 14.7735 12.9905H14.4803ZM4.41577 9.27409C3.9619 9.27409 3.59077 9.63797 3.59077 10.0908C3.59077 10.5435 3.9619 10.9074 4.41577 10.9074H9.49349C9.94736 10.9074 10.3185 10.5435 10.3185 10.0908C10.3185 9.63797 9.94736 9.27409 9.49349 9.27409H4.41577Z"
      fill="currentColor"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21.025 1.875C21.025 1.39175 20.6333 1 20.15 1C19.6668 1 19.275 1.39175 19.275 1.875V3.125H18.025C17.5418 3.125 17.15 3.51675 17.15 4C17.15 4.48325 17.5418 4.875 18.025 4.875H19.275V6.125C19.275 6.60825 19.6668 7 20.15 7C20.6333 7 21.025 6.60825 21.025 6.125V4.875H22.275C22.7583 4.875 23.15 4.48325 23.15 4C23.15 3.51675 22.7583 3.125 22.275 3.125H21.025V1.875Z"
      fill="currentColor"
    />
  </g>
</template>



