<template>
  <div
      id="ButtonSmall"
      class="flex non-selectable small"
      :class="mainClass"
      @click="clickHandler"
  >
    <icons-set
        v-if="icon"
        :name="icon"
        :class="localIconClass"
        class="icon self-center"
    />

    <span class="label self-center non-selectable">
      {{ label }}
    </span>
  </div>
</template>

<script>
import {ButtonsMixins} from "components/mixins/ButtonsMixins";

export default {
  name: "ButtonSmall",
  mixins: [ButtonsMixins],
  computed: {
    localIconClass() {
      return [this.hasText ? "q-mr-8" : "absolute-center"];
    },
  },
};
</script>

<style lang="scss" scoped>
#ButtonSmall {
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  background: $blue;
  color: $white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: background-color 0.2s ease;
  padding: 5px 14px;
  min-width: 36px;
  height: 36px;

  &:hover {
    background: $dark-blue;
  }

  &.disabled {
    background-color: $greyscale-200;
    color: $greyscale-400;
    opacity: 1 !important;
  }

  &.secondary {
    background: transparent;
    color: $blue;
    border: 1px solid $blue;

    &:hover {
      color: $dark-blue;
      border: 1px solid $dark-blue;
      background: $blue-alpha;
    }
  }

  &.secondary_disabled {
    color: $greyscale-300;
    border: 1px solid $greyscale-200;
    background: transparent;
    cursor: not-allowed;
  }

  &.ghost {
    background: $greyscale-200;
    color: $greyscale-600;

    &:hover {
      background: $greyscale-300;
    }
  }
}
</style>
