<template>
  <div
    id="ButtonMedium"
    class="flex non-selectable medium"
    :class="mainClass"
    @click="clickHandler"
  >
    <icons-set
      v-if="icon"
      :name="icon"
      :class="localIconClass"
      class="icon self-center"
    />

    <span class="label self-center non-selectable">
      {{ label }}
    </span>
  </div>
</template>

<script>
import { ButtonsMixins } from "components/mixins/ButtonsMixins";
export default {
  name: "ButtonMedium",
  mixins: [ButtonsMixins],
  computed: {
    localIconClass() {
      return [this.hasText ? "q-mr-8" : "absolute-center"];
    },
  },
};
</script>

<style lang="scss" scoped>
#ButtonMedium {
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  background: $blue;
  color: $white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: background-color 0.2s ease;
  padding: 10px 16px;
  min-width: 44px;
  height: 44px;

  &:hover {
    background: $dark-blue;
  }

  &.disabled {
    background-color: $greyscale-200;
    color: $greyscale-400;
    opacity: 1 !important;
  }

  &.positive {
    background: transparent;
    color: $white;
    background: $green-6;
    border: 1px solid $green-6;

    &:hover {
      border: 1px solid $green-7;
      background: $green-7;
    }
  }

  &.secondary {
    background: transparent;
    color: $blue;
    border: 1px solid $blue;

    &:hover {
      color: $dark-blue;
      border: 1px solid $dark-blue;
      background: $blue-alpha;
    }
  }

  &.secondary_disabled {
    color: $greyscale-300;
    border: 1px solid $greyscale-200;
    background: transparent;
    cursor: not-allowed;
  }

  &.ghost {
    background: $greyscale-200;
    color: $greyscale-600;

    &:hover {
      background: $greyscale-300;
    }
  }
}
</style>
