<template>
  <div class="flex">
    <svg
        :style="{ width: size+'px', height: size+'px' }"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
      <component
        :is="iconComponent"
      />
    </svg>
  </div>
</template>

<script>
import baseIconset from 'components/elements/icons/baseIcons/baseIconset';

export default {
  name: 'BaseIcons20',
  props: {
    name: { type: String, required: true },
    size: { type: String, default: '20' }
  },
  computed: {
    iconComponent () {
      return baseIconset[this.name]
    }
  }
}
</script>

