// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$blue: #175ed3;
$blue-alpha: #175ed314;

$dark-blue: #053eac;
$light-blue: #3f8cff;

$aquamarine-100: #a0d7e7;
$aquamarine-600: #0073B1;

$dark-bg: #1b1d21;
$black: #11142d;
$white: #ffffff;

$grey: #b5bcc2;
$light-grey: #e4e4e4;
$grey-blue-100: #eff2f6;
$grey-blue-200: #e7e9ed;
$dark-grey-100: #808191;
$dark-grey-200: #5f6173;

$greyscale-50: #eff2f6;
$greyscale-100: #e7e9ed;
$greyscale-200: #dcdfe8;
$greyscale-300: #c8c8d5;
$greyscale-400: #a2a3ae;
$greyscale-500: #81818d;
$greyscale-600: #5a5a65;
$greyscale-700: #484853;
$greyscale-800: #2a2b34;
$greyscale-900: #080815;

$table-header: #efefef;
$table-body: #f7f9fb;

$pink: #ffa2c0;
$pink-300: #ff7ea6;
$pink-600: #F14C79;
$aquamarine: #a0d7e7;
$success: #4fbf67;
$negative: #ff4c49;
$light-red: #ff7a68;
$purple: #6c5dd3;
$warning: #ff9f38;
$jade: #3dbaa2;


// Typography

$typography-font-family         : 'Montserrat', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-weights: (thin: 100, light: 300, regular: 400, medium: 500, semi-bold: 600, bold: 700, bolder: 900);