<template>
  <div class="ticket">
    <div class="ticket__header white-block q-mb-lg shadow-block-down">
      <div class="ticket__title flex items-center q-mb-lg">
        <badge-small greyscale500  label="Answered" class="q-mr-md cursor-inherit"/>
        <span class="text-h6 text-weight-semi-bold">Finance ticket #9393 - My payment didn’t go through</span>
      </div>
      <div class="ticket__user-use user-use flex items-center q-px-md q-py-sm q-mb-lg">
          <div class="user-use__icon q-mr-md">
            <icons-set
                name="BaseIcons20.singleUserOutline"
            />
          </div>
          <div class="user-use__text flex column">
            <span class="user-use__subtitle">Ticket opened by</span>
            <a href="#" class="user-use__name text-weight-semi-bold">AnarKiss</a>
          </div>
      </div>
      <hr class="q-mb-lg">
      <div class="ticket__tags tags flex items-center">
        <span class="q-mr-md q-mb-md text-weight-semi-bold">In the ticket:</span>
        <div class="tags__items flex items-center">
          <div class="tags__item q-mr-md q-mb-md flex items-center q-py-sm q-px-md cursor-pointer" v-for="n in 5" :key="n">
            <div class="tags__name q-mr-sm text-weight-semi-bold">
              <span>Antony Miroslavov</span>
            </div>
            <div class="tags__remove">
              <icons-set
                  name="BaseIcons20.closeRoundedOutline"
              />
            </div>
          </div>
          <div class="tags__add q-mb-md">
            <button-medium
                label="Add user"
                icon="BaseIcons20.plusOutline"
                secondary
            />
          </div>
        </div>
      </div>
    </div>
    <div class="ticket__content white-block q-mb-lg shadow-block-down">
      <div class="ticket__editor editor">
        <q-editor
            v-model="editor"
            class="q-mb-md"
            toolbar-toggle-color="text-weight-bold"
            toolbar-text-color="grey-8"
            toolbar-bg="grey-4"
            content-class="q-pa-lg bg-grey-3"
        />
      </div>
      <div class="ticket__content-footer row items-end ">
        <div class="ticket__attachments attachments col-12 col-md-8 q-mb-md q-mb-md-none">
          <span class="block q-mb-sm text-weight-semi-bold">Attachments</span>
          <div class="attachments__items flex items-center">
            <div class="attachments__item q-mb-md q-mr-md q-pa-sm flex items-center" v-for="b in 3" :key="b">
              <q-avatar class="attachments__img q-mr-sm" rounded>
                <img src="https://cdn.quasar.dev/img/avatar.png">
              </q-avatar>
              <span class="q-mr-sm">Delli_4414.png</span>
              <div class="attachments__remove cursor-pointer">
                <icons-set
                    name="BaseIcons20.closeRoundedOutline"
                />
              </div>
            </div>
            <div class="attachments__add q-mb-md">
              <button-medium
                  label="Browse"
                  icon="BaseIcons20.plusOutline"
              />
            </div>
          </div>
        </div>
        <div class="ticket__actions flex q-mb-md items-center justify-end content-end col-12 col-md-4">
          <input-checkbox
              class="q-mr-md"
              label="Return to ticket list"
              v-model="checkbox"
              v-on:change="checkbox = $event"
              checked
          />
          <button-medium
              label="Reply"
              icon="BaseIcons20.plusOutline"
          />
        </div>
      </div>
    </div>
    <div class="ticket__records">
      <div class="ticket__record record white-block q-mb-lg shadow-block-down">
        <div class="record__header flex items-center justify-between q-mb-md">
          <div class="record__user flex items-center">
            <div class="record__img q-mr-md">
              <q-avatar>
                <img src="https://cdn.quasar.dev/img/avatar.png">
              </q-avatar>
            </div>
            <div class="record__name text-weight-semi-bold">
              <span>AnarKiss</span>
              <p>User</p>
            </div>
          </div>
          <div class="record__actions flex items-center">
            <div class="record__delete q-mr-md cursor-pointer">
              <icons-set
                  name="BaseIcons20.deleteOutline"
              />
            </div>
            <div class="record__edit">
              <button-medium
                  label="Edit"
                  icon="BaseIcons20.editOutline"
              />
            </div>
          </div>
        </div>
        <div class="record__content q-mb-md">
          <div class="record__text q-mb-sm text-weight-medium">
            <p>I paid for 3 hours of fun gaming, but instead i only recieved 2 hours. Donald then said that we can play the last hour later. One day passed, and then he was ignoring my messages. Then he marked it as finished, and then i accidently accept. This is not the case. I want a refund of the last hour.</p>
          </div>
          <div class="record__data flex items-center text-weight-medium">
            <span>IP Adress: 120.255.97.126</span>
            <i>
              <svg width="4" height="5" viewBox="0 0 4 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="2" cy="2.5" r="2" fill="#175ED3"/>
              </svg>
            </i>
            <span>Posted 04:54 – 13.04.2020</span>
          </div>
        </div>
        <div class="record__attached attached">
          <div class="attached__title q-mb-sm text-weight-semi-bold">
            <span>Attachments:</span>
          </div>
          <div class="attached__items flex items-center">
            <div class="attached__item q-mr-md q-mb-md" style="background-image: url('/img.png')" v-for="n in 10" :key="n">
              <q-img src="https://cdn.quasar.dev/img/parallax2.jpg">
                <div class="absolute-top-right text-subtitle2 cursor-pointer">
                  <icons-set
                      name="BaseIcons20.downloadDownOutline"
                  />
                </div>
              </q-img>
            </div>
          </div>
        </div>
      </div>
      <div class="ticket__record record white-block q-mb-lg shadow-block-down">
        <div class="record__content">
          <div class="record__text record__text_log">
            <span><a href="" class="text-weight-semi-bold">Antony Miroslavov</a> has added <b>Crazywar</b> to this ticket at 11:13 – 13.04.2020</span>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket__footer flex items-center justify-end">
      <select-component
          class="ticket__status flex items-center q-mr-md"
          label="Ticket status:"
          :options="status.options"
          :default="status.default"
          v-on:change="status.selected = $emit"
      />
      <button-medium
          label="Save changes"
          icon="BaseIcons20.checkOutline"
          positive
      />
    </div>
  </div>
</template>

<script>

import BadgeSmall from "@/components/elements/badges/BadgeSmall";
import ButtonMedium from "@/components/elements/buttons/ButtonMedium";

import InputCheckbox from "@/components/base/form/InputCheckboxComponent";
import SelectComponent from "@/components/base/form/SelectComponent";

export default {
  name: 'Ticket',
  components: {
    BadgeSmall,
    ButtonMedium,
    InputCheckbox,
    SelectComponent
  },
  data() {
    return {
      editor: '',
      status: {
        options: [
          { label: 'Open', value: 1 },
          { label: 'Close', value: 0 }
        ],
        selected: null,
        default: { label: 'Open', value: 1 }
      },
      checkbox: false
    }
  },
}
</script>

<style lang="scss">
  .ticket {
    &__header {
    }
    &__title{
      &>span {
        color: $greyscale-900;
      }
    }
    &__user-use {
      border: 1px solid $greyscale-200;
      border-radius: .75rem;
    }

    &__tags{
      margin-bottom: -1rem;
    }

    hr{
      height: 1px;
      border: none;
      background: $greyscale-100
    }

    &__content-footer {
      margin-bottom: -1rem;
    }

    &__actions,
    &__footer{
      #ButtonMedium {
        height: 50px;
      }
    }

    &__footer {
      @media screen and (max-width: 599px) {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    &__status {
      @media screen and (max-width: 599px) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }

  .user-use{
    &__icon {
      color: $greyscale-500;
    }
    &__subtitle {
      color: $greyscale-600;
    }
    &__name {
      text-decoration: none;
      color: $aquamarine-600;

      &:hover{
        color: $pink-600
      }
    }
  }

  .tags {
    &>span  {
      color: $greyscale-900;
      font-size: .875rem;
    }
    &__items {

    }
    &__item {
      height: 2.3125rem;
      border-radius: 100px;
      background-color: $greyscale-100;

      &:hover span{
        color: $pink-600
      }
    }
    &__name {
      color: $aquamarine-600;
    }
    &__remove {
      color: $greyscale-300
    }

    &__add {
      #ButtonMedium {
        padding: 6px 16px;
        height: 2.3125rem;
        min-height: 0;
      }
    }
  }

  .editor {
    .q-editor {
      border: none;

      border-radius: .5rem;

      &__toolbar {
        padding: 1rem 1.5rem;
      }
    }
  }

  .attachments {
    &>span {
      font-size: 1.125rem;
      color: $greyscale-900;
    }

    &__item{

      height: 50px;
      border: 1px solid $greyscale-200;
      border-radius: 8px;

      &>span {
        font-size: .875rem;
        color: $greyscale-500;
      }
    }

    &__img {
      width: 30px;
      height: 30px;
      border-radius: 7px;
    }

    &__remove {
      color: $greyscale-300;

      &:hover {
        color: $pink-600;
      }

    }

    &__add {
      #ButtonMedium {
        height: 50px;
      }
    }
  }

  .record {
    &__header {
    }

    &__img {

      .q-avatar {
        width: 55px;
        height: 55px;
      }

    }

    &__name {
      span {
        font-size: 16px;
        line-height: 20px;
        color: $aquamarine-600;
      }
      p{
        margin: 0;
        color: $greyscale-500;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -0.02em;
      }
    }

    &__delete {
      color: $greyscale-500;
      font-size:15px;
    }

    &__edit {
      #ButtonMedium {
        height: 36px;
        padding: 7px 15px;

        .icon {
          margin-right: 7px;
        }
      }
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      color: $greyscale-900;

      &_log {
        color: $greyscale-500;
      }

      a {
        text-decoration: none;
        color: $pink-600;
      }
      b {
        color: $aquamarine-600;
      }
    }

    &__data {
      color: $greyscale-400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.01em;

      i {
        margin: 0 5px 5px;
      }
    }
  }

  .attached {
    &__title {
      color: $greyscale-900;
      font-size: 16px;
      line-height: 20px;
    }

    &__items {
      margin-bottom: -1rem;
    }

    &__item {
      width: 130px;
      height: 105px;

      .q-img {
        height: 100%;
        border-radius: 16px;

        &__content {
          &>div {
            border-bottom-left-radius: 12px;
            padding: 7px;
          }
        }
      }
    }
  }
</style>
