<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.9482 4.20027C18.9482 3.62192 19.4171 3.15308 19.9954 3.15308C20.5738 3.15308 21.0426 3.62192 21.0426 4.20027C21.0426 4.77862 20.5738 5.24747 19.9954 5.24747C19.4171 5.24747 18.9482 4.77862 18.9482 4.20027ZM19.9954 1.40308C18.4506 1.40308 17.1982 2.65542 17.1982 4.20027C17.1982 5.74512 18.4506 6.99747 19.9954 6.99747C21.5403 6.99747 22.7926 5.74512 22.7926 4.20027C22.7926 2.65542 21.5403 1.40308 19.9954 1.40308ZM16.6044 2.8702C16.7289 2.59236 16.5654 2.24513 16.2609 2.24513H14.9298L14.9245 2.24512H7.65679C7.6247 2.24512 7.59269 2.24533 7.56078 2.24576C5.86518 2.2679 4.43677 2.87725 3.43187 3.96442C2.41575 5.06371 1.90308 6.57429 1.90308 8.25515V8.26428V16.3375V16.3467C1.90308 18.0275 2.41575 19.5381 3.43187 20.6374C4.43677 21.7246 5.86518 22.3339 7.56078 22.3561C7.59269 22.3565 7.6247 22.3567 7.65679 22.3567H14.9245L14.9298 22.3567H16.2609C17.9827 22.3567 19.4441 21.7435 20.4705 20.6391C21.4902 19.542 22.0146 18.032 22.0146 16.3467V15.294V9.30776V8.25515C22.0146 7.72362 21.3927 7.4628 20.8875 7.62781C20.5452 7.7396 20.1796 7.80005 19.8 7.80005C17.867 7.80005 16.3 6.23305 16.3 4.30005C16.3 3.79069 16.4088 3.30675 16.6044 2.8702ZM17.1742 10.2524C17.4279 9.92494 17.3681 9.45384 17.0407 9.20014C16.7132 8.94644 16.2421 9.00621 15.9884 9.33364L14.1384 11.7214C13.7985 12.16 13.1665 12.2381 12.7302 11.8953L10.7013 10.3016C10.5439 10.1779 10.3435 10.1223 10.1449 10.1472C9.94619 10.1721 9.76572 10.2754 9.64363 10.4341L6.65049 14.3242C6.39791 14.6525 6.45927 15.1234 6.78756 15.376C7.11585 15.6286 7.58674 15.5672 7.83933 15.2389L9.75454 12.7497C10.0937 12.3089 10.7274 12.2295 11.1648 12.5731L13.1889 14.1631C13.346 14.2865 13.5459 14.3422 13.7442 14.3177C13.9424 14.2932 14.1227 14.1906 14.2451 14.0327L17.1742 10.2524Z"
      fill="currentColor"
    />
  </g>
</template>

