<template>
  <g>
    <path
        d="M6.32812 17.3845C6.32812 17.933 6.77578 18.3806 7.32656 18.3806H8.46797V21.2025C8.46797 21.9173 9.04219 22.5009 9.74766 22.5009C10.4555 22.5009 11.0273 21.9197 11.0273 21.2025V18.3783H13.0195V21.2002C13.0195 21.915 13.5938 22.4986 14.2992 22.4986C15.007 22.4986 15.5789 21.9173 15.5789 21.2002V18.3783H16.7203C17.2711 18.3783 17.7188 17.9306 17.7188 17.3822V8.11968H6.32812V17.3845ZM14.6977 3.31968L15.75 1.79625C15.8109 1.70718 15.7969 1.58765 15.7148 1.52906C15.6328 1.47281 15.5156 1.50093 15.4547 1.59L14.3625 3.17437C13.643 2.89078 12.8414 2.73375 12 2.73375C11.1586 2.73375 10.357 2.89078 9.6375 3.17437L8.54531 1.59234C8.48438 1.50328 8.36719 1.47281 8.28516 1.5314C8.20312 1.58765 8.18906 1.70484 8.25 1.79859L9.30234 3.32203C7.62891 4.10015 6.45703 5.57437 6.30703 7.29703H17.6977C17.543 5.57203 16.3688 4.09781 14.6977 3.31968ZM9.59531 5.72203C9.47062 5.72203 9.34872 5.68505 9.24504 5.61578C9.14136 5.5465 9.06055 5.44803 9.01284 5.33283C8.96512 5.21763 8.95263 5.09086 8.97696 4.96856C9.00128 4.84626 9.06133 4.73392 9.1495 4.64575C9.23768 4.55758 9.35002 4.49753 9.47231 4.47321C9.59461 4.44888 9.72138 4.46136 9.83658 4.50908C9.95179 4.5568 10.0503 4.63761 10.1195 4.74129C10.1888 4.84497 10.2258 4.96686 10.2258 5.09156C10.2253 5.25864 10.1588 5.41875 10.0406 5.53689C9.9225 5.65503 9.76239 5.7216 9.59531 5.72203ZM14.4797 5.72203C14.355 5.72203 14.2331 5.68505 14.1294 5.61578C14.0257 5.5465 13.9449 5.44803 13.8972 5.33283C13.8495 5.21763 13.837 5.09086 13.8613 4.96856C13.8857 4.84626 13.9457 4.73392 14.0339 4.64575C14.1221 4.55758 14.2344 4.49753 14.3567 4.47321C14.479 4.44888 14.6058 4.46136 14.721 4.50908C14.8362 4.5568 14.9346 4.63761 15.0039 4.74129C15.0732 4.84497 15.1102 4.96686 15.1102 5.09156C15.1097 5.25864 15.0432 5.41875 14.925 5.53689C14.8069 5.65503 14.6468 5.7216 14.4797 5.72203ZM19.7156 8.08218C19.0078 8.08218 18.4359 8.66343 18.4359 9.38062V14.4525C18.4359 15.1673 19.0102 15.7509 19.7156 15.7509C20.4234 15.7509 20.9953 15.1697 20.9953 14.4525V9.37828C20.9977 8.66109 20.4258 8.08218 19.7156 8.08218ZM4.27969 8.08218C3.57187 8.08218 3 8.66343 3 9.38062V14.4525C3 15.1673 3.57422 15.7509 4.27969 15.7509C4.9875 15.7509 5.55937 15.1697 5.55937 14.4525V9.37828C5.55937 8.66109 4.98516 8.08218 4.27969 8.08218Z"
        fill="currentColor"/>
  </g>
</template>

