<template>
  <g>
    <path
        d="M17.5156 12.5555C17.5062 10.957 18.2304 9.75234 19.6929 8.86406C18.875 7.69219 17.6375 7.04766 16.0062 6.92344C14.4617 6.80156 12.7718 7.82344 12.1531 7.82344C11.4992 7.82344 10.0039 6.96563 8.82732 6.96563C6.39919 7.00313 3.81873 8.90156 3.81873 12.7641C3.81873 13.9055 4.02732 15.0844 4.44451 16.2984C5.00232 17.8969 7.01326 21.8133 9.11091 21.75C10.2078 21.7242 10.9836 20.9719 12.4109 20.9719C13.7961 20.9719 14.5133 21.75 15.7367 21.75C17.8531 21.7195 19.6719 18.1594 20.2015 16.5563C17.3633 15.218 17.5156 12.6375 17.5156 12.5555ZM15.0523 5.40703C16.2406 3.99609 16.1328 2.71172 16.0976 2.25C15.0476 2.31094 13.8336 2.96484 13.1422 3.76875C12.3804 4.63125 11.9328 5.69766 12.0289 6.9C13.1633 6.98672 14.1992 6.40313 15.0523 5.40703Z"
        fill="currentColor"/>
  </g>
</template>

