<template>
   <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.93837 13.9108C4.0411 14.4289 3.73367 15.5762 4.25171 16.4735C4.76975 17.3708 5.91709 17.6782 6.81436 17.1602L10.1241 15.2493L10.1241 19.071C10.1241 20.1071 10.964 20.947 12.0001 20.947C13.0361 20.947 13.8761 20.1071 13.8761 19.071L13.8761 15.2494L17.1857 17.1602C18.083 17.6783 19.2303 17.3709 19.7484 16.4736C20.2664 15.5763 19.959 14.429 19.0617 13.9109L15.7519 12L19.0618 10.0891C19.959 9.57108 20.2665 8.42374 19.7484 7.52647C19.2304 6.6292 18.083 6.32177 17.1858 6.83981L13.8761 8.75068L13.8761 4.92895C13.8761 3.89287 13.0361 3.05296 12.0001 3.05296C10.964 3.05296 10.1241 3.89287 10.1241 4.92895L10.1241 8.75079L6.81431 6.8399C5.91704 6.32186 4.7697 6.62929 4.25166 7.52656C3.73362 8.42383 4.04104 9.57117 4.93832 10.0892L8.24798 12L4.93837 13.9108Z"
      fill="currentColor"
    />
  </g>
</template>

