<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.0059 22.0079C17.5299 22.0079 22.0079 17.5299 22.0079 12.0059C22.0079 6.48195 17.5299 2.00391 12.0059 2.00391C6.48195 2.00391 2.00391 6.48195 2.00391 12.0059C2.00391 17.5299 6.48195 22.0079 12.0059 22.0079ZM12.0004 7C11.7352 7 11.4808 7.10536 11.2933 7.29289C11.1057 7.48043 11.0004 7.73478 11.0004 8V12C11.0004 12.2652 11.1057 12.5196 11.2933 12.7071C11.4808 12.8946 11.7352 13 12.0004 13C12.2656 13 12.52 12.8946 12.7075 12.7071C12.895 12.5196 13.0004 12.2652 13.0004 12V8C13.0004 7.73478 12.895 7.48043 12.7075 7.29289C12.52 7.10536 12.2656 7 12.0004 7ZM12.9204 15.62C12.8985 15.5563 12.8682 15.4957 12.8304 15.44L12.7104 15.29C12.5698 15.1512 12.3912 15.0572 12.1972 15.0199C12.0032 14.9825 11.8025 15.0034 11.6204 15.08C11.4992 15.1306 11.3876 15.2017 11.2904 15.29C11.1977 15.3834 11.1244 15.4943 11.0746 15.6161C11.0248 15.7379 10.9996 15.8684 11.0004 16C11.002 16.1307 11.0291 16.2598 11.0804 16.38C11.1253 16.5041 11.1969 16.6168 11.2903 16.7101C11.3836 16.8034 11.4963 16.8751 11.6204 16.92C11.7401 16.9729 11.8695 17.0002 12.0004 17.0002C12.1313 17.0002 12.2607 16.9729 12.3804 16.92C12.5045 16.8751 12.6172 16.8034 12.7105 16.7101C12.8038 16.6168 12.8755 16.5041 12.9204 16.38C12.9716 16.2598 12.9988 16.1307 13.0004 16C13.0053 15.9334 13.0053 15.8666 13.0004 15.8C12.9832 15.7362 12.9562 15.6755 12.9204 15.62Z"
      fill="currentColor"
    />
  </g>
</template>
