<template>
  <g>
    <path
      d="M18.9552 10.0393C18.8918 9.89244 18.7686 9.80071 18.6355 9.80071H14.625L14.5278 1.45905C14.5278 1.25587 14.421 1.07683 14.2657 1.01912C14.1133 0.960472 13.9438 1.04017 13.8563 1.21114L5.05763 13.495C4.98571 13.636 4.98072 13.8154 5.04481 13.9627C5.10818 14.1095 5.23136 14.2005 5.36453 14.2005H9.37497L9.47222 22.5417C9.47222 22.7449 9.57903 22.924 9.73428 22.9817C9.76774 22.9942 9.80264 23 9.83682 23C9.9586 23 10.0754 22.923 10.1437 22.7896L18.9424 10.5069C19.0143 10.366 19.0193 10.1865 18.9552 10.0393Z"
      fill="currentColor"
    />
  </g>
</template>


