<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15.9086 2C17.4971 2 18.8648 2.52482 19.8345 3.52563C20.8009 4.52305 21.2906 5.90896 21.2906 7.482V16.678C21.2906 18.2437 20.8045 19.6234 19.846 20.6192C18.8844 21.6183 17.5275 22.1473 15.951 22.157L15.9456 22.157L8.2573 22.16C6.66879 22.16 5.30056 21.6352 4.3311 20.6343C3.36496 19.6368 2.87561 18.2509 2.87561 16.678V7.482C2.87561 5.91646 3.36143 4.53697 4.31967 3.54135C5.28115 2.54236 6.63785 2.01373 8.21422 2.00402L8.21961 2.00398L15.9086 2ZM10 4.25024C9.51675 4.25024 9.125 4.64199 9.125 5.12524C9.125 5.60849 9.51675 6.00024 10 6.00024H16C16.6213 6.00024 17.125 6.50392 17.125 7.12524V15.1252C17.125 15.6085 17.5168 16.0002 18 16.0002C18.4832 16.0002 18.875 15.6085 18.875 15.1252V7.12524C18.875 5.53743 17.5878 4.25024 16 4.25024H10Z"
      fill="currentColor"
    />
  </g>
</template>

