<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.04004 1.46997C7.48775 1.46997 7.04004 1.91769 7.04004 2.46997V5.86997C7.04004 6.06581 7.09634 6.24851 7.19363 6.40275C7.28375 6.54562 7.40904 6.66409 7.55735 6.74598C7.55761 6.74612 7.55786 6.74626 7.55812 6.7464C7.69198 6.82016 7.84457 6.86415 8.00693 6.86943C8.01797 6.86982 8.02902 6.87002 8.04009 6.87002C8.59237 6.87002 9.04009 6.4223 9.04009 5.87002V3.45459L9.04004 2.46997C9.04004 1.91769 8.59232 1.46997 8.04004 1.46997ZM17.7401 5.87002V3.57049C18.8395 3.81812 19.7827 4.35543 20.5081 5.13796C21.4736 6.17938 21.995 7.59117 22.0472 9.16992H1.94995V11.0699H22.05V9.27537C22.051 9.32814 22.0515 9.38108 22.0515 9.43421V16.5166C22.0515 18.1974 21.5388 19.708 20.5227 20.8073C19.4989 21.9149 18.0355 22.5266 16.2978 22.5266H7.69368C5.95597 22.5266 4.49255 21.9149 3.46873 20.8073C2.45261 19.708 1.93994 18.1974 1.93994 16.5166V9.43421C1.93994 7.74896 2.46432 6.23716 3.48333 5.13796C4.22821 4.33446 5.20267 3.7895 6.34009 3.5512V5.87002C6.34009 6.8089 7.1012 7.57002 8.04009 7.57002C8.97897 7.57002 9.74009 6.8089 9.74009 5.87002V3.41504H14.3401V5.87002C14.3401 6.8089 15.1012 7.57002 16.0401 7.57002C16.979 7.57002 17.7401 6.8089 17.7401 5.87002ZM17.0401 5.87002V3.45459L17.04 2.46997C17.04 1.91769 16.5923 1.46997 16.04 1.46997C15.4878 1.46997 15.04 1.91769 15.04 2.46997V5.86997C15.04 6.24722 15.2489 6.57568 15.5574 6.74598C15.6987 6.82242 15.8681 6.87002 16.0401 6.87002C16.5924 6.87002 17.0401 6.4223 17.0401 5.87002ZM9.03687 15.6699C9.03687 15.1176 9.48458 14.6699 10.0369 14.6699H14.0369C14.5891 14.6699 15.0369 15.1176 15.0369 15.6699C15.0369 16.2222 14.5891 16.6699 14.0369 16.6699H10.0369C9.48458 16.6699 9.03687 16.2222 9.03687 15.6699Z"
      fill="currentColor"
    />
  </g>
</template>
