<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.92894 19.0711C6.8043 20.9464 9.34783 22 12 22C13.8433 22.0023 15.6427 21.4901 17.2002 20.5319C17.7109 20.2176 17.7516 19.5141 17.3276 19.0901L4.90992 6.67242C4.48586 6.24836 3.78241 6.28904 3.46814 6.79982C2.50989 8.35724 1.99772 10.1567 2.00001 12C2.00001 14.6522 3.05357 17.1957 4.92894 19.0711ZM6.79982 3.46814C6.28904 3.78241 6.24836 4.48586 6.67242 4.90992L19.0901 17.3276C19.5141 17.7516 20.2176 17.7109 20.5318 17.2002C21.4901 15.6427 22.0023 13.8433 22 12C22 9.34783 20.9464 6.8043 19.0711 4.92894C17.1957 3.05357 14.6522 2.00001 12 2.00001C10.1567 1.99772 8.35724 2.50989 6.79982 3.46814Z"
      fill="currentColor"
    />
  </g>
</template>
