<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.7249 15.4332H9.10992C8.5452 15.4332 7.99584 15.2494 7.5449 14.9094C7.09395 14.5695 6.76594 14.092 6.61045 13.5491L3.9671 4.29905C3.92347 4.1459 3.83116 4.01104 3.70415 3.91499C3.57716 3.81896 3.42236 3.76686 3.26315 3.76657H2.85326C2.60572 3.76657 2.36832 3.66824 2.19329 3.4932C2.01826 3.31817 1.91992 3.08077 1.91992 2.83324C1.91992 2.5857 2.01826 2.3483 2.19329 2.17327C2.36832 1.99824 2.60572 1.8999 2.85326 1.8999H3.26326C3.8279 1.9004 4.37712 2.08469 4.82775 2.42492C5.27837 2.76516 5.60599 3.24284 5.76108 3.78577L6.17532 5.23324H19.9566C20.2451 5.23342 20.5293 5.30428 20.7842 5.43962C21.039 5.57496 21.2568 5.77066 21.4186 6.00961C21.5803 6.24857 21.6811 6.52351 21.712 6.81039C21.743 7.09728 21.7032 7.38738 21.5961 7.65533L19.1394 13.7987C18.9464 14.2813 18.6133 14.6949 18.1829 14.9863C17.7525 15.2776 17.2446 15.4333 16.7249 15.4332ZM10.5149 21.902C10.1995 22.0327 9.86136 22.0999 9.51992 22.0999C8.83036 22.0999 8.16904 21.826 7.68144 21.3384C7.19385 20.8508 6.91992 20.1895 6.91992 19.4999C6.91992 18.8103 7.19385 18.149 7.68144 17.6614C8.16904 17.1738 8.83036 16.8999 9.51992 16.8999C9.86136 16.8999 10.1995 16.9672 10.5149 17.0978C10.8303 17.2285 11.117 17.42 11.3584 17.6614C11.5998 17.9029 11.7913 18.1895 11.922 18.5049C12.0527 18.8204 12.1199 19.1585 12.1199 19.4999C12.1199 19.8413 12.0527 20.1794 11.922 20.4949C11.7913 20.8103 11.5998 21.0969 11.3584 21.3384C11.117 21.5798 10.8303 21.7713 10.5149 21.902ZM9.00138 20.0184C9.1389 20.156 9.32543 20.2332 9.51992 20.2332C9.71441 20.2332 9.90094 20.156 10.0385 20.0184C10.176 19.8809 10.2533 19.6944 10.2533 19.4999C10.2533 19.3054 10.176 19.1189 10.0385 18.9814C9.90094 18.8438 9.71441 18.7666 9.51992 18.7666C9.32543 18.7666 9.1389 18.8438 9.00138 18.9814C8.86385 19.1189 8.78659 19.3054 8.78659 19.4999C8.78659 19.6944 8.86385 19.8809 9.00138 20.0184ZM17.1815 21.902C16.8661 22.0327 16.528 22.0999 16.1865 22.0999C15.497 22.0999 14.8357 21.826 14.3481 21.3384C13.8605 20.8508 13.5865 20.1895 13.5865 19.4999C13.5865 18.8103 13.8605 18.149 14.3481 17.6614C14.8357 17.1738 15.497 16.8999 16.1865 16.8999C16.528 16.8999 16.8661 16.9672 17.1815 17.0978C17.497 17.2285 17.7836 17.42 18.025 17.6614C18.2665 17.9029 18.458 18.1895 18.5886 18.5049C18.7193 18.8204 18.7865 19.1585 18.7865 19.4999C18.7865 19.8413 18.7193 20.1794 18.5886 20.4949C18.458 20.8103 18.2665 21.0969 18.025 21.3384C17.7836 21.5798 17.497 21.7713 17.1815 21.902ZM15.668 20.0184C15.8055 20.156 15.9921 20.2332 16.1865 20.2332C16.381 20.2332 16.5676 20.156 16.7051 20.0184C16.8426 19.8809 16.9199 19.6944 16.9199 19.4999C16.9199 19.3054 16.8426 19.1189 16.7051 18.9814C16.5676 18.8438 16.381 18.7666 16.1865 18.7666C15.9921 18.7666 15.8055 18.8438 15.668 18.9814C15.5305 19.1189 15.4532 19.3054 15.4532 19.4999C15.4532 19.6944 15.5305 19.8809 15.668 20.0184Z"
      fill="currentColor"
    />
  </g>
</template>

