<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.45051 1.125C2.6076 1.125 1.12659 2.6298 1.12659 4.47018V7.7641C1.12659 9.60322 2.60736 11.1093 4.45051 11.1093H7.71608C9.55922 11.1093 11.04 9.60322 11.04 7.7641V4.47018C11.04 2.62979 9.55898 1.125 7.71608 1.125H4.45051ZM16.2871 1.125C14.4441 1.125 12.9631 2.6298 12.9631 4.47018V7.7641C12.9631 9.60322 14.4439 11.1093 16.2871 11.1093H19.5536C21.396 11.1093 22.8765 9.60298 22.8765 7.7641V4.47018C22.8765 2.63003 21.3958 1.125 19.5536 1.125H16.2871ZM4.45051 12.8906C2.60736 12.8906 1.12659 14.3957 1.12659 16.2368V19.5297C1.12659 21.3701 2.6076 22.8749 4.45051 22.8749H7.71608C9.55898 22.8749 11.04 21.3701 11.04 19.5297V16.2368C11.04 14.3957 9.55922 12.8906 7.71608 12.8906H4.45051ZM16.2871 12.8906C14.4439 12.8906 12.9631 14.3957 12.9631 16.2368V19.5297C12.9631 21.3701 14.4441 22.8749 16.2871 22.8749H19.5536C21.3958 22.8749 22.8765 21.3699 22.8765 19.5297V16.2368C22.8765 14.3959 21.396 12.8906 19.5536 12.8906H16.2871Z"
      fill="currentColor"
    />
  </g>
</template>
