<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.96775 16.2334C1.03913 14.6533 0.506616 12.8123 0.506616 10.8469C0.506616 4.9668 5.2734 0.200012 11.1535 0.200012C17.0337 0.200012 21.8005 4.9668 21.8005 10.8469C21.8005 16.7271 17.0337 21.4939 11.1535 21.4939C9.18808 21.4939 7.34701 20.9613 5.76677 20.0326L0.803758 21.8373C0.404744 21.9824 0.017894 21.5955 0.16299 21.1965L1.96775 16.2334ZM4.45308 13.4545C4.45308 12.7255 5.04406 12.1345 5.77308 12.1345H12.3731C13.1021 12.1345 13.6931 12.7255 13.6931 13.4545C13.6931 14.1835 13.1021 14.7745 12.3731 14.7745H5.77308C5.04406 14.7745 4.45308 14.1835 4.45308 13.4545ZM5.77308 6.85467C5.04406 6.85467 4.45308 7.44566 4.45308 8.17467C4.45308 8.90369 5.04406 9.49467 5.77308 9.49467H16.3331C17.0621 9.49467 17.6531 8.90369 17.6531 8.17467C17.6531 7.44566 17.0621 6.85467 16.3331 6.85467H5.77308Z"
      fill="currentColor"
    />
  </g>
</template>
