<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 0 11 0C4.92487 0 0 4.92487 0 11C0 12.9924 0.529703 14.8611 1.45596 16.4729C1.46809 16.494 1.4722 16.5188 1.46743 16.5426L0.820516 19.7772C0.653749 20.611 1.38892 21.3462 2.22275 21.1794L5.45727 20.5325C5.48114 20.5277 5.50592 20.5318 5.52703 20.544C7.13886 21.4703 9.00757 22 11 22ZM5.17065 12.5278C6.01442 12.5278 6.69843 11.8438 6.69843 11C6.69843 10.1562 6.01442 9.47222 5.17065 9.47222C4.32688 9.47222 3.64287 10.1562 3.64287 11C3.64287 11.8438 4.32688 12.5278 5.17065 12.5278ZM12.5278 11.0001C12.5278 11.8438 11.8438 12.5278 11.0001 12.5278C10.1563 12.5278 9.47228 11.8438 9.47228 11.0001C9.47228 10.1563 10.1563 9.47228 11.0001 9.47228C11.8438 9.47228 12.5278 10.1563 12.5278 11.0001ZM16.7621 12.5278C17.6059 12.5278 18.2899 11.8438 18.2899 11.0001C18.2899 10.1563 17.6059 9.47228 16.7621 9.47228C15.9184 9.47228 15.2343 10.1563 15.2343 11.0001C15.2343 11.8438 15.9184 12.5278 16.7621 12.5278Z"
      fill="currentColor"
    />
  </g>
</template>


