<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM16.4571 10.2071C16.8476 9.81658 16.8476 9.18342 16.4571 8.79289C16.0666 8.40237 15.4334 8.40237 15.0429 8.79289L10.75 13.0858L8.95711 11.2929C8.56658 10.9024 7.93342 10.9024 7.54289 11.2929C7.15237 11.6834 7.15237 12.3166 7.54289 12.7071L10.0429 15.2071C10.4334 15.5976 11.0666 15.5976 11.4571 15.2071L16.4571 10.2071Z"
          fill="currentColor"/>
  </g>
</template>

