<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 2.125C6.54619 2.125 2.125 6.54619 2.125 12C2.125 17.4538 6.54619 21.875 12 21.875C17.4538 21.875 21.875 17.4538 21.875 12C21.875 6.54619 17.4538 2.125 12 2.125ZM12 6.125C12.4832 6.125 12.875 6.51675 12.875 7V10.764C12.875 10.9729 12.9332 11.1778 13.0431 11.3555C13.153 11.5333 13.3102 11.6769 13.4971 11.7703L16.3913 13.2174C16.8235 13.4335 16.9987 13.9591 16.7826 14.3913C16.5665 14.8235 16.0409 14.9987 15.6087 14.7826L12.7149 13.3357C12.2373 13.097 11.8354 12.7299 11.5546 12.2757C11.2738 11.8215 11.125 11.2981 11.125 10.764V7C11.125 6.51675 11.5168 6.125 12 6.125Z"
      fill="currentColor"
    />
  </g>
</template>

