<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M22.2001 12C22.2001 17.6334 17.6334 22.2001 12 22.2001C6.36674 22.2001 1.80005 17.6334 1.80005 12C1.80005 6.36674 6.36674 1.80005 12 1.80005C17.6334 1.80005 22.2001 6.36674 22.2001 12ZM7.75741 7.75733C8.22604 7.2887 8.98584 7.2887 9.45446 7.75733L12.0001 10.303L14.5456 7.75741C15.0143 7.28878 15.7741 7.28878 16.2427 7.75741C16.7113 8.22604 16.7113 8.98584 16.2427 9.45447L13.6971 12L16.2427 14.5456C16.7113 15.0142 16.7113 15.774 16.2427 16.2426C15.7741 16.7112 15.0143 16.7112 14.5456 16.2426L12.0001 13.6971L9.45446 16.2427C8.98583 16.7113 8.22603 16.7113 7.7574 16.2427C7.28878 15.7741 7.28878 15.0143 7.7574 14.5456L10.303 12L7.75741 9.45439C7.28878 8.98576 7.28878 8.22596 7.75741 7.75733Z"
          fill="currentColor"/>
  </g>
</template>
