<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.4436 6.86894C15.706 6.0809 14.6693 5.67291 13.4788 5.67291L7.88568 5.67591L7.88175 5.67593C6.70007 5.68347 5.67174 6.09458 4.94038 6.88115C4.21244 7.66404 3.84998 8.74187 3.84998 9.94993V16.873C3.84998 18.0866 4.21505 19.1695 4.94901 19.9538C5.68649 20.742 6.72358 21.15 7.9141 21.15L13.5062 21.1477L13.5106 21.1477C14.6924 21.1402 15.7208 20.7288 16.4523 19.9421C17.1804 19.1591 17.5431 18.0811 17.5431 16.873V9.94993C17.5431 8.73615 17.1777 7.65328 16.4436 6.86894ZM8.4542 2.84998C8.01506 2.84998 7.66782 3.21698 7.66782 3.6587C7.66782 4.10043 8.01506 4.46743 8.4542 4.46743H14.9998C16.9707 4.46743 18.5772 6.12275 18.5772 8.17569V17.2097C18.5772 17.6514 18.9244 18.0184 19.3636 18.0184C19.8027 18.0184 20.15 17.6514 20.15 17.2097V8.17569C20.15 5.2393 17.849 2.84998 14.9998 2.84998H8.4542Z"
      fill="currentColor"
    />
  </g>
</template>


