<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.8462 3.02012C12.0512 2.74277 12.0742 2.37087 11.9048 2.07041C11.7355 1.76995 11.4055 1.59699 11.062 1.62873C9.09595 1.81042 7.22228 2.54829 5.66025 3.75599C4.09822 4.9637 2.91244 6.59129 2.24167 8.44832C1.5709 10.3053 1.44287 12.315 1.87258 14.2421C2.30228 16.1693 3.27194 17.9342 4.6681 19.3303C6.06425 20.7265 7.82915 21.6961 9.75629 22.1259C11.6834 22.5556 13.6931 22.4275 15.5501 21.7568C17.4071 21.086 19.0347 19.9002 20.2424 18.3382C21.4501 16.7762 22.188 14.9025 22.3697 12.9364C22.4014 12.593 22.2285 12.2629 21.928 12.0936C21.6276 11.9243 21.2557 11.9472 20.9783 12.1522C19.7206 13.0818 18.1711 13.5292 16.6115 13.4129C15.0519 13.2966 13.5858 12.6244 12.4799 11.5185C11.3741 10.4126 10.7019 8.94655 10.5856 7.38694C10.4692 5.82733 10.9166 4.27778 11.8462 3.02012Z"
      fill="currentColor"
    />
  </g>
</template>

