<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.36903 4.93054C3.28124 5.12234 2.5549 6.15966 2.74671 7.24745L4.93024 19.6308C5.12204 20.7186 6.15936 21.445 7.24715 21.2532L19.6305 19.0696C20.7183 18.8778 21.4447 17.8405 21.2529 16.7527L19.0693 4.36933C18.8775 3.28154 17.8402 2.5552 16.7524 2.74701L4.36903 4.93054ZM12.3146 13.796C13.3063 13.6211 13.9685 12.6754 13.7937 11.6837C13.6188 10.692 12.6731 10.0298 11.6814 10.2046C10.6896 10.3795 10.0274 11.3252 10.2023 12.3169C10.3772 13.3087 11.3229 13.9708 12.3146 13.796ZM18.4895 14.9704C18.6644 15.9621 18.0022 16.9078 17.0104 17.0827C16.0187 17.2575 15.073 16.5953 14.8981 15.6036C14.7233 14.6119 15.3855 13.6662 16.3772 13.4913C17.3689 13.3164 18.3146 13.9786 18.4895 14.9704ZM7.62243 10.5092C8.61415 10.3343 9.27634 9.38858 9.10148 8.39686C8.92661 7.40514 7.9809 6.74294 6.98918 6.91781C5.99745 7.09268 5.33526 8.03839 5.51013 9.03011C5.68499 10.0218 6.6307 10.684 7.62243 10.5092Z"
      fill="currentColor"
    />
  </g>
</template>