<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M19.8345 3.40039C18.8648 2.39957 17.4971 1.87476 15.9086 1.87476L8.21961 1.87874L8.21422 1.87877C6.63785 1.88848 5.28115 2.41712 4.31967 3.41611C3.36143 4.41173 2.87561 5.79121 2.87561 7.35676V16.5528C2.87561 18.1257 3.36496 19.5116 4.3311 20.509C5.30056 21.5099 6.66879 22.0348 8.2573 22.0348L15.9456 22.0318L15.951 22.0317C17.5275 22.022 18.8844 21.4931 19.846 20.4939C20.8045 19.4981 21.2906 18.1184 21.2906 16.5528V7.35676C21.2906 5.78372 20.8009 4.39781 19.8345 3.40039ZM7.62124 16.2232C7.62124 15.74 8.01299 15.3482 8.49624 15.3482H15.7162C16.1995 15.3482 16.5912 15.74 16.5912 16.2232C16.5912 16.7065 16.1995 17.0982 15.7162 17.0982H8.49624C8.01299 17.0982 7.62124 16.7065 7.62124 16.2232ZM8.49624 11.1617C8.01299 11.1617 7.62124 11.5535 7.62124 12.0367C7.62124 12.52 8.01299 12.9117 8.49624 12.9117H15.7162C16.1995 12.9117 16.5912 12.52 16.5912 12.0367C16.5912 11.5535 16.1995 11.1617 15.7162 11.1617H8.49624ZM7.62124 7.85986C7.62124 7.37661 8.01299 6.98486 8.49624 6.98486H11.2512C11.7345 6.98486 12.1262 7.37661 12.1262 7.85986C12.1262 8.34311 11.7345 8.73486 11.2512 8.73486H8.49624C8.01299 8.73486 7.62124 8.34311 7.62124 7.85986Z"
      fill="currentColor"
    />
  </g>
</template>

