<template>
  <g>
    <circle cx="9.5" cy="5.5" r="1.5" fill="currentColor" />
    <circle cx="9.5" cy="11.5" r="1.5" fill="currentColor" />
    <ellipse cx="9.5" cy="17.5" rx="1.5" ry="1.5" fill="currentColor" />
    <circle cx="15.5" cy="5.5" r="1.5" fill="currentColor" />
    <circle cx="15.5" cy="11.5" r="1.5" fill="currentColor" />
    <ellipse cx="15.5" cy="17.5" rx="1.5" ry="1.5" fill="currentColor" />
  </g>
</template>

