<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M23.0966 11.9013C23.0684 9.29285 22.1378 6.88177 20.5868 4.9924C20.3471 5.30261 18.4859 7.69958 14.397 9.36334C14.6508 9.88503 14.9046 10.4349 15.1302 10.9707C15.1654 11.0529 15.1982 11.1351 15.2306 11.2162C15.2759 11.33 15.3205 11.4418 15.3699 11.5488C18.964 11.0961 22.5314 11.7912 23.0596 11.8941C23.0743 11.897 23.0866 11.8994 23.0966 11.9013ZM19.3601 3.70933C17.4003 1.97505 14.82 0.917572 12 0.917572C11.0977 0.917572 10.2235 1.01627 9.39158 1.21367L9.4065 1.234C9.76151 1.71791 11.745 4.42157 13.5369 7.71367C17.4848 6.2332 19.1627 3.99133 19.3601 3.70933ZM11.3937 8.37636C9.54667 5.10522 7.5727 2.35574 7.27661 1.96096C4.17466 3.42733 1.84818 6.2896 1.1291 9.72994C1.13758 9.72994 1.14728 9.72995 1.15816 9.72996C1.78033 9.73049 6.29422 9.73437 11.3937 8.37636ZM0.889404 11.6757V12.0141C0.889404 14.8623 1.97508 17.4707 3.73757 19.4306C3.99136 19.0076 7.03692 13.9599 12.7614 12.1128C12.8317 12.0917 12.9054 12.0706 12.9792 12.0496C13.0535 12.0284 13.1278 12.0071 13.1985 11.9859C12.9165 11.3514 12.6204 10.7169 12.2961 10.0965C6.75492 11.7603 1.3688 11.6898 0.889404 11.6757ZM5.18983 20.7701C7.0651 22.2364 9.43388 23.1106 12 23.1106C13.5369 23.1106 15.0033 22.8004 16.3428 22.2223C16.1736 21.2494 15.5391 17.8514 13.974 13.8048C13.9599 13.8118 13.9493 13.8154 13.9387 13.8189C13.9281 13.8224 13.9176 13.8259 13.9035 13.833C7.64321 16.0184 5.38725 20.3612 5.18983 20.7701ZM16.0326 13.2972C17.4849 17.2874 18.077 20.5304 18.1899 21.2072C20.6855 19.5293 22.4621 16.8644 22.9415 13.7766C22.5608 13.6497 19.5152 12.7473 16.0326 13.2972Z"
      fill="currentColor"
    />
  </g>
</template>
