<template>
  <g>
    <path
      d="M4.93653 20C4.67486 19.9995 4.42541 19.8892 4.24904 19.6958C4.06942 19.504 3.98017 19.2447 4.00371 18.9829L4.23225 16.4692L14.7899 5.9124L18.0893 9.21176L7.53444 19.7677L5.02142 19.9963C4.9925 19.9991 4.96358 20 4.93653 20ZM18.7479 8.55208L15.4494 5.25272L17.428 3.27366C17.6029 3.09845 17.8403 3 18.0879 3C18.3355 3 18.5729 3.09845 18.7479 3.27366L20.7264 5.25272C20.9016 5.42773 21 5.66522 21 5.91287C21 6.16052 20.9016 6.398 20.7264 6.57302L18.7488 8.55114L18.7479 8.55208Z"
      fill="currentColor"
    />
  </g>
</template>
