<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.31429 2H16.6857C19.9619 2 22 4.31208 22 7.58516V16.4148C22 19.6879 19.9619 22 16.6857 22H7.31429C4.0381 22 2 19.6879 2 16.4148V7.58516C2 4.31208 4.04762 2 7.31429 2ZM12.7881 6.91919C12.7881 6.50498 12.4523 6.16919 12.0381 6.16919C11.6239 6.16919 11.2881 6.50498 11.2881 6.91919V17.0619C11.2881 17.4761 11.6239 17.8119 12.0381 17.8119C12.4523 17.8119 12.7881 17.4761 12.7881 17.0619V6.91919ZM8.12134 10.2017C8.12134 9.78745 7.78555 9.45166 7.37134 9.45166C6.95712 9.45166 6.62134 9.78745 6.62134 10.2017V17.0618C6.62134 17.476 6.95712 17.8118 7.37134 17.8118C7.78555 17.8118 8.12134 17.476 8.12134 17.0618V10.2017ZM16.6284 13.0769C17.0426 13.0769 17.3784 13.4127 17.3784 13.8269V17.0619C17.3784 17.4761 17.0426 17.8119 16.6284 17.8119C16.2142 17.8119 15.8784 17.4761 15.8784 17.0619V13.8269C15.8784 13.4127 16.2142 13.0769 16.6284 13.0769Z"
      fill="currentColor"
    />
  </g>
</template>
