<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.75449 6.7715C4.75449 4.68856 6.44008 3 8.51936 3H18.2351C20.3144 3 22 4.68856 22 6.7715V14.5578C22 16.6408 20.3144 18.3293 18.2351 18.3293H8.51936C6.44008 18.3293 4.75449 16.6408 4.75449 14.5578V6.7715ZM8.51936 4.70326C7.37911 4.70326 6.45475 5.62924 6.45475 6.7715V14.5578C6.45475 14.5976 6.45587 14.637 6.45808 14.6762L8.76225 12.3679C9.43299 11.696 10.5205 11.696 11.1912 12.3679C11.8619 13.0399 12.9494 13.0399 13.6201 12.3679L15.8895 10.0945C16.6484 9.33434 17.8787 9.33435 18.6376 10.0945L20.2962 11.756L20.2997 11.7596V6.7715C20.2997 5.62924 19.3754 4.70326 18.2351 4.70326H8.51936ZM8.03357 8.23144C8.03357 7.15637 8.90355 6.28486 9.97672 6.28486C11.0499 6.28486 11.9199 7.15637 11.9199 8.23144C11.9199 9.30651 11.0499 10.178 9.97672 10.178C8.90355 10.178 8.03357 9.30651 8.03357 8.23144ZM3.67665 8.7485C3.67665 8.28551 3.30132 7.91018 2.83832 7.91018C2.37533 7.91018 2 8.28551 2 8.7485V15.4551C2 18.5638 4.52007 21.0839 7.62874 21.0839H16.2515C16.7145 21.0839 17.0898 20.7086 17.0898 20.2456C17.0898 19.7826 16.7145 19.4072 16.2515 19.4072H7.62874C5.44606 19.4072 3.67665 17.6378 3.67665 15.4551V8.7485Z"
      fill="currentColor"
    />
  </g>
</template>
