<template>
  <g>
    <path
      d="M7.68715 16.8984C6.48645 16.8984 5.41842 16.1297 5.03059 14.9851L5.00436 14.8989C4.9129 14.5958 4.87458 14.3409 4.87458 14.0859V8.97217L3.05506 15.0458C2.82105 15.9392 3.35431 16.8654 4.24903 17.1121L15.8466 20.2181C15.9914 20.2555 16.1361 20.2735 16.2787 20.2735C17.0256 20.2735 17.7082 19.7778 17.8995 19.0472L18.5751 16.8984H7.68715Z"
      fill="currentColor"
    />
    <path
      d="M9.74959 9.02324C10.5769 9.02324 11.2495 8.35045 11.2495 7.52315C11.2495 6.69586 10.5769 6.02307 9.74959 6.02307C8.9223 6.02307 8.24951 6.69586 8.24951 7.52315C8.24951 8.35045 8.9223 9.02324 9.74959 9.02324Z"
      fill="currentColor"
    />
    <path
      d="M19.1248 3.77271H7.87451C6.84108 3.77271 5.99951 4.61428 5.99951 5.64784V13.898C5.99951 14.9315 6.84108 15.7731 7.87451 15.7731H19.1248C20.1583 15.7731 20.9999 14.9315 20.9999 13.898V5.64784C20.9999 4.61428 20.1583 3.77271 19.1248 3.77271ZM7.87451 5.27279H19.1248C19.3319 5.27279 19.4998 5.44075 19.4998 5.64784V10.9722L17.1306 8.20758C16.8793 7.91287 16.5155 7.75535 16.1248 7.74642C15.7362 7.74862 15.3718 7.92111 15.1228 8.21967L12.3371 11.5632L11.4296 10.6579C10.9167 10.1449 10.0819 10.1449 9.56961 10.6579L7.49959 12.7272V5.64784C7.49959 5.44075 7.66755 5.27279 7.87451 5.27279Z"
      fill="currentColor"
    />
  </g>
</template>


