<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.82031 2C8.82031 1.58579 8.48453 1.25 8.07031 1.25C7.6561 1.25 7.32031 1.58579 7.32031 2C7.32031 3.16885 8.28288 4.09076 9.43833 4.09076H10.4933C11.2597 4.09412 11.8557 4.69864 11.8599 5.41459V6.08772C11.8599 6.18883 11.8799 6.28527 11.9162 6.37329C10.4597 6.37348 9.01183 6.38569 7.57275 6.41029C4.3535 6.41029 2 8.70651 2 11.8616V16.5112C2 19.6663 4.3535 21.9625 7.57275 21.9625C10.473 22.0113 13.4231 22.0134 16.4283 21.9625C19.6476 21.9625 22 19.6663 22 16.5112V11.8616C22 8.70755 19.6476 6.41029 16.4283 6.41029C15.382 6.39319 14.3399 6.38196 13.3022 6.37672C13.3394 6.28777 13.3599 6.19014 13.3599 6.08772L13.3599 5.41266L13.3599 5.40918C13.3526 3.84138 12.0612 2.59634 10.4975 2.59076H10.4948H9.43833C9.08271 2.59076 8.82031 2.31211 8.82031 2ZM9.60014 12.314C9.60014 11.8998 9.26436 11.564 8.85014 11.564C8.43593 11.564 8.10014 11.8998 8.10014 12.314V13.4368H6.93787C6.52365 13.4368 6.18787 13.7725 6.18787 14.1868C6.18787 14.601 6.52365 14.9368 6.93787 14.9368H8.10014V16.059C8.10014 16.4732 8.43593 16.809 8.85014 16.809C9.26436 16.809 9.60014 16.4732 9.60014 16.059V14.9368H10.759C11.1732 14.9368 11.509 14.601 11.509 14.1868C11.509 13.7725 11.1732 13.4368 10.759 13.4368H9.60014V12.314ZM14.5076 12.428C14.5076 12.0138 14.8434 11.678 15.2576 11.678H15.3646C15.7788 11.678 16.1146 12.0138 16.1146 12.428C16.1146 12.8422 15.7788 13.178 15.3646 13.178H15.2576C14.8434 13.178 14.5076 12.8422 14.5076 12.428ZM17.074 15.2527C16.6598 15.2527 16.324 15.5885 16.324 16.0027C16.324 16.4169 16.6598 16.7527 17.074 16.7527H17.181C17.5952 16.7527 17.931 16.4169 17.931 16.0027C17.931 15.5885 17.5952 15.2527 17.181 15.2527H17.074Z"
      fill="currentColor"
    />
  </g>
</template>

