<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5 4C3.34314 4 2 5.34314 2 7V17C2 18.6569 3.34314 20 5 20H19C20.6569 20 22 18.6569 22 17V7C22 5.34314 20.6569 4 19 4H5ZM10.426 11.715H8.85101V13.443C8.55103 13.581 8.22998 13.65 7.888 13.65C7.53998 13.65 7.23102 13.575 6.961 13.425C6.69098 13.269 6.48102 13.056 6.33099 12.786C6.18103 12.51 6.10602 12.198 6.10602 11.85C6.10602 11.304 6.271 10.869 6.60101 10.545C6.93103 10.215 7.36603 10.05 7.90601 10.05C8.5 10.05 9.01001 10.284 9.43597 10.752L10.57 9.72601C10.258 9.354 9.86798 9.069 9.40002 8.871C8.93201 8.673 8.40399 8.57401 7.81598 8.57401C7.14398 8.57401 6.54102 8.715 6.00702 8.99701C5.47302 9.27301 5.05603 9.66 4.75598 10.158C4.45599 10.656 4.30603 11.22 4.30603 11.85C4.30603 12.48 4.45599 13.044 4.75598 13.542C5.05603 14.04 5.46997 14.43 5.99799 14.712C6.526 14.988 7.12 15.126 7.78003 15.126C8.24799 15.126 8.716 15.057 9.18402 14.919C9.65198 14.781 10.066 14.583 10.426 14.325V11.715ZM13.1578 8.70001H11.3758V15H13.1578V8.70001ZM16.0276 11.463V10.077H19.1866V8.70001H14.2456V15H16.0276V12.84H18.8086V11.463H16.0276Z"
      fill="currentColor"
    />
  </g>
</template>

