<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2 10.668C2 5.33705 6.486 1 12 1C17.514 1 22 5.33705 22 10.668V15.9102C22 16.9763 21.1028 17.8438 20 17.8438H19.3333V18.4883C19.3333 20.2653 17.838 21.7109 16 21.7109H13.8853C13.6101 22.4611 12.8691 23 12 23C10.8972 23 10 22.1326 10 21.0664C10 20.0002 10.8972 19.1328 12 19.1328C12.8691 19.1328 13.6101 19.6717 13.8853 20.4219H16C16.901 20.4219 17.6644 19.8428 17.9138 19.0495C17.73 19.1035 17.5352 19.1328 17.3333 19.1328C16.2305 19.1328 15.3333 18.2654 15.3333 17.1992V11.957C15.3333 10.8908 16.2305 10.0234 17.3333 10.0234C18.2024 10.0234 18.9435 10.5624 19.2187 11.3125H20C20.2337 11.3125 20.458 11.3518 20.6667 11.4234V10.668C20.6667 6.04784 16.7788 2.28906 12 2.28906C7.2212 2.28906 3.33333 6.04784 3.33333 10.668V11.4234C3.542 11.3518 3.76627 11.3125 4 11.3125H4.78133C5.05653 10.5624 5.79756 10.0234 6.66667 10.0234C7.76947 10.0234 8.66667 10.8908 8.66667 11.957V17.1992C8.66667 18.2654 7.76947 19.1328 6.66667 19.1328C5.79756 19.1328 5.05653 18.5939 4.78133 17.8438H4C2.8972 17.8438 2 16.9763 2 15.9102V10.668ZM4.66667 12.6016H4C3.6324 12.6016 3.33333 12.8907 3.33333 13.2461V15.9102C3.33333 16.2655 3.6324 16.5547 4 16.5547H4.66667V12.6016ZM20 16.5547C20.3676 16.5547 20.6667 16.2655 20.6667 15.9102V13.2461C20.6667 12.8907 20.3676 12.6016 20 12.6016H19.3333V16.5547H20Z"
      fill="currentColor"
    />
  </g>
</template>
