<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.9482 2.375C16.1107 2.375 15.2815 2.53999 14.5079 2.86055C13.7342 3.18112 13.0313 3.65096 12.4393 4.24325L11.9982 4.68439L11.5569 4.24311C10.3611 3.04732 8.73926 2.37553 7.04817 2.37553C5.35707 2.37553 3.73523 3.04732 2.53945 4.24311C1.34366 5.43889 0.671875 7.06073 0.671875 8.75182C0.671875 10.4429 1.34366 12.0648 2.53945 13.2605L9.96524 20.6863C11.088 21.8091 12.9083 21.8091 14.0311 20.6863L21.4569 13.2605C22.0491 12.6686 22.5189 11.9657 22.8394 11.1921C23.16 10.4185 23.325 9.58925 23.325 8.75182C23.325 7.91439 23.16 7.08517 22.8394 6.31153C22.5189 5.53801 22.0492 4.8352 21.457 4.24325C20.865 3.65096 20.1621 3.18112 19.3885 2.86055C18.6148 2.53999 17.7856 2.375 16.9482 2.375Z"
      fill="currentColor"
    />
  </g>
</template>
