<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.65808 1.65943C1.30157 2.01593 1.30185 2.59421 1.65869 2.95105L2.75019 4.04255C2.75007 4.04267 2.74995 4.04278 2.74983 4.04289L16.7126 18.0057L16.713 18.0053L18.4576 19.75C18.8145 20.1068 19.3927 20.1071 19.7492 19.7506C20.1057 19.3941 20.1055 18.8158 19.7486 18.459L2.94969 1.66004C2.59285 1.3032 2.01458 1.30293 1.65808 1.65943ZM0.672729 8.75183C0.672729 7.39376 1.10598 6.08035 1.89594 4.99641L15.8089 18.9094L14.032 20.6863C12.9092 21.8091 11.0888 21.8091 9.96609 20.6863L2.5403 13.2605C1.34452 12.0648 0.672729 10.4429 0.672729 8.75183ZM21.4577 13.2605L18.9073 15.811L5.63145 2.53509C6.0929 2.42985 6.56816 2.37554 7.04902 2.37554C8.74012 2.37554 10.362 3.04732 11.5577 4.24311L11.999 4.68439L12.4402 4.24326C13.0322 3.65096 13.7351 3.18112 14.5087 2.86056C15.2824 2.54 16.1116 2.375 16.949 2.375C17.7864 2.375 18.6157 2.54 19.3893 2.86056C20.163 3.18112 20.8659 3.65096 21.4579 4.24326C22.05 4.83521 22.5198 5.53801 22.8403 6.31153C23.1609 7.08517 23.3258 7.9144 23.3258 8.75183C23.3258 9.58926 23.1609 10.4185 22.8403 11.1921C22.5198 11.9657 22.05 12.6686 21.4577 13.2605Z"
      fill="currentColor"
    />
  </g>
</template>

