<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M6.92958 4C4.75933 4 3 5.76243 3 7.93651V16.0635C3 18.2376 4.75933 20 6.92958 20H17.0704C19.2407 20 21 18.2376 21 16.0635V7.93651C21 5.76243 19.2407 4 17.0704 4H6.92958ZM4.77465 7.93651C4.77465 6.74427 5.73944 5.77778 6.92958 5.77778H17.0704C18.2606 5.77778 19.2254 6.74427 19.2254 7.93651V13.1429L19.2216 13.1391L17.4905 11.4049C16.6984 10.6115 15.4143 10.6115 14.6222 11.4049L12.2535 13.7778C11.5534 14.4791 10.4184 14.4791 9.71831 13.7778C9.01823 13.0765 7.88318 13.0765 7.1831 13.7778L4.77812 16.187C4.77581 16.1461 4.77465 16.1049 4.77465 16.0635V7.93651ZM8.4507 7.42857C7.33058 7.42857 6.42254 8.33822 6.42254 9.46032C6.42254 10.5824 7.33058 11.4921 8.4507 11.4921C9.57083 11.4921 10.4789 10.5824 10.4789 9.46032C10.4789 8.33822 9.57083 7.42857 8.4507 7.42857Z"
      fill="currentColor"
    />
  </g>
</template>
