<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M3.50159 10.3179C3.50159 5.71798 7.34547 2.00009 11.995 2.00009C16.6577 2.00009 20.5016 5.71798 20.5016 10.3179C20.5016 12.6358 19.6586 14.7877 18.2711 16.6117C16.7404 18.6236 14.8537 20.3766 12.7301 21.7525C12.2441 22.0705 11.8055 22.0945 11.272 21.7525C9.13632 20.3766 7.24967 18.6236 5.73209 16.6117C4.34357 14.7877 3.50159 12.6358 3.50159 10.3179ZM9.1958 10.5768C9.1958 12.1178 10.4532 13.3298 11.995 13.3298C13.5378 13.3298 14.8073 12.1178 14.8073 10.5768C14.8073 9.04788 13.5378 7.77691 11.995 7.77691C10.4532 7.77691 9.1958 9.04788 9.1958 10.5768Z"
      fill="currentColor"
    />
  </g>
</template>
