<template>
  <g>
    <circle
      cx="12.2"
      cy="4.8"
      r="1.8"
      transform="rotate(90 12.2 4.8)"
      fill="currentColor"
    />
    <circle
      cx="12.2"
      cy="19.2"
      r="1.8"
      transform="rotate(90 12.2 19.2)"
      fill="currentColor"
    />
    <circle
      cx="12.2"
      cy="12"
      r="1.8"
      transform="rotate(90 12.2 12)"
      fill="currentColor"
    />
  </g>
</template>


