<template>
  <g>
    <circle cx="4.79999" cy="12" r="1.8" fill="currentColor" />
    <circle cx="19.2" cy="12" r="1.8" fill="currentColor" />
    <circle cx="12" cy="12" r="1.8" fill="currentColor" />
  </g>
</template>
