<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20 3.89569C20 3.50948 19.6532 3.2157 19.2723 3.27919L9.77225 4.86253C9.47088 4.91276 9.25 5.1735 9.25 5.47903V17.75V17.75V17.7501C9.25 19.9592 7.45914 21.7501 5.25 21.7501C3.04086 21.7501 1.25 19.9592 1.25 17.7501C1.25 15.5409 3.04086 13.7501 5.25 13.7501C6.0843 13.7501 6.85895 14.0055 7.5 14.4424V5.47903C7.5 4.31803 8.33936 3.3272 9.48455 3.13634L18.9846 1.55301C20.4322 1.31173 21.75 2.42808 21.75 3.89569V15.6667C21.75 15.6668 21.75 15.6669 21.75 15.6671C21.75 17.8762 19.9591 19.6671 17.75 19.6671C15.5409 19.6671 13.75 17.8762 13.75 15.6671C13.75 13.4579 15.5409 11.6671 17.75 11.6671C18.5843 11.6671 19.3589 11.9225 20 12.3594V3.89569Z"
      fill="currentColor"
    />
  </g>
</template>
