<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M12.1751 3.55406L9.67786 8.02022L12.1751 7.06125L14.5588 7.97588L15.1971 7.25797V2.37972L12.1751 3.55406Z"
          fill="#080815"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M19.9331 19.5998L15.4225 13.7009V21.5001L12.1748 22.8767V9.55432L15.4225 8.30799L19.9331 14.7683V6.55461L23.0002 5.36928V18.3089L19.9331 19.5998Z"
          fill="#080815"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.41663 19.5996L7.29429 18.3229L4.41663 12.7243V19.5996Z"
          fill="#080815"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M7.48389 5.36929L8.92744 8.30765L9.67759 8.02005L12.1749 3.5539L9.15271 2.37614L7.48389 5.36929Z"
          fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M14.5582 7.9757L16.8666 5.36928L19.9328 6.55461V14.7683L15.4223 8.30799L14.5582 7.9757Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M4.41636 6.55461L1.34924 5.36928V18.3089L4.41636 19.5998V12.7245L8.92714 21.5001L12.1746 22.8767V9.55432L8.92714 8.30764V15.0709L4.41636 6.55461Z"
          fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M8.92741 8.30764V15.0709L4.41663 6.55461L7.48385 5.36928L8.92741 8.30764Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M19.9329 19.5995L15.4224 13.7007V16.9235L16.3434 18.2183L19.9329 19.5995Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M15.4221 8.30819L12.1743 9.55487L8.92688 8.30819L12.1743 7.06163L15.4221 8.30819Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M16.8656 5.36983L19.933 4.1874L23.0002 5.36983L19.933 6.55516L16.8656 5.36983Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M1.34924 5.36983L4.41636 4.1874L7.48359 5.36983L4.41636 6.55516L1.34924 5.36983Z" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M15.1963 2.37987L12.1743 1.21036L9.1521 2.37645L12.1743 3.55421L15.1963 2.37987Z" fill="white"/>
  </g>
</template>

