<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M3 15.525C2.51675 15.525 2.125 15.9167 2.125 16.4C2.125 16.8832 2.51675 17.275 3 17.275L7.21559 17.275C7.07878 17.0488 7.00005 16.7835 7.00005 16.4999C7.00005 16.1277 7.1356 15.7872 7.36001 15.525L3 15.525ZM9.6401 15.525C9.86451 15.7872 10.0001 16.1277 10.0001 16.4999C10.0001 16.7835 9.92132 17.0488 9.78452 17.275L21 17.275C21.4832 17.275 21.875 16.8832 21.875 16.4C21.875 15.9167 21.4832 15.525 21 15.525L9.6401 15.525Z"
      fill="currentColor"
    />
    <circle
      cx="8.50005"
      cy="16.4999"
      r="2.375"
      transform="rotate(90 8.50005 16.4999)"
      fill="currentColor"
      stroke="currentColor"
      stroke-width="1.75"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M3 6.725C2.51675 6.725 2.125 7.11675 2.125 7.6C2.125 8.08325 2.51675 8.475 3 8.475L14.3602 8.475C14.1357 8.21279 14.0001 7.8722 14.0001 7.49994C14.0001 7.21637 14.0787 6.95117 14.2155 6.72501L3 6.725ZM16.7846 6.72501C16.9214 6.95117 17.0001 7.21637 17.0001 7.49994C17.0001 7.8722 16.8644 8.21279 16.6399 8.47501L21 8.47501C21.4832 8.47501 21.875 8.08325 21.875 7.60001C21.875 7.11676 21.4832 6.72501 21 6.72501L16.7846 6.72501Z"
      fill="currentColor"
    />
    <circle
      cx="15.5001"
      cy="7.49994"
      r="2.375"
      transform="rotate(90 15.5001 7.49994)"
      fill="currentColor"
      stroke="currentColor"
      stroke-width="1.75"
    />
  </g>
</template>

