<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.4749 2.99991C8.4749 2.51666 8.08315 2.12491 7.5999 2.12491C7.11665 2.12491 6.7249 2.51666 6.7249 2.99991L6.7249 7.2155C6.95111 7.07869 7.21637 6.99996 7.50002 6.99996C7.8722 6.99996 8.21271 7.1355 8.4749 7.35992L8.4749 2.99991ZM8.4749 9.64C8.21271 9.86442 7.8722 9.99996 7.50002 9.99996C7.21637 9.99996 6.95111 9.92123 6.7249 9.78443L6.7249 20.9999C6.7249 21.4832 7.11665 21.8749 7.5999 21.8749C8.08315 21.8749 8.4749 21.4832 8.4749 20.9999L8.4749 9.64Z"
      fill="currentColor"
    />
    <circle
      cx="7.50003"
      cy="8.49997"
      r="2.375"
      transform="rotate(-180 7.50003 8.49997)"
      fill="currentColor"
      stroke="currentColor"
      stroke-width="1.75"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M17.2749 2.99991C17.2749 2.51666 16.8832 2.12491 16.3999 2.12491C15.9167 2.12491 15.5249 2.51666 15.5249 2.99991L15.5249 14.3601C15.7871 14.1356 16.1277 14 16.5 14C16.7835 14 17.0487 14.0786 17.2749 14.2154L17.2749 2.99991ZM17.2749 16.7845C17.0487 16.9213 16.7835 17 16.5 17C16.1277 17 15.7871 16.8644 15.5249 16.6398L15.5249 20.9999C15.5249 21.4832 15.9167 21.8749 16.3999 21.8749C16.8832 21.8749 17.2749 21.4832 17.2749 20.9999L17.2749 16.7845Z"
      fill="currentColor"
    />
    <circle
      cx="16.5"
      cy="15.5"
      r="2.375"
      transform="rotate(-180 16.5 15.5)"
      fill="currentColor"
      stroke="currentColor"
      stroke-width="1.75"
    />
  </g>
</template>
