<template>
  <g>
    <path
      d="M6 7C6 5.89543 6.89543 5 8 5C9.10457 5 10 5.89543 10 7V17C10 18.1046 9.10457 19 8 19C6.89543 19 6 18.1046 6 17V7Z"
      fill="currentColor"
    />
    <path
      d="M14 7C14 5.89543 14.8954 5 16 5C17.1046 5 18 5.89543 18 7V17C18 18.1046 17.1046 19 16 19C14.8954 19 14 18.1046 14 17V7Z"
      fill="currentColor"
    />
  </g>
</template>
