<template>
  <g>
    <path
      d="M5.88887 5.18361C7.40248 5.18361 8.60863 5.60284 9.50734 6.44131C10.412 7.27366 10.8643 8.37836 10.8643 9.75541C10.8643 11.1814 10.412 12.3014 9.50734 13.1154C8.60863 13.9233 7.40248 14.318 5.88887 14.2997H2.89122V18.8164H0V5.18361H5.88887ZM5.64942 11.7108C6.35301 11.7108 6.88809 11.5425 7.25467 11.2059C7.62716 10.8632 7.8134 10.3919 7.8134 9.79213C7.8134 9.16787 7.61829 8.69355 7.22806 8.36918C6.84375 8.03869 6.31753 7.87344 5.64942 7.87344H2.89122V11.7108H5.64942Z"
      fill="currentColor"
    />
    <path
      d="M11.1048 11.9954C11.1048 9.9023 11.7197 8.21311 12.9495 6.92787C14.1793 5.64262 15.7786 5 17.7475 5C19.3675 5 20.7452 5.43148 21.8804 6.29443C23.0156 7.15738 23.7221 8.31716 24 9.77377H20.8782C20.6949 9.13727 20.3195 8.62929 19.7519 8.24984C19.1842 7.86426 18.5102 7.67148 17.7298 7.67148C16.63 7.67148 15.7579 8.06623 15.1135 8.85574C14.4749 9.64525 14.1556 10.6979 14.1556 12.0138C14.1556 13.3663 14.4779 14.4251 15.1223 15.1902C15.7727 15.9552 16.636 16.3377 17.712 16.3377C18.4866 16.3377 19.1576 16.1449 19.7252 15.7593C20.2988 15.3677 20.6831 14.8566 20.8782 14.2262H24C23.7221 15.6828 23.0156 16.8426 21.8804 17.7056C20.7511 18.5685 19.3734 19 17.7475 19C15.7609 19 14.1556 18.3604 12.9318 17.0813C11.7138 15.7961 11.1048 14.1008 11.1048 11.9954Z"
      fill="currentColor"
    />
  </g>
</template>

