<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M23.7866 16.9155C23.3178 17.507 22.1692 17.9289 22.1692 17.9289L13.6248 20.998V18.7346L19.9129 16.4941C20.6264 16.2384 20.736 15.877 20.156 15.6873C19.5771 15.4971 18.5288 15.5516 17.8147 15.8083L13.6248 17.284V14.935L13.8663 14.8533C13.8663 14.8533 15.077 14.4248 16.7795 14.2362C18.4819 14.0486 20.5665 14.2618 22.203 14.8821C24.0471 15.4649 24.2548 16.324 23.7866 16.9155ZM14.4381 13.0614V7.27322C14.4381 6.59344 14.3127 5.96763 13.6749 5.79047C13.1865 5.63401 12.8834 6.08756 12.8834 6.76679V21.2618L8.97428 20.0211V2.73828C10.6364 3.04683 13.0579 3.77621 14.3596 4.21504C17.6702 5.35164 18.7926 6.76625 18.7926 9.95363C18.7926 13.0603 16.8749 14.2378 14.4381 13.0614ZM1.80146 18.498C-0.0917827 17.9649 -0.406868 16.8539 0.456073 16.2139C1.2536 15.623 2.60988 15.1782 2.60988 15.1782L8.21491 13.1852V15.4573L4.18149 16.9008C3.46901 17.1564 3.35944 17.5184 3.93837 17.7081C4.51784 17.8978 5.56667 17.8438 6.28025 17.5876L8.21491 16.8855V18.9183C8.09226 18.9401 7.95543 18.9619 7.82896 18.9832C5.89375 19.2993 3.83261 19.1674 1.80146 18.498Z"
          fill="currentColor"/>
  </g>
</template>

