<template>
  <g>
    <path
      d="M18.5566 11.2338L6.31194 4.11799C6.17898 4.04069 6.02815 4 5.87463 4C5.7211 4 5.57028 4.04069 5.43732 4.11799C5.30385 4.19558 5.19311 4.3073 5.11631 4.44185C5.03952 4.5764 4.9994 4.72899 5.00001 4.88417V19.1158C4.9994 19.271 5.03952 19.4236 5.11631 19.5581C5.19311 19.6927 5.30385 19.8044 5.43732 19.882C5.57028 19.9593 5.7211 20 5.87463 20C6.02815 20 6.17898 19.9593 6.31194 19.882L18.5566 12.7662C18.6912 12.6894 18.8032 12.578 18.8811 12.4434C18.959 12.3088 19 12.1558 19 12C19 11.8442 18.959 11.6912 18.8811 11.5566C18.8032 11.422 18.6912 11.3106 18.5566 11.2338Z"
      fill="currentColor"
    />
  </g>
</template>

