<template>
  <g>
    <path
      d="M22 6.48481C22 5.8258 21.7366 5.19378 21.2678 4.72779C20.7989 4.26179 20.163 4 19.5 4H4.5C3.83696 4 3.20107 4.26179 2.73223 4.72779C2.26339 5.19378 2 5.8258 2 6.48481L2 16.4241C2 17.0831 2.26339 17.7151 2.73223 18.1811C3.20107 18.6471 3.83696 18.9089 4.5 18.9089H16.4825C16.814 18.909 17.1319 19.0399 17.3663 19.2729L20.9325 21.9386C21.0198 22.0256 21.1312 22.0849 21.2525 22.109C21.3737 22.1331 21.4995 22.1209 21.6138 22.074C21.728 22.027 21.8257 21.9474 21.8945 21.8452C21.9633 21.7431 22 21.6229 22 21.5V6.48481ZM10.9925 9.92131C11.1012 10.0754 11.1962 10.2443 11.2762 10.4195C11.8112 11.5973 11.7675 13.3727 10.0988 15.0239C9.99689 15.1226 9.86095 15.1788 9.71873 15.1811C9.57652 15.1834 9.43879 15.1316 9.33375 15.0363C9.28253 14.9902 9.24136 14.9342 9.21275 14.8716C9.18415 14.8091 9.16873 14.7414 9.16745 14.6727C9.16616 14.6041 9.17903 14.5359 9.20526 14.4723C9.2315 14.4088 9.27055 14.3513 9.32 14.3033C9.84375 13.7864 10.16 13.2708 10.3313 12.7875C9.995 12.9925 9.59625 13.1106 9.16875 13.1106C7.96875 13.1106 7 12.1837 7 11.0407C7 9.89771 7.97 8.96963 9.1675 8.96963C9.50625 8.96963 9.8275 9.04417 10.1125 9.17587L10.1225 9.18084C10.3338 9.26781 10.5312 9.40696 10.7087 9.58338C10.815 9.6865 10.91 9.79956 10.9925 9.92131ZM15.75 12.7875C15.4137 12.9925 15.015 13.1106 14.5875 13.1106C13.39 13.1106 12.4187 12.1837 12.4187 11.0407C12.4187 9.89771 13.39 8.96963 14.5863 8.96963C14.925 8.96963 15.2463 9.04417 15.5312 9.17587L15.5413 9.18084C15.7537 9.26781 15.95 9.40696 16.1275 9.58338C16.2338 9.6865 16.3287 9.79956 16.4113 9.92131C16.52 10.0754 16.6163 10.2443 16.6962 10.4195C17.2312 11.5973 17.1862 13.3727 15.5187 15.0239C15.4168 15.1229 15.2806 15.1794 15.1381 15.1817C14.9956 15.184 14.8576 15.132 14.7525 15.0363C14.7013 14.9902 14.6601 14.9342 14.6315 14.8716C14.6029 14.8091 14.5875 14.7414 14.5862 14.6727C14.5849 14.6041 14.5978 14.5359 14.624 14.4723C14.6503 14.4088 14.6893 14.3513 14.7388 14.3033C15.2638 13.7864 15.5788 13.2708 15.7513 12.7875H15.75Z"
      fill="currentColor"
    />
  </g>
</template>
