<template>
  <g>
    <path
      d="M11.9996 2.5C7.15913 2.5 3.23462 6.42451 3.23462 11.265C3.23462 13.6014 4.15338 15.7186 5.64365 17.2881C5.847 17.5023 5.96292 17.7876 5.94521 18.0824L5.79981 20.5036C5.75041 21.3261 6.66129 21.8521 7.34898 21.3981L9.47481 19.9945C9.70949 19.8396 9.99799 19.7935 10.2735 19.8499C10.8316 19.9643 11.4076 20.0293 11.9996 20.0293C16.8409 20.0293 20.7646 16.1055 20.7646 11.2643C20.7654 6.42451 16.8409 2.5 11.9996 2.5ZM6.80856 9.92007C6.80856 9.05126 7.51261 8.34721 8.38142 8.34721C9.25022 8.34721 9.95427 9.05126 9.95427 9.92007C9.95427 10.7889 9.25022 11.4929 8.38142 11.4929C7.51188 11.4936 6.80856 10.7896 6.80856 9.92007ZM11.9996 17.1826C9.57902 17.1826 7.6164 15.2621 7.6164 14.156C7.6164 13.052 9.5783 14.2024 11.9996 14.2024C14.4202 14.2024 16.3821 13.0498 16.3821 14.156C16.3821 15.2621 14.4202 17.1826 11.9996 17.1826ZM15.6193 11.4936C14.7505 11.4936 14.0457 10.7896 14.0457 9.92079C14.0457 9.05199 14.7505 8.34794 15.6193 8.34794C16.4881 8.34794 17.1914 9.05199 17.1914 9.92079C17.1914 10.7896 16.4881 11.4936 15.6193 11.4936Z"
      fill="currentColor"
    />
  </g>
</template>

