<template>
  <g>
    <path
      d="M21 21L18 18"
      stroke="currentColor"
      stroke-width="1.75"
      stroke-linecap="round"
    />
    <circle
      cx="11.5"
      cy="11.5"
      r="8.5"
      fill="currentColor"
      stroke="currentColor"
      stroke-width="1.75"
    />
  </g>
</template>

