<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21.0095 5.99196L21.7091 7.20603V7.21632C22.2933 8.24002 21.9446 9.54324 20.9272 10.1383C20.6016 10.3248 20.3317 10.5947 20.1452 10.9203C19.8585 11.4124 19.7798 11.9986 19.9265 12.549C20.0733 13.0994 20.4334 13.5685 20.9272 13.8526C21.4209 14.1366 21.781 14.6058 21.9278 15.1561C22.0745 15.7065 21.9958 16.2927 21.7091 16.7849L20.9683 18.0195C20.3729 19.0431 19.062 19.3926 18.036 18.8015C17.7221 18.622 17.3686 18.523 17.0071 18.5134C16.436 18.5106 15.8874 18.7363 15.4836 19.1402C15.0797 19.544 14.854 20.0926 14.8568 20.6637C14.8511 21.8473 13.89 22.8038 12.7064 22.8038H11.2969C10.1093 22.8038 9.14653 21.841 9.14653 20.6534C9.14277 20.2911 9.04339 19.9362 8.85845 19.6246C8.57639 19.1315 8.10908 18.7716 7.56037 18.6247C7.01167 18.4779 6.42704 18.5563 5.93644 18.8426C5.43739 19.1224 4.84742 19.1917 4.2971 19.0353C3.74678 18.8789 3.28147 18.5096 3.00415 18.0092L2.29422 16.7849C1.70397 15.7619 2.05391 14.4542 3.07617 13.8629C3.7415 13.4787 4.15136 12.7688 4.15136 12.0006C4.15136 11.2323 3.7415 10.5224 3.07617 10.1383C2.05261 9.54292 1.70305 8.23204 2.29422 7.20603L3.0453 5.97138C3.6372 4.94409 4.9489 4.5897 5.9776 5.17915C6.28921 5.36409 6.64413 5.46347 7.00647 5.46723C8.18213 5.46736 9.13995 4.52329 9.15682 3.34775C9.15408 2.77839 9.37835 2.23141 9.77998 1.82785C10.1816 1.42428 10.7275 1.1974 11.2969 1.1974H12.7064C13.2876 1.19716 13.8441 1.43217 14.2492 1.84889C14.6543 2.26561 14.8735 2.82856 14.8568 3.40948C14.8606 3.77183 14.9599 4.12675 15.1449 4.43836C15.4324 4.92861 15.903 5.28437 16.4531 5.4272C17.0032 5.57003 17.5875 5.48819 18.0772 5.19973C19.1059 4.61028 20.4176 4.96467 21.0095 5.99196ZM10.6957 12C10.6957 11.2805 11.279 10.6972 11.9985 10.6972C12.7179 10.6972 13.3012 11.2805 13.3012 12C13.3012 12.7195 12.7179 13.3027 11.9985 13.3027C11.279 13.3027 10.6957 12.7195 10.6957 12ZM11.9985 8.80654C10.2348 8.80654 8.80503 10.2363 8.80503 12C8.80503 13.7636 10.2348 15.1934 11.9985 15.1934C13.7621 15.1934 15.1919 13.7636 15.1919 12C15.1919 10.2363 13.7621 8.80654 11.9985 8.80654Z"
      fill="currentColor"
    />
  </g>
</template>

