<template>
  <g>
    <path
      d="M18.109 15.8667L14.8693 14.4339C14.5638 14.2986 14.3739 14.0268 14.3739 13.7244V12.7101C14.4515 12.6261 14.5333 12.5304 14.6177 12.4248C15.0379 11.8998 15.3746 11.3154 15.6195 10.6851C16.098 10.491 16.4086 10.0725 16.4086 9.6V8.4C16.4086 8.1111 16.2866 7.8312 16.0695 7.6125V6.0168C16.0885 5.8518 16.1631 4.8696 15.3601 4.0593C14.6635 3.3564 13.5332 3 12 3C10.4667 3 9.33642 3.3564 8.63985 4.059C7.83678 4.8693 7.91139 5.8518 7.93039 6.0168V7.6125C7.71334 7.8312 7.59126 8.1111 7.59126 8.4V9.6C7.59126 9.9651 7.77879 10.3056 8.09893 10.5327C8.40958 11.6208 9.05969 12.4407 9.28691 12.7038V13.6965C9.28691 13.9869 9.10785 14.2533 8.81992 14.3925L5.79454 15.8523C4.81072 16.3272 4.19995 17.2374 4.19995 18.2286V19.2C4.19995 20.6238 9.30217 21 12 21C14.6977 21 19.7999 20.6238 19.7999 19.2V18.2871C19.7999 17.2557 19.1519 16.3281 18.109 15.8667Z"
      fill="currentColor"
    />
  </g>
</template>

