<template>
  <g>
    <path
        d="M13.7925 22H16.8742C19.7044 22 22 19.7044 22 16.8742V7.12579C22 4.2956 19.7044 2 16.8742 2H13.7767C13.6981 2 13.6509 2.06289 13.6509 2.12579V21.8585C13.6509 21.9371 13.7138 22 13.7925 22ZM17.5975 10.978C18.7138 10.978 19.6258 11.8899 19.6258 13.0063C19.6258 14.1226 18.7138 15.0346 17.5975 15.0346C16.4811 15.0346 15.5692 14.1226 15.5692 13.0063C15.5849 11.8899 16.4811 10.978 17.5975 10.978ZM5.11321 8.00629C5.11321 9.04402 5.96226 9.89308 7 9.89308C8.03774 9.89308 8.88679 9.04402 8.88679 8.00629C8.88679 6.96855 8.03774 6.1195 7 6.1195C5.94654 6.1195 5.11321 6.95283 5.11321 8.00629ZM11.4969 2H7.12579C4.2956 2 2 4.2956 2 7.12579V16.8742C2 19.7044 4.2956 22 7.12579 22H11.4969C11.5755 22 11.6384 21.9371 11.6384 21.8585V2.14151C11.6384 2.06289 11.5755 2 11.4969 2ZM10.0346 20.3962H7.12579C6.18239 20.3962 5.30189 20.0346 4.64151 19.3585C3.98113 18.6981 3.60377 17.8176 3.60377 16.8742V7.12579C3.60377 6.18239 3.96541 5.30189 4.64151 4.64151C5.30189 3.98113 6.18239 3.60377 7.12579 3.60377H10.0346V20.3962Z"
        fill="currentColor"/>
  </g>
</template>

