<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M9.27731 8.71106H16.2312C18.5886 8.71106 20.5 10.5807 20.5 12.8866V17.8245C20.5 20.1304 18.5886 22 16.2312 22H7.76778C5.41136 22 3.5 20.1304 3.5 17.8245V12.8866C3.5 10.9902 4.80066 9.40682 6.57077 8.89792C6.88089 8.84331 7.15555 8.80204 7.40034 8.77225C6.38828 5.95275 7.85298 2.84734 10.6711 1.83332C12.9037 1.02149 15.3208 1.76686 16.7376 3.5103C17.0423 3.88533 16.9854 4.43641 16.6103 4.74117C16.2353 5.04593 15.6842 4.98896 15.3795 4.61393C14.418 3.43078 12.7786 2.92855 11.268 3.47837L11.2647 3.47957L11.2647 3.47956C9.36225 4.16343 8.37005 6.2533 9.03896 8.15716L9.27731 8.71106ZM12.8891 16.4538C12.8891 16.9409 12.4928 17.3285 11.9949 17.3285C11.5072 17.3285 11.1109 16.9409 11.1109 16.4538V14.2473C11.1109 13.7702 11.5072 13.3826 11.9949 13.3826C12.4928 13.3826 12.8891 13.7702 12.8891 14.2473V16.4538Z"
      fill="currentColor"
    />
  </g>
</template>
