<template>
  <g>
    <path
      d="M11.9985 11.7945C14.0778 11.7945 15.7635 9.74709 15.7635 7.22152C15.7635 4.69588 15.21 2.64844 11.9985 2.64844C8.78684 2.64844 8.2334 4.69588 8.2334 7.22152C8.23346 9.74709 9.91917 11.7945 11.9985 11.7945Z"
      fill="currentColor"
    />
    <path
      d="M19.1049 18.5915C19.0353 14.1918 18.4607 12.9381 14.0636 12.1445C14.0636 12.1445 13.4445 12.9332 12.0019 12.9332C10.5592 12.9332 9.94025 12.1445 9.94025 12.1445C5.59113 12.9294 4.98147 14.1646 4.90134 18.4486C4.89482 18.7984 4.89182 18.8167 4.89062 18.7761C4.89085 18.8522 4.89119 18.9929 4.89119 19.2384C4.89119 19.2384 5.93807 21.3487 12.0019 21.3487C18.0658 21.3487 19.1128 19.2384 19.1128 19.2384C19.1128 19.0807 19.1129 18.971 19.113 18.8965C19.1118 18.9216 19.1094 18.8729 19.1049 18.5915Z"
      fill="currentColor"
    />
    <path
      d="M17.7233 10.9752C19.4121 10.9752 20.7812 9.3123 20.7812 7.26106C20.7812 5.20976 20.3317 3.54688 17.7233 3.54688C17.2846 3.54688 16.907 3.59408 16.5822 3.6822C17.1847 4.79283 17.2673 6.14181 17.2673 7.21861C17.2673 8.43782 16.9368 9.60183 16.3281 10.5656C16.7465 10.8269 17.2205 10.9752 17.7233 10.9752Z"
      fill="currentColor"
    />
    <path
      d="M23.4888 16.4978C23.4321 12.9245 22.9655 11.9063 19.3942 11.2617C19.3942 11.2617 18.8915 11.9023 17.7198 11.9023C17.6713 11.9023 17.6244 11.9008 17.5781 11.8988C18.3226 12.2344 18.9999 12.7018 19.4986 13.3857C20.3609 14.568 20.5591 16.1562 20.6 18.4895C23.0027 18.0147 23.4951 17.0233 23.4951 17.0233C23.4951 16.8941 23.4951 16.8054 23.4953 16.7449C23.4943 16.7662 23.4924 16.728 23.4888 16.4978Z"
      fill="currentColor"
    />
    <path
      d="M6.27652 10.979C6.77935 10.979 7.25329 10.8307 7.6718 10.5695C7.06316 9.60573 6.73266 8.44172 6.73266 7.22252C6.73266 6.14566 6.81523 4.79668 7.41758 3.68611C7.09285 3.59799 6.71537 3.55078 6.27652 3.55078C3.66815 3.55078 3.21875 5.21366 3.21875 7.26496C3.21875 9.31615 4.58779 10.979 6.27652 10.979Z"
      fill="currentColor"
    />
    <path
      d="M6.41707 11.8988C6.37094 11.9008 6.32396 11.9023 6.2754 11.9023C5.10368 11.9023 4.60096 11.2617 4.60096 11.2617C1.02981 11.9063 0.563074 12.9244 0.506517 16.4978C0.502834 16.728 0.500963 16.7662 0.5 16.7448C0.500113 16.8054 0.500227 16.894 0.500227 17.0232C0.500227 17.0232 0.992693 18.0147 3.39518 18.4895C3.43627 16.1562 3.63439 14.568 4.49674 13.3856C4.99544 12.7018 5.67259 12.2344 6.41707 11.8988Z"
      fill="currentColor"
    />
  </g>
</template>


