<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M6.11304 4.5H11.9051C14.3271 4.5 16.0181 6.16904 16.0181 8.56091V15.4391C16.0181 17.831 14.3271 19.5 11.9051 19.5H6.11304C3.69102 19.5 2 17.831 2 15.4391V8.56091C2 6.16904 3.69102 4.5 6.11304 4.5ZM19.956 6.87908C20.395 6.65573 20.91 6.67908 21.329 6.94304C21.748 7.20599 21.998 7.66284 21.998 8.16233V15.8385C21.998 16.339 21.748 16.7948 21.329 17.0578C21.1 17.2009 20.844 17.274 20.586 17.274C20.371 17.274 20.156 17.2232 19.955 17.1207L18.4739 16.3735C17.9259 16.0953 17.5859 15.5369 17.5859 14.9166V9.08314C17.5859 8.46182 17.9259 7.90345 18.4739 7.62731L19.956 6.87908Z"
      fill="currentColor"
    />
  </g>
</template>
