<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.1763 15.2165H11.8266C9.42325 15.2165 7.47516 13.2928 7.47516 10.9204V6.29708C7.47516 3.92374 9.42325 2 11.8266 2H12.1763C14.1709 2 15.8517 3.32395 16.366 5.13098C16.4368 5.37874 16.2498 5.62459 15.9902 5.62459H14.8577C14.5158 5.62459 14.2378 5.89818 14.2378 6.23586V6.23682C14.2378 6.57546 14.5158 6.84905 14.8577 6.84905H15.902C16.2479 6.84905 16.5288 7.12551 16.5288 7.46702C16.5288 7.80853 16.2479 8.08499 15.902 8.08499H14.8577C14.5158 8.08499 14.2378 8.35953 14.2378 8.69817C14.2378 9.03585 14.5158 9.3104 14.8577 9.3104H15.902C16.2479 9.3104 16.5288 9.58686 16.5288 9.92933C16.5288 10.2699 16.2479 10.5463 15.902 10.5463H14.8577C14.5158 10.5463 14.2378 10.8209 14.2378 11.1595C14.2378 11.4972 14.5158 11.7708 14.8577 11.7708H15.935C16.2004 11.7708 16.3903 12.0272 16.3069 12.2759C15.7325 13.9844 14.1012 15.2165 12.1763 15.2165ZM18.5642 10.7828C18.5642 10.2538 18.9981 9.8262 19.5329 9.8262C20.0676 9.8262 20.5016 10.2538 20.5016 10.7828C20.5016 15.0866 17.2021 18.6404 12.9708 19.1177V21.0434C12.9708 21.5714 12.5368 22 12.0021 22C11.4664 22 11.0334 21.5714 11.0334 21.0434V19.1177C6.80103 18.6404 3.50159 15.0866 3.50159 10.7828C3.50159 10.2538 3.93557 9.8262 4.4703 9.8262C5.00503 9.8262 5.43902 10.2538 5.43902 10.7828C5.43902 14.3557 8.38295 17.2629 12.0021 17.2629C15.6202 17.2629 18.5642 14.3557 18.5642 10.7828Z"
      fill="currentColor"
    />
  </g>
</template>
