<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15.1396 4.95611C15.2687 5.45963 15.3212 5.96422 15.3716 6.45056L15.4188 6.89289C15.5994 8.36909 15.5994 15.6213 15.4188 17.1082L15.3716 17.5666L15.3707 17.5752C15.3259 18.0352 15.2794 18.5113 15.1469 19.0192C14.7952 20.2206 13.8577 21 12.7932 21C12.7596 21 12.726 21 12.6882 20.9989C12.1003 20.9989 11.461 20.6382 11.0988 20.3236L7.56822 17.383H5.75517C4.35575 17.383 3.33112 16.3706 3.1453 14.8042C2.93114 13.2379 2.97313 10.5506 3.1453 9.12705C3.34792 7.64441 4.42084 6.61697 5.75517 6.61697H7.56822L11.0316 3.71932C11.4494 3.35645 12.1864 2.99786 12.7691 3.00001C13.8136 3.00001 14.7879 3.75153 15.1396 4.95611ZM18.1437 6.25838C18.5626 5.96528 19.1358 6.0705 19.4224 6.49457C20.4365 7.98795 20.9961 9.94297 20.9961 12C20.9961 14.057 20.4365 16.012 19.4224 17.5054C19.2502 17.7577 18.9689 17.9091 18.6676 17.9091C18.4797 17.9091 18.2981 17.8511 18.1437 17.7416C17.728 17.4453 17.6251 16.8591 17.9138 16.434C18.7169 15.2509 19.1589 13.6759 19.1589 12C19.1589 10.323 18.7169 8.74913 17.9138 7.56602C17.6251 7.14087 17.728 6.55469 18.1437 6.25838Z"
      fill="currentColor"
    />
  </g>
</template>

