<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14.0646 4.98206H5.93543C3.20971 4.98206 1 7.10923 1 9.73313V16.231C1 18.8549 3.20971 20.9821 5.93543 20.9821H14.0646C16.7903 20.9821 19 18.8549 19 16.231V15.9786H15.1927C13.4058 15.9776 11.9565 14.5842 11.9554 12.8634L11.9554 12.8609L11.9554 12.8584C11.9565 11.1376 13.4058 9.74425 15.1927 9.7432H19V9.73313C19 7.10923 16.7903 4.98206 14.0646 4.98206ZM19 11.1013H15.193C14.184 11.1019 13.3667 11.8885 13.3661 12.8592L13.3661 12.8609L13.3661 12.8626C13.3667 13.8333 14.184 14.6199 15.193 14.6206H19V11.1013ZM14.6249 12.807C14.6249 12.432 14.9407 12.128 15.3302 12.128H15.6234C16.0129 12.128 16.3287 12.432 16.3287 12.807C16.3287 13.182 16.0129 13.486 15.6234 13.486H15.3302C14.9407 13.486 14.6249 13.182 14.6249 12.807ZM5.26577 8.41167C4.87621 8.41167 4.5604 8.71568 4.5604 9.0907C4.5604 9.46571 4.87621 9.76972 5.26577 9.76972H10.3435C10.7331 9.76972 11.0489 9.46571 11.0489 9.0907C11.0489 8.71568 10.7331 8.41167 10.3435 8.41167H5.26577Z"
      fill="currentColor"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21.875 0.875C21.875 0.391751 21.4832 0 21 0C20.5168 0 20.125 0.391751 20.125 0.875V2.125H18.875C18.3918 2.125 18 2.51675 18 3C18 3.48325 18.3918 3.875 18.875 3.875H20.125V5.125C20.125 5.60825 20.5168 6 21 6C21.4832 6 21.875 5.60825 21.875 5.125V3.875H23.125C23.6082 3.875 24 3.48325 24 3C24 2.51675 23.6082 2.125 23.125 2.125H21.875V0.875Z"
      fill="currentColor"
    />
  </g>
</template>

