<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.5162 2.98203H7.48381C4.45524 2.98203 2 5.36076 2 8.29497V15.5613C2 18.4955 4.45524 20.8742 7.48381 20.8742H16.5162C19.5448 20.8742 22 18.4955 22 15.5613V15.2791H17.7697C15.7842 15.2779 14.1738 13.7198 14.1726 11.7955L14.1726 11.7927L14.1726 11.7899C14.1738 9.86558 15.7842 8.30742 17.7697 8.30624H22V8.29497C22 5.36076 19.5448 2.98203 16.5162 2.98203ZM22 9.8249H17.77C16.6489 9.82566 15.7408 10.7052 15.7401 11.7908L15.7401 11.7927L15.7401 11.7946C15.7408 12.8801 16.6489 13.7597 17.77 13.7604H22V9.8249ZM17.1387 11.7324C17.1387 11.313 17.4896 10.973 17.9225 10.973H18.2482C18.681 10.973 19.0319 11.313 19.0319 11.7324C19.0319 12.1517 18.681 12.4917 18.2482 12.4917H17.9225C17.4896 12.4917 17.1387 12.1517 17.1387 11.7324ZM6.73975 6.81724C6.3069 6.81724 5.956 7.1572 5.956 7.57657C5.956 7.99593 6.3069 8.3359 6.73975 8.3359H12.3817C12.8145 8.3359 13.1654 7.99593 13.1654 7.57657C13.1654 7.1572 12.8145 6.81724 12.3817 6.81724H6.73975Z"
      fill="currentColor"
    />
  </g>
</template>
