<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.84196 3.57079C9.38576 3.35861 10.2481 3.1576 10.9183 3.07384C12.0883 2.92867 13.1649 2.99567 14.3349 3.2916C15.2247 3.51495 16.5046 4.06773 16.5046 4.22966C16.5046 4.27433 16.3563 4.32458 16.0706 4.36367C15.8344 4.40275 15.439 4.49768 15.1863 4.58143C14.626 4.77128 13.4121 5.36873 12.676 5.82101C12.3684 6.01085 12.0663 6.1672 12.0059 6.1672C11.951 6.1672 11.6433 6.01085 11.3303 5.82101C10.0394 5.04488 8.61125 4.43626 7.84225 4.34692C7.62802 4.32458 7.49619 4.2855 7.49619 4.24083C7.49619 4.16824 8.23774 3.79972 8.84196 3.57079ZM3.07415 10.9521C3.3433 8.84149 4.13978 7.19431 5.60639 5.67555C6.03484 5.23444 6.18864 5.10602 6.30948 5.10602C6.62258 5.10602 7.6937 5.77047 8.51764 6.48518C9.13285 7.02122 9.96777 7.8476 9.96777 7.92577C9.96777 7.95927 9.76453 8.21612 9.52284 8.48972C6.72695 11.5942 5.04611 14.615 4.87583 16.815C4.83189 17.4013 4.77147 17.4068 4.40893 16.8596C3.85964 16.0388 3.39274 14.8774 3.1895 13.8445C2.98077 12.7724 2.94781 11.9348 3.07415 10.9521ZM17.2883 5.26821C16.5907 5.60881 15.6514 6.32352 14.7451 7.21133C14.3826 7.5631 14.0859 7.89254 14.0859 7.93721C14.0859 7.98187 14.3551 8.32248 14.6847 8.69659C17.0576 11.3823 18.5627 13.9452 19.0296 16.0894C19.09 16.363 19.1394 16.7371 19.1394 16.9269C19.1394 17.2396 19.1504 17.2787 19.2438 17.2787C19.3701 17.2787 19.87 16.497 20.1831 15.799C20.8203 14.4087 21.0455 13.2529 20.9905 11.6559C20.9356 9.80774 20.4413 8.29456 19.4251 6.84281C18.9582 6.17276 17.931 5.10628 17.7552 5.10628C17.6838 5.10628 17.4751 5.17887 17.2883 5.26821ZM7.39854 14.414C8.37628 13.1576 10.0956 11.3485 11.3974 10.1983C11.694 9.93587 11.9632 9.74044 12.0291 9.74044C12.106 9.74044 12.6003 10.1815 13.4902 11.047C16.7695 14.2353 18.7524 16.7815 18.7579 17.8088C18.7579 18.0099 18.7249 18.0713 18.4997 18.289C17.0386 19.7185 15.2809 20.6119 13.3474 20.9022C10.8426 21.2763 8.17853 20.5616 6.3439 19.0205C5.82207 18.5794 5.24531 17.9819 5.24531 17.8759C5.24531 17.5408 6.36038 15.7429 7.39854 14.414Z"
      fill="currentColor"
    />
  </g>
</template>


