<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.1674 6.61995C11.5099 6.27895 11.511 5.72493 11.17 5.38251C10.829 5.0401 10.275 5.03895 9.93257 5.37995L3.89873 11.3889C3.73016 11.5483 3.625 11.7742 3.625 12.0245C3.625 12.1691 3.66007 12.3055 3.72217 12.4257C3.76353 12.506 3.81743 12.5801 3.88262 12.645L9.93262 18.669C10.2751 19.01 10.8291 19.0088 11.1701 18.6663C11.511 18.3239 11.5098 17.7699 11.1674 17.4289L6.61848 12.8995H19.5C19.9832 12.8995 20.375 12.5078 20.375 12.0245C20.375 11.5413 19.9832 11.1495 19.5 11.1495H6.61905L11.1674 6.61995Z"
      fill="currentColor"
    />
  </g>
</template>


