<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.1495 4.5C11.1495 4.01675 11.5412 3.625 12.0245 3.625C12.5077 3.625 12.8995 4.01675 12.8995 4.5V17.381L17.4291 12.8326C17.7701 12.4901 18.3241 12.489 18.6665 12.83C19.0089 13.171 19.0101 13.725 18.6691 14.0674L12.6602 20.1013C12.5007 20.2698 12.2748 20.375 12.0245 20.375C12.0216 20.375 12.0187 20.375 12.0159 20.375C11.8745 20.3736 11.7411 20.3387 11.6233 20.2778C11.543 20.2365 11.4689 20.1826 11.404 20.1174L5.38002 14.0674C5.03905 13.7249 5.04024 13.1709 5.38269 12.8299C5.72513 12.489 6.27915 12.4902 6.62012 12.8326L11.1495 17.3815V4.5Z"
      fill="currentColor"
    />
  </g>
</template>

