<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12.8326 17.429C12.4901 17.77 12.489 18.324 12.83 18.6664C13.171 19.0088 13.725 19.01 14.0674 18.669L20.1012 12.6602C20.2698 12.5007 20.375 12.2748 20.375 12.0244C20.375 12.0243 20.375 12.0241 20.375 12.024C20.375 12.0003 20.374 11.9766 20.3721 11.9532C20.3628 11.8382 20.3308 11.7268 20.2788 11.6252C20.2373 11.5442 20.1831 11.4694 20.1174 11.4039L14.0674 5.37995C13.7249 5.03897 13.1709 5.04017 12.8299 5.38261C12.489 5.72506 12.4902 6.27907 12.8326 6.62005L17.3815 11.1494H4.5C4.01675 11.1494 3.625 11.5412 3.625 12.0244C3.625 12.5077 4.01675 12.8994 4.5 12.8994H17.381L12.8326 17.429Z"
      fill="currentColor"
    />
  </g>
</template>
