<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M11.1495 19.5C11.1495 19.9832 11.5412 20.375 12.0245 20.375C12.5077 20.375 12.8995 19.9832 12.8995 19.5V6.61904L17.4291 11.1674C17.7701 11.5099 18.3241 11.511 18.6665 11.17C19.0089 10.829 19.0101 10.275 18.6691 9.93257L12.6602 3.89872C12.5007 3.73016 12.2748 3.625 12.0245 3.625C12.0216 3.625 12.0187 3.62501 12.0159 3.62504C11.8745 3.6264 11.7411 3.6613 11.6233 3.72217C11.543 3.76353 11.4689 3.81743 11.404 3.88262L5.38002 9.93262C5.03905 10.2751 5.04024 10.8291 5.38269 11.1701C5.72513 11.511 6.27915 11.5098 6.62012 11.1674L11.1495 6.61848V19.5Z"
      fill="currentColor"
    />
  </g>
</template>

