<template>
  <g>
    <path
      d="M17.0002 13.8349C16.8128 14.0212 16.5594 14.1257 16.2952 14.1257C16.031 14.1257 15.7776 14.0212 15.5902 13.8349L12.0002 10.2949L8.46019 13.8349C8.27283 14.0212 8.01938 14.1257 7.75519 14.1257C7.49101 14.1257 7.23756 14.0212 7.05019 13.8349C6.95646 13.742 6.88207 13.6314 6.8313 13.5095C6.78053 13.3877 6.75439 13.257 6.75439 13.1249C6.75439 12.9929 6.78053 12.8622 6.8313 12.7404C6.88207 12.6185 6.95646 12.5079 7.05019 12.4149L11.2902 8.17494C11.3832 8.08121 11.4938 8.00682 11.6156 7.95605C11.7375 7.90528 11.8682 7.87914 12.0002 7.87914C12.1322 7.87914 12.2629 7.90528 12.3848 7.95605C12.5066 8.00682 12.6172 8.08121 12.7102 8.17494L17.0002 12.4149C17.0939 12.5079 17.1683 12.6185 17.2191 12.7404C17.2699 12.8622 17.296 12.9929 17.296 13.1249C17.296 13.257 17.2699 13.3877 17.2191 13.5095C17.1683 13.6314 17.0939 13.742 17.0002 13.8349Z"
      fill="currentColor"
    />
  </g>
</template>

