<template>
  <g>
    <path
      d="M13.9558 17.2458C14.142 17.0584 14.2466 16.805 14.2466 16.5408C14.2466 16.2766 14.142 16.0232 13.9558 15.8358L10.4158 12.2458L13.9558 8.7058C14.142 8.51844 14.2466 8.26498 14.2466 8.0008C14.2466 7.73661 14.142 7.48316 13.9558 7.2958C13.8628 7.20207 13.7522 7.12768 13.6304 7.07691C13.5085 7.02614 13.3778 7 13.2458 7C13.1138 7 12.9831 7.02614 12.8612 7.07691C12.7394 7.12768 12.6288 7.20207 12.5358 7.2958L8.29579 11.5358C8.20206 11.6288 8.12767 11.7394 8.0769 11.8612C8.02613 11.9831 7.99999 12.1138 7.99999 12.2458C7.99999 12.3778 8.02613 12.5085 8.0769 12.6304C8.12767 12.7522 8.20206 12.8628 8.29579 12.9558L12.5358 17.2458C12.6288 17.3395 12.7394 17.4139 12.8612 17.4647C12.9831 17.5155 13.1138 17.5416 13.2458 17.5416C13.3778 17.5416 13.5085 17.5155 13.6304 17.4647C13.7522 17.4139 13.8628 17.3395 13.9558 17.2458Z"
      fill="currentColor"
    />
  </g>
</template>


