<template>
  <g>
    <path
      d="M18.8855 15.7092C18.6981 15.8955 18.4446 16 18.1805 16C17.9163 16 17.6628 15.8955 17.4755 15.7092L12.0002 10.284L6.57506 15.7092C6.3877 15.8955 6.13425 16 5.87006 16C5.60588 16 5.35242 15.8955 5.16506 15.7092C5.07133 15.6162 4.99694 15.5056 4.94617 15.3838C4.8954 15.2619 4.86926 15.1312 4.86926 14.9992C4.86926 14.8672 4.8954 14.7365 4.94617 14.6146C4.99694 14.4928 5.07133 14.3822 5.16506 14.2892L11.2902 8.16397C11.3832 8.07024 11.4938 7.99585 11.6156 7.94508C11.7375 7.89431 11.8682 7.86817 12.0002 7.86817C12.1322 7.86817 12.2629 7.89431 12.3848 7.94508C12.5067 7.99585 12.6173 8.07024 12.7102 8.16397L18.8855 14.2892C18.9792 14.3822 19.0536 14.4928 19.1044 14.6146C19.1551 14.7365 19.1813 14.8672 19.1813 14.9992C19.1813 15.1312 19.1551 15.2619 19.1044 15.3838C19.0536 15.5056 18.9792 15.6162 18.8855 15.7092Z"
      fill="currentColor"
    />
  </g>
</template>


