<template>
  <g>
    <path
      d="M17.0002 10.1699C16.8128 9.98369 16.5594 9.87915 16.2952 9.87915C16.031 9.87915 15.7776 9.98369 15.5902 10.1699L12.0002 13.7099L8.46019 10.1699C8.27283 9.98369 8.01938 9.87915 7.75519 9.87915C7.49101 9.87915 7.23756 9.98369 7.05019 10.1699C6.95646 10.2629 6.88207 10.3735 6.8313 10.4954C6.78053 10.6172 6.75439 10.7479 6.75439 10.8799C6.75439 11.012 6.78053 11.1427 6.8313 11.2645C6.88207 11.3864 6.95646 11.497 7.05019 11.5899L11.2902 15.8299C11.3832 15.9237 11.4938 15.9981 11.6156 16.0488C11.7375 16.0996 11.8682 16.1257 12.0002 16.1257C12.1322 16.1257 12.2629 16.0996 12.3848 16.0488C12.5066 15.9981 12.6172 15.9237 12.7102 15.8299L17.0002 11.5899C17.0939 11.497 17.1683 11.3864 17.2191 11.2645C17.2699 11.1427 17.296 11.012 17.296 10.8799C17.296 10.7479 17.2699 10.6172 17.2191 10.4954C17.1683 10.3735 17.0939 10.2629 17.0002 10.1699Z"
      fill="currentColor"
    />
  </g>
</template>
