<template>
  <g>
    <path
      d="M17.2458 6.29079C17.0584 6.10454 16.805 6 16.5408 6C16.2766 6 16.0232 6.10454 15.8358 6.29079L12.2458 9.83079L8.7058 6.29079C8.51844 6.10454 8.26498 6 8.0008 6C7.73661 6 7.48316 6.10454 7.2958 6.29079C7.20207 6.38376 7.12768 6.49436 7.07691 6.61622C7.02614 6.73808 7 6.86878 7 7.00079C7 7.1328 7.02614 7.26351 7.07691 7.38537C7.12768 7.50723 7.20207 7.61783 7.2958 7.71079L11.5358 11.9508C11.6288 12.0445 11.7394 12.1189 11.8612 12.1697C11.9831 12.2205 12.1138 12.2466 12.2458 12.2466C12.3778 12.2466 12.5085 12.2205 12.6304 12.1697C12.7522 12.1189 12.8628 12.0445 12.9558 11.9508L17.2458 7.71079C17.3395 7.61783 17.4139 7.50723 17.4647 7.38537C17.5155 7.26351 17.5416 7.1328 17.5416 7.00079C17.5416 6.86878 17.5155 6.73808 17.4647 6.61622C17.4139 6.49436 17.3395 6.38376 17.2458 6.29079Z"
      fill="currentColor"
    />
    <path
      d="M17.2458 11.4116C17.0584 11.2254 16.805 11.1208 16.5408 11.1208C16.2766 11.1208 16.0232 11.2254 15.8358 11.4116L12.2458 14.9516L8.7058 11.4116C8.51844 11.2254 8.26498 11.1208 8.0008 11.1208C7.73661 11.1208 7.48316 11.2254 7.2958 11.4116C7.20207 11.5046 7.12768 11.6152 7.07691 11.7371C7.02614 11.8589 7 11.9896 7 12.1216C7 12.2537 7.02614 12.3844 7.07691 12.5062C7.12768 12.6281 7.20207 12.7387 7.2958 12.8316L11.5358 17.0716C11.6288 17.1654 11.7394 17.2398 11.8612 17.2905C11.9831 17.3413 12.1138 17.3674 12.2458 17.3674C12.3778 17.3674 12.5085 17.3413 12.6304 17.2905C12.7522 17.2398 12.8628 17.1654 12.9558 17.0716L17.2458 12.8316C17.3395 12.7387 17.4139 12.6281 17.4647 12.5062C17.5155 12.3844 17.5416 12.2537 17.5416 12.1216C17.5416 11.9896 17.5155 11.8589 17.4647 11.7371C17.4139 11.6152 17.3395 11.5046 17.2458 11.4116Z"
      fill="currentColor"
    />
  </g>
</template>

