<template>
  <g>
    <path
      d="M17.6637 16.6588C17.8499 16.4714 17.9545 16.2179 17.9545 15.9538C17.9545 15.6896 17.8499 15.4361 17.6637 15.2488L14.1237 11.6588L17.6637 8.11876C17.8499 7.9314 17.9545 7.67795 17.9545 7.41376C17.9545 7.14958 17.8499 6.89612 17.6637 6.70876C17.5707 6.61503 17.4601 6.54064 17.3383 6.48987C17.2164 6.4391 17.0857 6.41296 16.9537 6.41296C16.8217 6.41296 16.691 6.4391 16.5691 6.48987C16.4472 6.54064 16.3366 6.61503 16.2437 6.70876L12.0037 10.9488C11.9099 11.0417 11.8356 11.1523 11.7848 11.2742C11.734 11.396 11.7079 11.5267 11.7079 11.6588C11.7079 11.7908 11.734 11.9215 11.7848 12.0433C11.8356 12.1652 11.9099 12.2758 12.0037 12.3688L16.2437 16.6588C16.3366 16.7525 16.4472 16.8269 16.5691 16.8777C16.691 16.9284 16.8217 16.9546 16.9537 16.9546C17.0857 16.9546 17.2164 16.9284 17.3383 16.8777C17.4601 16.8269 17.5707 16.7525 17.6637 16.6588Z"
      fill="currentColor"
    />
    <path
      d="M12.5428 16.6588C12.7291 16.4714 12.8336 16.2179 12.8336 15.9538C12.8336 15.6896 12.7291 15.4361 12.5428 15.2488L9.00283 11.6588L12.5428 8.11876C12.7291 7.9314 12.8336 7.67795 12.8336 7.41376C12.8336 7.14958 12.7291 6.89612 12.5428 6.70876C12.4499 6.61503 12.3393 6.54064 12.2174 6.48987C12.0955 6.4391 11.9648 6.41296 11.8328 6.41296C11.7008 6.41296 11.5701 6.4391 11.4482 6.48987C11.3264 6.54064 11.2158 6.61503 11.1228 6.70876L6.88283 10.9488C6.7891 11.0417 6.7147 11.1523 6.66393 11.2742C6.61317 11.396 6.58703 11.5267 6.58703 11.6588C6.58703 11.7908 6.61317 11.9215 6.66393 12.0433C6.7147 12.1652 6.7891 12.2758 6.88283 12.3688L11.1228 16.6588C11.2158 16.7525 11.3264 16.8269 11.4482 16.8777C11.5701 16.9284 11.7008 16.9546 11.8328 16.9546C11.9648 16.9546 12.0955 16.9284 12.2174 16.8777C12.3393 16.8269 12.4499 16.7525 12.5428 16.6588Z"
      fill="currentColor"
    />
  </g>
</template>
