<template>
  <g>
    <path
      d="M17.2458 17.0766C17.0584 17.2629 16.805 17.3674 16.5408 17.3674C16.2766 17.3674 16.0232 17.2629 15.8358 17.0766L12.2458 13.5366L8.7058 17.0766C8.51844 17.2629 8.26498 17.3674 8.0008 17.3674C7.73661 17.3674 7.48316 17.2629 7.2958 17.0766C7.20207 16.9837 7.12768 16.8731 7.07691 16.7512C7.02614 16.6294 7 16.4987 7 16.3666C7 16.2346 7.02614 16.1039 7.07691 15.9821C7.12768 15.8602 7.20207 15.7496 7.2958 15.6566L11.5358 11.4166C11.6288 11.3229 11.7394 11.2485 11.8612 11.1977C11.9831 11.147 12.1138 11.1208 12.2458 11.1208C12.3778 11.1208 12.5085 11.147 12.6304 11.1977C12.7522 11.2485 12.8628 11.3229 12.9558 11.4166L17.2458 15.6566C17.3395 15.7496 17.4139 15.8602 17.4647 15.9821C17.5155 16.1039 17.5416 16.2346 17.5416 16.3666C17.5416 16.4987 17.5155 16.6294 17.4647 16.7512C17.4139 16.8731 17.3395 16.9837 17.2458 17.0766Z"
      fill="currentColor"
    />
    <path
      d="M17.2458 11.9558C17.0584 12.142 16.805 12.2466 16.5408 12.2466C16.2766 12.2466 16.0232 12.142 15.8358 11.9558L12.2458 8.41579L8.7058 11.9558C8.51844 12.142 8.26498 12.2466 8.0008 12.2466C7.73661 12.2466 7.48316 12.142 7.2958 11.9558C7.20207 11.8628 7.12768 11.7522 7.07691 11.6304C7.02614 11.5085 7 11.3778 7 11.2458C7 11.1138 7.02614 10.9831 7.07691 10.8612C7.12768 10.7394 7.20207 10.6288 7.2958 10.5358L11.5358 6.29579C11.6288 6.20206 11.7394 6.12767 11.8612 6.0769C11.9831 6.02613 12.1138 5.99999 12.2458 5.99999C12.3778 5.99999 12.5085 6.02613 12.6304 6.0769C12.7522 6.12767 12.8628 6.20206 12.9558 6.29579L17.2458 10.5358C17.3395 10.6288 17.4139 10.7394 17.4647 10.8612C17.5155 10.9831 17.5416 11.1138 17.5416 11.2458C17.5416 11.3778 17.5155 11.5085 17.4647 11.6304C17.4139 11.7522 17.3395 11.8628 17.2458 11.9558Z"
      fill="currentColor"
    />
  </g>
</template>

