<template>
  <g>
    <path
      d="M6.87789 6.70867C6.69164 6.89603 6.5871 7.14948 6.5871 7.41367C6.5871 7.67786 6.69164 7.93131 6.87789 8.11867L10.4179 11.7087L6.87789 15.2487C6.69164 15.436 6.5871 15.6895 6.5871 15.9537C6.5871 16.2179 6.69164 16.4713 6.87789 16.6587C6.97085 16.7524 7.08145 16.8268 7.20331 16.8776C7.32517 16.9283 7.45588 16.9545 7.58789 16.9545C7.7199 16.9545 7.85061 16.9283 7.97247 16.8776C8.09433 16.8268 8.20493 16.7524 8.29789 16.6587L12.5379 12.4187C12.6316 12.3257 12.706 12.2151 12.7568 12.0932C12.8075 11.9714 12.8337 11.8407 12.8337 11.7087C12.8337 11.5767 12.8075 11.446 12.7568 11.3241C12.706 11.2022 12.6316 11.0916 12.5379 10.9987L8.29789 6.70867C8.20493 6.61494 8.09433 6.54055 7.97247 6.48978C7.85061 6.43901 7.7199 6.41287 7.58789 6.41287C7.45588 6.41287 7.32517 6.43901 7.20331 6.48978C7.08145 6.54055 6.97085 6.61494 6.87789 6.70867Z"
      fill="currentColor"
    />
    <path
      d="M11.9987 6.70867C11.8125 6.89603 11.7079 7.14948 11.7079 7.41367C11.7079 7.67786 11.8125 7.93131 11.9987 8.11867L15.5387 11.7087L11.9987 15.2487C11.8125 15.436 11.7079 15.6895 11.7079 15.9537C11.7079 16.2179 11.8125 16.4713 11.9987 16.6587C12.0917 16.7524 12.2023 16.8268 12.3242 16.8776C12.446 16.9283 12.5767 16.9545 12.7087 16.9545C12.8408 16.9545 12.9715 16.9283 13.0933 16.8776C13.2152 16.8268 13.3258 16.7524 13.4187 16.6587L17.6587 12.4187C17.7525 12.3257 17.8269 12.2151 17.8776 12.0932C17.9284 11.9714 17.9545 11.8407 17.9545 11.7087C17.9545 11.5767 17.9284 11.446 17.8776 11.3241C17.8269 11.2022 17.7525 11.0916 17.6587 10.9987L13.4187 6.70867C13.3258 6.61494 13.2152 6.54055 13.0933 6.48978C12.9715 6.43901 12.8408 6.41287 12.7087 6.41287C12.5767 6.41287 12.446 6.43901 12.3242 6.48978C12.2023 6.54055 12.0917 6.61494 11.9987 6.70867Z"
      fill="currentColor"
    />
  </g>
</template>


