<template>
  <g>
    <path
      d="M10.1927 7.0274C10.0065 7.21476 9.90192 7.46821 9.90192 7.7324C9.90192 7.99658 10.0065 8.25003 10.1927 8.4374L13.7327 12.0274L10.1927 15.5674C10.0065 15.7548 9.90192 16.0082 9.90192 16.2724C9.90192 16.5366 10.0065 16.79 10.1927 16.9774C10.2857 17.0711 10.3963 17.1455 10.5181 17.1963C10.64 17.2471 10.7707 17.2732 10.9027 17.2732C11.0347 17.2732 11.1654 17.2471 11.2873 17.1963C11.4091 17.1455 11.5197 17.0711 11.6127 16.9774L15.8527 12.7374C15.9464 12.6444 16.0208 12.5338 16.0716 12.412C16.1224 12.2901 16.1485 12.1594 16.1485 12.0274C16.1485 11.8954 16.1224 11.7647 16.0716 11.6428C16.0208 11.521 15.9464 11.4104 15.8527 11.3174L11.6127 7.0274C11.5197 6.93367 11.4091 6.85927 11.2873 6.8085C11.1654 6.75774 11.0347 6.7316 10.9027 6.7316C10.7707 6.7316 10.64 6.75774 10.5181 6.8085C10.3963 6.85927 10.2857 6.93367 10.1927 7.0274Z"
      fill="currentColor"
    />
  </g>
</template>

