<template>
  <g>
    <path
      d="M10.232 12.632L5.6 17.272V16C5.6 15.7878 5.51571 15.5843 5.36569 15.4343C5.21566 15.2843 5.01217 15.2 4.8 15.2C4.58783 15.2 4.38434 15.2843 4.23431 15.4343C4.08429 15.5843 4 15.7878 4 16V19.2C4.00126 19.3045 4.02301 19.4078 4.064 19.504C4.14518 19.6995 4.30052 19.8548 4.496 19.936C4.59218 19.977 4.69546 19.9987 4.8 20H8C8.21217 20 8.41566 19.9157 8.56569 19.7657C8.71571 19.6157 8.8 19.4122 8.8 19.2C8.8 18.9878 8.71571 18.7843 8.56569 18.6343C8.41566 18.4843 8.21217 18.4 8 18.4H6.728L11.368 13.768C11.5186 13.6174 11.6033 13.413 11.6033 13.2C11.6033 12.987 11.5186 12.7826 11.368 12.632C11.2174 12.4814 11.013 12.3967 10.8 12.3967C10.587 12.3967 10.3826 12.4814 10.232 12.632ZM19.936 4.496C19.8548 4.30052 19.6995 4.14518 19.504 4.064C19.4078 4.02301 19.3045 4.00126 19.2 4H16C15.7878 4 15.5843 4.08429 15.4343 4.23431C15.2843 4.38434 15.2 4.58783 15.2 4.8C15.2 5.01217 15.2843 5.21566 15.4343 5.36569C15.5843 5.51571 15.7878 5.6 16 5.6H17.272L12.632 10.232C12.557 10.3064 12.4975 10.3949 12.4569 10.4923C12.4163 10.5898 12.3954 10.6944 12.3954 10.8C12.3954 10.9056 12.4163 11.0102 12.4569 11.1077C12.4975 11.2051 12.557 11.2936 12.632 11.368C12.7064 11.443 12.7949 11.5025 12.8923 11.5431C12.9898 11.5837 13.0944 11.6046 13.2 11.6046C13.3056 11.6046 13.4102 11.5837 13.5077 11.5431C13.6051 11.5025 13.6936 11.443 13.768 11.368L18.4 6.728V8C18.4 8.21217 18.4843 8.41566 18.6343 8.56569C18.7843 8.71571 18.9878 8.8 19.2 8.8C19.4122 8.8 19.6157 8.71571 19.7657 8.56569C19.9157 8.41566 20 8.21217 20 8V4.8C19.9987 4.69546 19.977 4.59218 19.936 4.496Z"
      fill="currentColor"
    />
  </g>
</template>

