<template>
  <g clip-path="url(#clip0)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20.125 10C20.125 13.3827 17.3827 16.125 14 16.125C10.6173 16.125 7.875 13.3827 7.875 10C7.875 6.61725 10.6173 3.875 14 3.875C17.3827 3.875 20.125 6.61726 20.125 10ZM14 17.875C18.3492 17.875 21.875 14.3492 21.875 10C21.875 5.65076 18.3492 2.125 14 2.125C9.65076 2.125 6.125 5.65076 6.125 10C6.125 11.8594 6.76941 13.5683 7.84709 14.9155L5.5 17.2626L3.61872 15.3813C3.27701 15.0396 2.72299 15.0396 2.38128 15.3813C2.03957 15.723 2.03957 16.277 2.38128 16.6187L4.26256 18.5L2.38128 20.3813C2.03957 20.723 2.03957 21.277 2.38128 21.6187C2.72299 21.9604 3.27701 21.9604 3.61872 21.6187L5.5 19.7374L7.38128 21.6187C7.72299 21.9604 8.27701 21.9604 8.61872 21.6187C8.96043 21.277 8.96043 20.723 8.61872 20.3813L6.73744 18.5L9.08453 16.1529C10.4317 17.2306 12.1406 17.875 14 17.875Z"
      fill="currentColor"
    />
  </g>
</template>


