<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14.25 5.81062V7.76573C14.25 8.24726 13.9248 8.661 13.4674 8.78297C11.6583 9.26541 9.69219 10.1758 8.08747 11.8421C6.72834 13.2534 5.59447 15.2417 5.05228 18.0586C6.17162 16.8142 7.19619 15.9148 8.27818 15.2286C9.68573 14.3359 11.1455 13.8329 12.9397 13.3686C13.6078 13.1956 14.25 13.7031 14.25 14.3842V16.1893L19.4393 11L14.25 5.81062ZM12.75 4.72422C12.75 3.78877 13.881 3.3203 14.5425 3.98176L20.8182 10.2575C21.2282 10.6675 21.2282 11.3324 20.8182 11.7424L14.5425 18.0182C13.881 18.6796 12.75 18.2111 12.75 17.2757V14.972C11.2953 15.3752 10.1605 15.8111 9.08155 16.4953C7.86438 17.2673 6.67351 18.3843 5.18342 20.2162C4.56492 20.9766 3.2184 20.5508 3.33229 19.457C3.7441 15.5019 5.15467 12.725 7.00703 10.8016C8.7499 8.99183 10.8422 7.98036 12.75 7.42581V4.72422Z"
      fill="currentColor"
    />
    
  </g>
</template>


