<template>
  <g>
    <path
      d="M9.33251 8.13043H16.3325L13.4125 5.21043C13.3188 5.11746 13.2444 5.00686 13.1936 4.885C13.1428 4.76314 13.1167 4.63244 13.1167 4.50043C13.1167 4.36841 13.1428 4.23771 13.1936 4.11585C13.2444 3.99399 13.3188 3.88339 13.4125 3.79043C13.5999 3.60418 13.8533 3.49963 14.1175 3.49963C14.3817 3.49963 14.6351 3.60418 14.8225 3.79043L19.4125 8.42043C19.5071 8.51464 19.5819 8.62684 19.6325 8.75043C19.7325 8.99389 19.7325 9.26697 19.6325 9.51043C19.5781 9.63196 19.5038 9.74351 19.4125 9.84043L14.7825 14.5004C14.5979 14.6888 14.3463 14.7967 14.0825 14.8004C13.8839 14.8016 13.6894 14.7436 13.5239 14.6338C13.3584 14.524 13.2293 14.3674 13.1531 14.1839C13.077 14.0005 13.0572 13.7985 13.0962 13.6037C13.1353 13.409 13.2315 13.2303 13.3725 13.0904L16.2925 10.1304H9.29251C8.49686 10.1304 7.73379 10.4465 7.17119 11.0091C6.60858 11.5717 6.29251 12.3348 6.29251 13.1304V19.5004C6.29251 19.7656 6.18715 20.02 5.99961 20.2075C5.81208 20.3951 5.55772 20.5004 5.29251 20.5004C5.02729 20.5004 4.77293 20.3951 4.5854 20.2075C4.39786 20.02 4.29251 19.7656 4.29251 19.5004V13.1304C4.29249 12.4704 4.42313 11.817 4.6769 11.2077C4.93067 10.5985 5.30255 10.0455 5.77108 9.58068C6.23962 9.11586 6.79555 8.7484 7.4068 8.49949C8.01805 8.25058 8.67254 8.12515 9.33251 8.13043Z"
      fill="currentColor"
    />
  </g>
</template>

