<template>
  <g>
    <path
      d="M9.96577 16.1444L6.14601 12.3335L9.96577 8.52266C10.133 8.35538 10.227 8.12851 10.227 7.89195C10.227 7.65539 10.133 7.42852 9.96577 7.26125C9.7985 7.09397 9.57163 7 9.33507 7C9.09851 7 8.87163 7.09397 8.70436 7.26125L4.26278 11.7028C4.17952 11.7854 4.11343 11.8837 4.06833 11.9919C4.02323 12.1002 4.00002 12.2163 4.00002 12.3335C4.00002 12.4508 4.02323 12.5669 4.06833 12.6752C4.11343 12.7834 4.17952 12.8817 4.26278 12.9642L8.70436 17.4058C8.78719 17.4886 8.88551 17.5543 8.99373 17.5992C9.10195 17.644 9.21793 17.6671 9.33507 17.6671C9.4522 17.6671 9.56818 17.644 9.6764 17.5992C9.78462 17.5543 9.88294 17.4886 9.96577 17.4058C10.0486 17.323 10.1143 17.2247 10.1591 17.1165C10.2039 17.0082 10.227 16.8922 10.227 16.7751C10.227 16.658 10.2039 16.542 10.1591 16.4338C10.1143 16.3256 10.0486 16.2272 9.96577 16.1444ZM14.0343 8.52266L17.854 12.3335L14.0343 16.1444C13.951 16.227 13.8849 16.3252 13.8398 16.4335C13.7947 16.5417 13.7715 16.6578 13.7715 16.7751C13.7715 16.8924 13.7947 17.0085 13.8398 17.1167C13.8849 17.225 13.951 17.3232 14.0343 17.4058C14.1168 17.4891 14.2151 17.5552 14.3233 17.6003C14.4316 17.6454 14.5477 17.6686 14.665 17.6686C14.7822 17.6686 14.8983 17.6454 15.0066 17.6003C15.1148 17.5552 15.2131 17.4891 15.2957 17.4058L19.7373 12.9642C19.8205 12.8817 19.8866 12.7834 19.9317 12.6752C19.9768 12.5669 20 12.4508 20 12.3335C20 12.2163 19.9768 12.1002 19.9317 11.9919C19.8866 11.8837 19.8205 11.7854 19.7373 11.7028L15.2957 7.26125C15.1284 7.09397 14.9015 7 14.665 7C14.4284 7 14.2015 7.09397 14.0343 7.26125C13.867 7.42852 13.773 7.65539 13.773 7.89195C13.773 8.12851 13.867 8.35538 14.0343 8.52266Z"
      fill="currentColor"
    />
  </g>
</template>
