<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.66512 1.87512C5.93786 1.87512 4.46823 2.49255 3.43468 3.60139C2.4075 4.7034 1.87512 6.22094 1.87512 7.91612V16.0841C1.87512 17.7782 2.40459 19.2959 3.43091 20.3984C4.46382 21.508 5.93393 22.1251 7.66512 22.1251H16.3331C18.0647 22.1251 19.5353 21.5081 20.5686 20.3986C21.5953 19.2961 22.1251 17.7783 22.1251 16.0841V7.91612C22.1251 6.22191 21.5953 4.70421 20.5687 3.60172C19.5356 2.49218 18.0653 1.87512 16.3341 1.87512H7.66512ZM3.62512 7.91612C3.62512 6.5843 4.03975 5.51884 4.71481 4.7946C5.38352 4.07719 6.37138 3.62512 7.66512 3.62512H16.3341C17.633 3.62512 18.6206 4.07757 19.288 4.79428C19.9619 5.51803 20.3751 6.58333 20.3751 7.91612V16.0841C20.3751 17.4169 19.9619 18.4822 19.2879 19.2059C18.6205 19.9226 17.6325 20.3751 16.3331 20.3751H7.66512C6.36631 20.3751 5.37892 19.9227 4.71183 19.2061C4.03815 18.4823 3.62512 17.417 3.62512 16.0841V7.91612ZM7.86011 12.0001C7.86011 11.4603 8.29736 11.0231 8.83711 11.0231H8.83961C9.37711 11.0238 9.81411 11.4607 9.81411 12.0001C9.81411 12.5398 9.37686 12.9771 8.83711 12.9771C8.29736 12.9771 7.86011 12.5398 7.86011 12.0001ZM8.83711 9.27307C7.33086 9.27307 6.11011 10.4938 6.11011 12.0001C6.11011 13.5063 7.33086 14.7271 8.83711 14.7271C10.0373 14.7271 11.0562 13.9521 11.4207 12.8751H13.3068V13.8522C13.3068 14.3355 13.6985 14.7272 14.1818 14.7272C14.665 14.7272 15.0568 14.3355 15.0568 13.8522V12.8751H16.135V13.8521C16.135 14.3354 16.5268 14.7271 17.01 14.7271C17.4933 14.7271 17.885 14.3354 17.885 13.8521V12.0001C17.885 11.5169 17.4933 11.1251 17.01 11.1251H11.4207C11.0565 10.0493 10.0393 9.27425 8.84096 9.27307H8.84011H8.83711Z"
      fill="currentColor"
    />
  </g>
</template>

