<template>
  <g clip-path="url(#clip0)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16 2.125C15.5168 2.125 15.125 2.51675 15.125 3C15.125 3.48325 15.5168 3.875 16 3.875H18.8876L14.9155 7.84709C13.5683 6.76941 11.8594 6.125 10 6.125C5.65076 6.125 2.125 9.65076 2.125 14C2.125 18.3492 5.65076 21.875 10 21.875C14.3492 21.875 17.875 18.3492 17.875 14C17.875 12.1406 17.2306 10.4317 16.1529 9.08453L20.125 5.11244V8C20.125 8.48325 20.5168 8.875 21 8.875C21.4832 8.875 21.875 8.48325 21.875 8V3C21.875 2.51675 21.4832 2.125 21 2.125H16ZM3.875 14C3.875 10.6173 6.61726 7.875 10 7.875C13.3827 7.875 16.125 10.6173 16.125 14C16.125 17.3827 13.3827 20.125 10 20.125C6.61726 20.125 3.875 17.3827 3.875 14Z"
      fill="currentColor"
    />
  </g>
</template>


