<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M19.7144 8.62026C19.0833 7.40606 18.1613 6.35614 17.02 5.57048C15.4079 4.46064 13.4593 3.94763 11.5097 4.11977C9.56003 4.29192 7.73143 5.13844 6.33871 6.51359C4.946 7.88874 4.07634 9.70646 3.87947 11.6537C3.6826 13.601 4.17085 15.556 5.26014 17.1821C6.34943 18.8082 7.9716 20.0036 9.84732 20.5625C11.723 21.1213 13.7349 21.0087 15.5366 20.244C17.3382 19.4793 18.8168 18.1103 19.7179 16.3729C19.9658 15.8949 19.7792 15.3064 19.3012 15.0585C18.8232 14.8106 18.2347 14.9972 17.9869 15.4752C17.2947 16.81 16.1588 17.8616 14.7747 18.4491C13.3907 19.0365 11.8451 19.1231 10.4041 18.6937C8.96316 18.2644 7.71698 17.346 6.88017 16.0969C6.04336 14.8477 5.66828 13.3458 5.81951 11.8499C5.97075 10.3539 6.63884 8.95754 7.70875 7.90112C8.77865 6.84471 10.1834 6.19439 11.6812 6.06215C13.1789 5.9299 14.6759 6.32401 15.9143 7.17661C16.8407 7.81434 17.5791 8.67875 18.0644 9.67919L17.7164 9.55073L15.0621 8.59465C14.6397 8.44239 14.1776 8.62761 13.9711 9.01218L13.9196 9.12737L13.9173 9.13371C13.7651 9.55663 13.9503 10.019 14.3344 10.2256L14.4494 10.2771L19.4377 12.0756C19.8614 12.2283 20.3248 12.0414 20.5303 11.655L20.5815 11.5392L22.3576 6.53876C22.5231 6.07273 22.2798 5.56082 21.8143 5.39529C21.3913 5.24484 20.93 5.4321 20.7252 5.81757L20.6741 5.93315L19.7144 8.62026Z"
      fill="currentColor"
    />
  </g>
</template>

