<template>
  <g>
    <path
      d="M14.6675 8.13043H7.66749L10.5875 5.21043C10.6812 5.11746 10.7556 5.00686 10.8064 4.885C10.8572 4.76314 10.8833 4.63244 10.8833 4.50043C10.8833 4.36841 10.8572 4.23771 10.8064 4.11585C10.7556 3.99399 10.6812 3.88339 10.5875 3.79043C10.4001 3.60418 10.1467 3.49963 9.88249 3.49963C9.61831 3.49963 9.36486 3.60418 9.17749 3.79043L4.58749 8.42043C4.49286 8.51464 4.41806 8.62684 4.36749 8.75043C4.26748 8.99389 4.26748 9.26697 4.36749 9.51043C4.42185 9.63196 4.49622 9.74351 4.58749 9.84043L9.21749 14.5004C9.40212 14.6888 9.65372 14.7967 9.91749 14.8004C10.1161 14.8016 10.3106 14.7436 10.4761 14.6338C10.6416 14.524 10.7707 14.3674 10.8469 14.1839C10.923 14.0005 10.9428 13.7985 10.9038 13.6037C10.8647 13.409 10.7685 13.2303 10.6275 13.0904L7.70749 10.1304H14.7075C15.5031 10.1304 16.2662 10.4465 16.8288 11.0091C17.3914 11.5717 17.7075 12.3348 17.7075 13.1304V19.5004C17.7075 19.7656 17.8129 20.02 18.0004 20.2075C18.1879 20.3951 18.4423 20.5004 18.7075 20.5004C18.9727 20.5004 19.2271 20.3951 19.4146 20.2075C19.6021 20.02 19.7075 19.7656 19.7075 19.5004V13.1304C19.7075 12.4704 19.5769 11.817 19.3231 11.2077C19.0693 10.5985 18.6975 10.0455 18.2289 9.58068C17.7604 9.11586 17.2045 8.7484 16.5932 8.49949C15.9819 8.25058 15.3275 8.12515 14.6675 8.13043Z"
      fill="currentColor"
    />
  </g>
</template>


