<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.25 5.81062V7.76573C10.25 8.24726 10.5752 8.661 11.0326 8.78297C12.8417 9.26541 14.8078 10.1758 16.4125 11.8421C17.7717 13.2534 18.9055 15.2417 19.4477 18.0586C18.3284 16.8142 17.3038 15.9148 16.2218 15.2286C14.8143 14.3359 13.3545 13.8329 11.5604 13.3686C10.8922 13.1956 10.25 13.7031 10.25 14.3842V16.1893L5.06067 11L10.25 5.81062ZM11.75 4.72422C11.75 3.78877 10.619 3.3203 9.95755 3.98176L3.68181 10.2575C3.27176 10.6675 3.27176 11.3324 3.68181 11.7424L9.95755 18.0182C10.619 18.6796 11.75 18.2111 11.75 17.2757V14.972C13.2047 15.3752 14.3396 15.8111 15.4185 16.4953C16.6356 17.2673 17.8265 18.3843 19.3166 20.2162C19.9351 20.9766 21.2816 20.5508 21.1677 19.457C20.7559 15.5019 19.3453 12.725 17.493 10.8016C15.7501 8.99183 13.6578 7.98036 11.75 7.42581V4.72422Z"
      fill="currentColor"
    />
  </g>
</template>


