<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M22 12C22 6.47712 17.5225 2 12 2C6.47745 2 2 6.47712 2 12C2 17.5222 6.47779 22 12 22C17.5222 22 22 17.5222 22 12ZM20.2512 12C20.2512 16.5564 16.5564 20.2512 12 20.2512C7.44358 20.2512 3.74875 16.5564 3.74875 12C3.74875 7.44295 7.44323 3.74875 12 3.74875C16.5568 3.74875 20.2512 7.44295 20.2512 12ZM14.1349 9.05494L14.0563 9.14555L11.19 11.9988L14.0561 14.8543C14.3657 15.1626 14.3947 15.6458 14.1427 15.987L14.1374 15.9942L14.059 16.0849C13.7507 16.3945 13.2673 16.4233 12.9261 16.1712L12.9189 16.166L12.8282 16.0875L9.34241 12.6163C9.03185 12.3071 9.00374 11.8221 9.25783 11.4809L9.26315 11.4738L9.34218 11.3831L12.8284 7.91231C13.1689 7.57328 13.7197 7.57447 14.0588 7.91496C14.367 8.22457 14.394 8.7079 14.1405 9.04804L14.1349 9.05494Z"
      fill="currentColor"
    />
  </g>
</template>

