<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M2 12C2 17.5229 6.47745 22 12 22C17.5225 22 22 17.5229 22 12C22 6.47779 17.5222 2 12 2C6.47779 2 2 6.47779 2 12ZM3.74875 12C3.74875 7.44358 7.44358 3.74875 12 3.74875C16.5564 3.74875 20.2512 7.44358 20.2512 12C20.2512 16.557 16.5568 20.2512 12 20.2512C7.44323 20.2512 3.74875 16.557 3.74875 12ZM9.86509 14.9451L9.94366 14.8544L12.81 12.0012L9.94388 9.14569C9.63427 8.83742 9.60526 8.3542 9.8573 8.01298L9.86258 8.00584L9.941 7.9151C10.2493 7.60549 10.7327 7.57671 11.0739 7.82875L11.0811 7.83402L11.1718 7.91245L14.6576 11.3837C14.9681 11.6929 14.9963 12.1779 14.7422 12.5191L14.7368 12.5262L14.6578 12.6169L11.1716 16.0877C10.8311 16.4267 10.2803 16.4255 9.94123 16.085C9.63295 15.7754 9.60603 15.2921 9.85954 14.952L9.86509 14.9451Z"
      fill="currentColor"
    />
  </g>
</template>

