<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 22C6.47712 22 2 17.5225 2 12C2 6.47745 6.47712 2 12 2C17.5222 2 22 6.47779 22 12C22 17.5222 17.5222 22 12 22ZM12 20.2512C16.5564 20.2512 20.2512 16.5564 20.2512 12C20.2512 7.44358 16.5564 3.74875 12 3.74875C7.44295 3.74875 3.74875 7.44323 3.74875 12C3.74875 16.5568 7.44295 20.2512 12 20.2512ZM9.05494 14.1349L9.14555 14.0563L11.9988 11.19L14.8543 14.0561C15.1626 14.3657 15.6458 14.3947 15.987 14.1427L15.9942 14.1374L16.0849 14.059C16.3945 13.7507 16.4233 13.2673 16.1712 12.9261L16.166 12.9189L16.0876 12.8282L12.6163 9.34241C12.3071 9.03185 11.8221 9.00374 11.4809 9.25784L11.4738 9.26315L11.3831 9.34218L7.91231 12.8284C7.57328 13.1689 7.57447 13.7197 7.91496 14.0588C8.22457 14.367 8.7079 14.394 9.04804 14.1405L9.05494 14.1349Z"
      fill="currentColor"
    />
  </g>
</template>

