<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 2C6.47712 2 2 6.47745 2 12C2 17.5225 6.47712 22 12 22C17.5222 22 22 17.5222 22 12C22 6.47779 17.5222 2 12 2ZM12 3.74875C16.5564 3.74875 20.2512 7.44358 20.2512 12C20.2512 16.5564 16.5564 20.2512 12 20.2512C7.44295 20.2512 3.74875 16.5568 3.74875 12C3.74875 7.44323 7.44295 3.74875 12 3.74875ZM9.05494 9.86509L9.14555 9.94366L11.9988 12.81L14.8543 9.94388C15.1626 9.63427 15.6458 9.60526 15.987 9.85731L15.9942 9.86258L16.0849 9.941C16.3945 10.2493 16.4233 10.7327 16.1712 11.0739L16.166 11.0811L16.0876 11.1718L12.6163 14.6576C12.3071 14.9681 11.8221 14.9963 11.4809 14.7422L11.4738 14.7368L11.3831 14.6578L7.91231 11.1716C7.57328 10.8311 7.57447 10.2803 7.91496 9.94123C8.22457 9.63295 8.7079 9.60603 9.04804 9.85954L9.05494 9.86509Z"
      fill="currentColor"
    />
  </g>
</template>
