<template>
  <g>
    <path
      d="M18.6693 4.22831L14.1744 8.731V7.49665C14.1744 7.29075 14.0926 7.09329 13.947 6.9477C13.8014 6.80211 13.6039 6.72032 13.398 6.72032C13.1922 6.72032 12.9947 6.80211 12.8491 6.9477C12.7035 7.09329 12.6217 7.29075 12.6217 7.49665V10.602C12.6229 10.7034 12.644 10.8036 12.6838 10.897C12.7626 11.0866 12.9134 11.2374 13.103 11.3162C13.1964 11.356 13.2966 11.3771 13.398 11.3783H16.5034C16.7093 11.3783 16.9067 11.2965 17.0523 11.1509C17.1979 11.0053 17.2797 10.8078 17.2797 10.602C17.2797 10.3961 17.1979 10.1986 17.0523 10.053C16.9067 9.90741 16.7093 9.82562 16.5034 9.82562H15.269L19.7717 5.33069C19.9179 5.18451 20 4.98624 20 4.7795C20 4.57277 19.9179 4.3745 19.7717 4.22831C19.6255 4.08213 19.4272 4 19.2205 4C19.0138 4 18.8155 4.08213 18.6693 4.22831ZM11.3175 13.1017C11.2387 12.912 11.088 12.7613 10.8983 12.6825C10.8049 12.6427 10.7047 12.6216 10.6033 12.6204H7.49797C7.29208 12.6204 7.09461 12.7022 6.94902 12.8478C6.80343 12.9934 6.72164 13.1908 6.72164 13.3967C6.72164 13.6026 6.80343 13.8001 6.94902 13.9457C7.09461 14.0913 7.29208 14.1731 7.49797 14.1731H8.73233L4.22964 18.668C4.15687 18.7401 4.09912 18.826 4.0597 18.9206C4.02029 19.0152 4 19.1167 4 19.2192C4 19.3217 4.02029 19.4231 4.0597 19.5177C4.09912 19.6123 4.15687 19.6982 4.22964 19.7704C4.30181 19.8431 4.38767 19.9009 4.48227 19.9403C4.57687 19.9797 4.67834 20 4.78083 20C4.88331 20 4.98478 19.9797 5.07938 19.9403C5.17399 19.9009 5.25985 19.8431 5.33202 19.7704L9.82695 15.2677V16.502C9.82695 16.7079 9.90874 16.9054 10.0543 17.051C10.1999 17.1966 10.3974 17.2784 10.6033 17.2784C10.8092 17.2784 11.0066 17.1966 11.1522 17.051C11.2978 16.9054 11.3796 16.7079 11.3796 16.502V13.3967C11.3784 13.2953 11.3573 13.1951 11.3175 13.1017Z"
      fill="currentColor"
    />
  </g>
</template>

