<template>
  <g>
    <path
      d="M16.1444 14.0342L12.3335 17.854L8.52266 14.0342C8.35538 13.867 8.12851 13.773 7.89195 13.773C7.65539 13.773 7.42852 13.867 7.26125 14.0342C7.09397 14.2015 7 14.4284 7 14.6649C7 14.9015 7.09397 15.1284 7.26125 15.2957L11.7028 19.7372C11.7854 19.8205 11.8837 19.8866 11.9919 19.9317C12.1002 19.9768 12.2163 20 12.3335 20C12.4508 20 12.5669 19.9768 12.6752 19.9317C12.7834 19.8866 12.8817 19.8205 12.9642 19.7372L17.4058 15.2957C17.4886 15.2128 17.5543 15.1145 17.5992 15.0063C17.644 14.8981 17.6671 14.7821 17.6671 14.6649C17.6671 14.5478 17.644 14.4318 17.5992 14.3236C17.5543 14.2154 17.4886 14.1171 17.4058 14.0342C17.323 13.9514 17.2247 13.8857 17.1165 13.8409C17.0082 13.7961 16.8922 13.773 16.7751 13.773C16.658 13.773 16.542 13.7961 16.4338 13.8409C16.3256 13.8857 16.2272 13.9514 16.1444 14.0342ZM8.52266 9.96575L12.3335 6.14599L16.1444 9.96575C16.227 10.049 16.3252 10.1151 16.4335 10.1602C16.5417 10.2053 16.6578 10.2285 16.7751 10.2285C16.8924 10.2285 17.0085 10.2053 17.1167 10.1602C17.225 10.1151 17.3232 10.049 17.4058 9.96575C17.4891 9.88317 17.5552 9.78493 17.6003 9.67668C17.6454 9.56843 17.6686 9.45232 17.6686 9.33505C17.6686 9.21778 17.6454 9.10167 17.6003 8.99342C17.5552 8.88517 17.4891 8.78693 17.4058 8.70435L12.9642 4.26276C12.8817 4.1795 12.7834 4.11342 12.6752 4.06832C12.5669 4.02322 12.4508 4 12.3335 4C12.2163 4 12.1002 4.02322 11.9919 4.06832C11.8837 4.11342 11.7854 4.1795 11.7028 4.26276L7.26125 8.70435C7.09397 8.87162 7 9.09849 7 9.33505C7 9.57161 7.09397 9.79848 7.26125 9.96575C7.42852 10.133 7.65539 10.227 7.89195 10.227C8.12851 10.227 8.35538 10.133 8.52266 9.96575Z"
      fill="currentColor"
    />
  </g>
</template>

