<template>
  <div id="BadgeSmall" :class="mainClass">
    <span>
      <slot>{{ label }}</slot>
    </span>
  </div>
</template>

<script>
import { BadgesMixins } from 'components/mixins/BadgesMixins'

export default {
  name: "BadgeSmall",
  mixins: [ BadgesMixins ],
};
</script>

<style lang="scss" scoped>
#BadgeSmall {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  background-color: $blue;
  color: $white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 8px;
}

.jade {
  background-color: $jade !important;
}

.pink {
  background-color: $pink !important;
}

.purple {
  background-color: $purple !important;
}

.success {
  background-color: $success !important;
}

.warning {
  background-color: $warning !important;
}

.negative {
  background-color: $negative !important;
}

.greyscale300 {
  background-color: $greyscale-300 !important;
  color: $greyscale-800 !important;
}

.greyscale500 {
  background-color: $greyscale-500 !important;
}

.greyscale900 {
  background-color: $greyscale-900 !important;
}
</style>
