<template>
  <div id="BadgeAmountOutline" :class="mainClass">
    <span>
      <slot>{{ label }}</slot>
    </span>
  </div>
</template>

<script>
import {BadgesMixins} from "components/mixins/BadgesMixins";

export default {
  name: "BadgeAmountOutline",
  mixins: [BadgesMixins],
};
</script>

<style lang="scss" scoped>
#BadgeAmountOutline {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 100px;
  background-color: transparent;
  color: $white;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  width: 52px;
  max-width: 52px;
  max-height: 24px;
}

.jade {
  border: 2px solid $jade !important;
  color: $jade !important;
}

.pink {
  border: 2px solid $pink !important;
  color: $pink !important;
}

.purple {
  border: 2px solid $purple !important;
  color: $purple !important;
}

.success {
  border: 2px solid $success !important;
  color: $success !important;
}

.warning {
  border: 2px solid $warning !important;
  color: $warning !important;
}

.negative {
  border: 2px solid $negative !important;
  color: $negative !important;
}

.greyscale300 {
  border: 2px solid $greyscale-300 !important;
  color: $greyscale-800 !important;
}

.greyscale500 {
  border: 2px solid $greyscale-500 !important;
  color: $greyscale-500 !important;
}

.greyscale900 {
  border: 2px solid $greyscale-900 !important;
  color: $greyscale-900 !important;
}
</style>
