<template>
  <div :class="`checkbox`">
    <input id="returnToList" type="checkbox" name="return" v-model="checkbox">
    <label for="returnToList" class="flex items-center cursor-pointer q-ml-sm text-weight-semi-bold">
      {{ label }}
    </label>
  </div>
</template>

<script>
export default {
  name: "InputCheckboxComponent",
  props: {
    label: String,
    checked: Boolean
  },
  data() {
    return {
      checkbox: false,
    }
  },
  computed: {
  },
  mounted() {
    if (this.checked !== undefined) {
      this.checkbox = this.checked
    }
  },
  watch: {
    checkbox() {
      this.$emit('change', this.checkbox)
    }
  }
}
</script>

<style lang="scss" scoped>

.checkbox {

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + label::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' fill='none' color='white' xmlns='http://www.w3.org/2000/svg' style='width: 20px; height: 20px;'%3e%3cg%3e%3cpath d='M4 12L9.33483 18L20 6' stroke='currentColor' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
      background-color: $blue;
    }
  }

  label {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: $greyscale-900;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 6px;
      border: 1px solid $blue;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 80% 80%;
    }
  }

}
</style>