<template>
  <div class="select">
    <span class="q-mr-md text-weight-semi-bold">{{ label }}</span>
    <q-select borderless :options="options" v-model="selected" />
  </div>
</template>

<script>
export default {
  name: "SelectComponent",
  props: {
    label: String,
    options: Array,
    default: [String, Object]
  },
  data() {
    return {
      selected: this.default
    }
  },
  watch: {
    selected() {
      this.$emit('change', this.selected.value)
    }
  }
}
</script>

<style lang="scss">
.select {
  .q-select {
    height: 50px;
    min-width: 205px;
    background-color: $white;
    border-radius: 8px;

    .q-field {

      &__native {
        height: 50px;
        min-height: 50px;
        padding-left: 24px;

        span {
          color: $greyscale-500;
        }

      }

      &__append {
        height: 50px;
        padding-right: 10px;
      }

    }
  }

  span {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: $greyscale-900;
  }
}
</style>