<template>
  <q-layout view="lhr LpR fff" style="background-color: #E5E5E5; display: flex; justify-content: center; padding: 30px 0">

    <q-page :style-fn="() => { return { maxWidth: '1400px' } }">
      <router-view />
    </q-page>

  </q-layout>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style lang="scss">
  @import "@/styles/quasar.scss";
</style>
