<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0.87868 3.87868C0.316071 4.44129 0 5.20435 0 6V13.5H24V6C24 5.20435 23.6839 4.44129 23.1213 3.87868C22.5587 3.31607 21.7956 3 21 3H3C2.20435 3 1.44129 3.31607 0.87868 3.87868ZM16.7197 7.71967C16.8603 7.57902 17.0511 7.5 17.25 7.5H20.25C20.4489 7.5 20.6397 7.57902 20.7803 7.71967C20.921 7.86032 21 8.05109 21 8.25V9.75C21 9.94891 20.921 10.1397 20.7803 10.2803C20.6397 10.421 20.4489 10.5 20.25 10.5H17.25C17.0511 10.5 16.8603 10.421 16.7197 10.2803C16.579 10.1397 16.5 9.94891 16.5 9.75V8.25C16.5 8.05109 16.579 7.86032 16.7197 7.71967ZM0 18V16.5H24V18C24 18.7956 23.6839 19.5587 23.1213 20.1213C22.5587 20.6839 21.7956 21 21 21H3C2.20435 21 1.44129 20.6839 0.87868 20.1213C0.316071 19.5587 0 18.7956 0 18Z"
      fill="#11142D"
    />
  </g>
</template>

