<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20.2655 12.2591C20.185 12.0945 20.185 11.9057 20.2655 11.741L21.0114 10.2151C21.4267 9.36543 21.0977 8.35274 20.2623 7.9095L18.7619 7.11341C18.6 7.02755 18.4891 6.87474 18.4574 6.69431L18.1639 5.02131C18.0005 4.08983 17.1389 3.46389 16.2027 3.59635L14.521 3.83424C14.3394 3.85987 14.1599 3.80151 14.0283 3.67413L12.8075 2.4932C12.1278 1.83562 11.063 1.83558 10.3833 2.4932L9.16251 3.67425C9.03079 3.80167 8.8513 3.85991 8.66981 3.83436L6.98806 3.59647C6.05154 3.46393 5.19022 4.08995 5.02682 5.02143L4.73339 6.69435C4.70171 6.87482 4.59073 7.02759 4.42889 7.11349L2.92851 7.90958C2.09312 8.35278 1.76406 9.36555 2.17937 10.2152L2.92527 11.7411C3.00574 11.9058 3.00574 12.0946 2.92527 12.2592L2.17934 13.7851C1.76402 14.6348 2.09309 15.6475 2.92847 16.0907L4.42886 16.8868C4.59073 16.9727 4.70171 17.1255 4.73339 17.3059L5.02682 18.9789C5.17557 19.8269 5.90268 20.4215 6.73834 20.4215C6.82064 20.4215 6.90416 20.4157 6.9881 20.4038L8.66985 20.1659C8.85122 20.1402 9.03083 20.1987 9.16254 20.326L10.3833 21.507C10.7232 21.8358 11.1592 22.0002 11.5954 22.0001C12.0314 22.0001 12.4677 21.8357 12.8075 21.507L14.0283 20.326C14.16 20.1987 14.3395 20.1405 14.521 20.1659L16.2027 20.4038C17.1393 20.5363 18.0005 19.9103 18.1639 18.9789L18.4574 17.3059C18.4891 17.1255 18.6001 16.9727 18.7619 16.8868L20.2623 16.0907C21.0977 15.6475 21.4267 14.6347 21.0114 13.7851L20.2655 12.2591ZM9.28832 6.80927C10.4544 6.80927 11.4031 7.75798 11.4031 8.92406C11.4031 10.0902 10.4544 11.0389 9.28832 11.0389C8.12224 11.0389 7.17353 10.0902 7.17353 8.92406C7.17353 7.75798 8.12224 6.80927 9.28832 6.80927ZM8.19677 16.2143C8.08415 16.3269 7.93653 16.3832 7.78896 16.3832C7.64138 16.3832 7.49372 16.327 7.38115 16.2143C7.15591 15.9891 7.15591 15.6239 7.38115 15.3986L14.994 7.78583C15.2192 7.56059 15.5844 7.56059 15.8096 7.78583C16.0349 8.01106 16.0349 8.37625 15.8096 8.60149L8.19677 16.2143ZM13.9024 17.1909C12.7363 17.1909 11.7876 16.2422 11.7876 15.0761C11.7876 13.9101 12.7363 12.9613 13.9024 12.9613C15.0685 12.9613 16.0172 13.9101 16.0172 15.0761C16.0172 16.2422 15.0685 17.1909 13.9024 17.1909ZM13.9029 14.1159C13.3728 14.1159 12.9416 14.5471 12.9416 15.0772C12.9416 15.6072 13.3728 16.0384 13.9029 16.0384C14.4329 16.0384 14.8641 15.6072 14.8641 15.0772C14.8641 14.5471 14.4329 14.1159 13.9029 14.1159ZM8.32733 8.92316C8.32733 8.39312 8.75854 7.96191 9.28858 7.96191C9.81861 7.96191 10.2498 8.39316 10.2499 8.92316C10.2499 9.45324 9.81861 9.88444 9.28858 9.88444C8.75854 9.88444 8.32733 9.4532 8.32733 8.92316Z"
      fill="#11142D"
    />
  </g>
</template>


