<template>
  <g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M12 21.75C17.3847 21.75 21.75 17.3847 21.75 12C21.75 6.61529 17.3847 2.25 12 2.25C6.61529 2.25 2.25 6.61529 2.25 12C2.25 17.3847 6.61529 21.75 12 21.75ZM17.2555 10.6991C17.3552 10.6271 17.4912 10.6298 17.5859 10.7067C17.6818 10.7836 17.7143 10.9147 17.6645 11.0268C17.632 11.1 16.8525 12.8127 15.2503 12.8127C13.6486 12.8127 12.8686 11.1 12.8361 11.0268C12.7862 10.9142 12.8187 10.782 12.9152 10.7051C13.0105 10.6282 13.147 10.626 13.2461 10.7002L13.2463 10.7003C13.2596 10.7097 13.9365 11.1877 15.2503 11.1877C16.5725 11.1877 17.249 10.704 17.2555 10.6991ZM8.75028 11.1877C10.073 11.1877 10.749 10.704 10.7555 10.6991C10.8541 10.6271 10.9906 10.6293 11.0859 10.7067C11.1818 10.7836 11.2143 10.9147 11.1645 11.0268C11.132 11.1 10.3525 12.8127 8.75028 12.8127C7.14857 12.8127 6.36857 11.1 6.33607 11.0268C6.28624 10.9142 6.31874 10.782 6.41515 10.7051C6.51103 10.6282 6.64699 10.626 6.74611 10.7002L6.74629 10.7003C6.75981 10.7099 7.43614 11.1877 8.75028 11.1877ZM17.5253 9.07521C17.632 9.21713 17.7939 9.29188 17.9592 9.29188C18.0724 9.29188 18.1861 9.25667 18.2831 9.18301C18.5225 9.00371 18.5712 8.66409 18.3914 8.42467C16.5828 6.01317 13.6437 6.56838 13.5186 6.59384C13.2255 6.65288 13.0354 6.93834 13.0939 7.23138C13.1529 7.52442 13.4352 7.71455 13.7314 7.65605L13.7317 7.656C13.7687 7.64909 16.1254 7.20874 17.5253 9.07521ZM5.71695 9.18355C5.81445 9.25667 5.92874 9.29188 6.0414 9.29188C6.20607 9.29188 6.36911 9.21713 6.47528 9.07521C7.86736 7.21946 10.1694 7.63817 10.2702 7.65713C10.5627 7.71455 10.8476 7.52442 10.9061 7.23192C10.9652 6.93834 10.775 6.65288 10.4814 6.59438C10.3569 6.56946 7.41724 6.01263 5.60861 8.42521C5.42932 8.66463 5.47753 9.00426 5.71695 9.18355ZM14.5228 15.0536C14.6122 14.9745 14.7444 14.961 14.8462 15.0211C14.9475 15.0823 15 15.2004 14.9713 15.3158C14.9654 15.3396 14.3511 17.6877 12.0003 17.6877C9.64945 17.6877 9.0352 15.3396 9.02978 15.3158C8.99999 15.1977 9.05307 15.0742 9.1587 15.014C9.26486 14.9555 9.39757 14.9718 9.4837 15.0585C9.4837 15.0585 10.0281 15.521 12.0003 15.521C13.9563 15.521 14.5075 15.0663 14.5225 15.0538L14.5228 15.0536Z"
      fill="#11142D"
    />
  </g>
</template>

