<template>
  <g clip-path="url(#clip0)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M18.9819 8.81039C20.0081 9.79916 21.1614 10.6319 22.4081 11.2844C22.5562 11.352 22.5208 11.7846 22.334 12.0212C20.462 14.37 17.8933 14.1005 15.3246 13.8311C12.874 13.574 10.4234 13.3169 8.57766 15.3333L6.02732 5.74832C6.00201 5.65094 5.96636 5.55684 5.92105 5.4678C7.76781 3.422 10.2291 3.68023 12.6907 3.9385C15.2595 4.20802 17.8287 4.47757 19.7 2.12859C19.8867 1.89201 20.0639 1.9934 20.0252 2.33814C19.7811 4.41071 19.4034 6.46354 18.8949 8.48255C18.8619 8.60029 18.8956 8.72751 18.9819 8.81039ZM7.58592 21.872L7.17319 21.9752C6.77619 22.0744 6.36444 21.867 6.25351 21.5118L1.53465 6.40588C1.39599 5.96193 1.68591 5.50148 2.18219 5.37744L2.23549 5.36413C2.47379 5.30456 2.7288 5.33211 2.9444 5.44073C3.15999 5.54935 3.31852 5.73014 3.38511 5.94332L8.10385 21.0493C8.21478 21.4044 7.9829 21.7728 7.58592 21.872Z"
      fill="#11142D"
    />
  </g>
</template>


