<template>
  <g>
    <path
      d="M13.5 7.76581C13.5 7.90347 13.4072 8.02291 13.2742 8.05838C9.4709 9.0726 4.87097 11.9215 4.07826 19.5347C4.04775 19.8278 4.41569 19.9716 4.6016 19.743C7.63655 16.0119 9.60004 15.0077 13.1276 14.0947C13.3165 14.0458 13.5 14.1891 13.5 14.3843V17.2758C13.5 17.543 13.8231 17.6769 14.0121 17.4879L20.2879 11.2122C20.405 11.095 20.405 10.9051 20.2879 10.7879L14.0121 4.51218C13.8231 4.32319 13.5 4.45704 13.5 4.72431V7.76581Z"
      fill="#11142D"
    />
  </g>
</template>


