<template>
  <g>
    <path
      d="M14.75 6.75C14.75 5.33333 13.6907 4.625 11.5722 4.625H10.6556C10.3704 4.625 10.1056 4.71875 9.86111 4.90625C9.61667 5.09375 9.47407 5.33333 9.43333 5.625L8.57778 9.375V9.5625C8.57778 9.77083 8.64907 9.94792 8.79167 10.0938C8.93426 10.2396 9.10741 10.3125 9.31111 10.3125H10.0444C10.6556 10.3125 11.2259 10.25 11.7556 10.125C12.2852 10 12.7843 9.8125 13.2528 9.5625C13.7213 9.3125 14.088 8.94792 14.3528 8.46875C14.6176 7.98958 14.75 7.41667 14.75 6.75ZM22.7556 8.8125C22.7556 11.2292 21.7778 13.1667 19.8222 14.625C17.9074 16.0833 15.1981 16.8125 11.6944 16.8125H10.9C10.6148 16.8125 10.35 16.9062 10.1056 17.0938C9.86111 17.2812 9.71852 17.5208 9.67778 17.8125L8.7 22.125C8.61852 22.4167 8.43518 22.6771 8.15 22.9062C7.86481 23.1354 7.55926 23.25 7.23333 23.25H4.42222C4.13704 23.25 3.90278 23.1667 3.71944 23C3.53611 22.8333 3.44444 22.6042 3.44444 22.3125C3.44444 22.2292 3.50556 21.9375 3.62778 21.4375H5.58333C5.90926 21.4375 6.20463 21.3333 6.46944 21.125C6.73426 20.9167 6.88704 20.6667 6.92778 20.375L7.90556 16.0625C7.98704 15.7708 8.16018 15.5208 8.425 15.3125C8.68981 15.1042 8.96481 15 9.25 15H10.0444C13.5074 15 16.1963 14.2708 18.1111 12.8125C20.0259 11.3542 20.9833 9.4375 20.9833 7.0625C20.9833 5.89583 20.7593 4.97917 20.3111 4.3125C21.9407 5.14583 22.7556 6.64583 22.7556 8.8125ZM20.3111 6.3125C20.3111 8.6875 19.3333 10.625 17.3778 12.125C15.463 13.5833 12.7537 14.3125 9.25 14.3125H8.45555C8.17037 14.3125 7.90556 14.4062 7.66111 14.5938C7.41667 14.7812 7.27407 15.0208 7.23333 15.3125L6.25556 19.5625C6.17407 19.8958 6.00093 20.1771 5.73611 20.4062C5.4713 20.6354 5.15556 20.75 4.78889 20.75H1.97778C1.69259 20.75 1.45833 20.6667 1.275 20.5C1.09167 20.3333 1 20.1042 1 19.8125V19.5625L5.03333 1.875C5.07407 1.58333 5.23704 1.32292 5.52222 1.09375C5.80741 0.864583 6.11296 0.75 6.43889 0.75H12.3667C12.937 0.75 13.4769 0.760417 13.9861 0.78125C14.4954 0.802083 15.0352 0.864583 15.6056 0.96875C16.1759 1.07292 16.675 1.20833 17.1028 1.375C17.5306 1.54167 17.9583 1.77083 18.3861 2.0625C18.8139 2.35417 19.1602 2.6875 19.425 3.0625C19.6898 3.4375 19.9037 3.90625 20.0667 4.46875C20.2296 5.03125 20.3111 5.64583 20.3111 6.3125Z"
      fill="#11142D"
    />
  </g>
</template>

