<template>
  <g>
    <path
      d="M11.2258 8.05838C15.0291 9.0726 19.629 11.9215 20.4217 19.5347C20.4522 19.8278 20.0843 19.9716 19.8984 19.743C16.8634 16.0119 14.9 15.0077 11.3724 14.0947C11.1835 14.0458 11 14.1891 11 14.3843V17.2758C11 17.543 10.6769 17.6769 10.4879 17.4879L4.21213 11.2122C4.09497 11.095 4.09497 10.9051 4.21213 10.7879L10.4879 4.51218C10.6769 4.32319 11 4.45704 11 4.72431V7.76581C11 7.90347 11.0928 8.02291 11.2258 8.05838Z"
      fill="#11142D"
    />
  </g>
</template>



