<template>
  <component :is="iconComponent" :name="realName" :size="size" />
</template>

<script>
const iconsSets = {
  BaseIcons20: () => import("components/elements/icons/baseIcons/baseIcons20"),
  BaseIcons24: () => import("components/elements/icons/baseIcons/baseIcons24"),
  // FlagIcons: () => import("components/elements/icons/flagIcons/flagIcons"),
  // SocialIcons: () => import("components/elements/icons/socialIcons/socialIcons"),
};

export default {
  name: "CustomIcon",
  props: {
    name: { type: String, required: true },
    size: String,
    iconSet: String,
  },
  data() {
    return {
      realName: "",
      realSet: "",
    };
  },
  computed: {
    iconComponent() {
      return this.realSet && Object.keys(iconsSets).includes(this.realSet)
        ? iconsSets[this.realSet]
        : iconsSets["IconsOther"];
    },
  },
  watch: {
    name() {
      this.renderIcon();
    },
    size() {
      this.renderIcon();
    },
  },
  methods: {
    renderIcon() {
      this.realSet = this.iconSet;
      this.realName = this.name;
      const nameParts = this.name.split(".");
      if (nameParts.length > 1) {
        this.realSet = nameParts[0];
        this.realName = nameParts[1];
      }
    },
  },
  created() {
    this.renderIcon();
  },
};
</script>
